.b-header
    .b-inner-container
        .b-breadcrumbs-wrapper
            .b-mobile-menu.j-mobile-menu
            ul.b-breadcrumbs
                li.b-breadcrumbs__item.m-breadcrumbs__item_root
                    a(href="/") Home
                li.b-breadcrumbs__item.j-breadcrumbs__item
                    a(href=js0) Панель управления
                li.b-breadcrumbs__item.m-breadcrumbs__item_divider
                    | / 
                li.b-breadcrumbs__item.m-breadcrumbs__item_active
                    span Мои магазины

        .b-btn.m-btn_support.j-btn_support
            .b-icon.m-icon_support
            | Служба поддержки