.b-breadcrumb
    .btn.btn-support
        .icon.icon--support
        | Служба поддержки

    ul.breadcrumb
        li.root
            a(href="/") Home
        li.divider
            | / 
        li
            a(href=js0) Панель управления
        li.divider
            | / 
        li.active
            span Мои магазины