head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	//- meta(name='imagetoolbar' content='no')
	//- meta(name='msthemecompatible' content='no')
	//- meta(name='cleartype' content='on')
	//- meta(name='HandheldFriendly' content='True')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	block head
	title#title= pageTitle || page.title
	meta(name='description' content=pageDescription || page.description)
	meta(name='keywords' content=pageKeywords || page.keywords)
	meta(name='copyright' content=pageCopyright || page.copyright)

	link(href='https://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic' rel='stylesheet')
	link(href='styles/common.css' rel='stylesheet')
