.b-informer.b-informer--fail
	.b-informer__icon
	p.b-informer__text
		| Ошибка проведения операции
	.b-informer__close
		| &times;

.b-informer.b-informer--alert
	.b-informer__icon
	p.b-informer__text
		| Внимание! Спасибо за внимание.
	.b-informer__close
		| &times;

.b-informer.b-informer--done
	.b-informer__icon
	p.b-informer__text
		| Операция завершена успешно.
	.b-informer__close
		| &times;