.b-informer.m-informer_fail
	.b-informer__icon
	p.b-informer__text
		| Ошибка проведения операции
	.b-informer__close
		| &times;

.b-informer.m-informer_alert
	.b-informer__icon
	p.b-informer__text
		| Внимание! Спасибо за внимание.
	.b-informer__close
		| &times;

.b-informer.m-informer_done
	.b-informer__icon
	p.b-informer__text
		| Операция завершена успешно.
	.b-informer__close
		| &times;