if(navtop_profile_legal)
    ul.b-profile-menu.j-profile-tabs
        li.b-profile-menu__item(data-some="1")
            span.b-profile-menu__icon.j-hint(title="Данные подтверждены" data-theme="g-hint" data-position="bottom-left")
            span.b-profile-menu__text Профиль 
        li.b-profile-menu__item(data-some="2")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified.j-hint(title="Данные не подтверждены" data-theme="g-hint" data-position="bottom")
            span.b-profile-menu__text Персональные данные 
        li.b-profile-menu__item(data-some="3")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified
            span.b-profile-menu__text Ревизиты 
        li.b-profile-menu__item(data-some="4")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified
            span.b-profile-menu__text Банковский счёт 
        li.b-profile-menu__item(data-some="5")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified
            span.b-profile-menu__text Договора 
        li.b-profile-menu__item(data-some="6")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified
            span.b-profile-menu__text Безопасность 

if(navtop_profile_private)
    ul.b-profile-menu.j-profile-tabs
        li.b-profile-menu__item(data-some="1")
            span.b-profile-menu__icon.j-hint(title="Данные подтверждены" data-theme="g-hint" data-position="bottom-left")
            span.b-profile-menu__text Профиль 
        li.b-profile-menu__item(data-some="2")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified.j-hint(title="Данные не подтверждены" data-theme="g-hint" data-position="bottom")
            span.b-profile-menu__text Персональные данные 
        li.b-profile-menu__item(data-some="3")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified
            span.b-profile-menu__text Верификация
        li.b-profile-menu__item(data-some="4")
            span.b-profile-menu__icon.m-profile-menu__icon_not-verified
            span.b-profile-menu__text Безопасность 
    .b-warning
        span.b-warning__close.j-warning-close
        span.b-warning__icon
        span.b-warning__text
            | Для продолжения, заполните раздел <strong class="g-strong g-strong_neutral">«Пресональные данные»</strong>
