.b-subnavigation
    .b-inner-container
        ul.b-subnavigation__list
            li.b-subnavigation__item.m-subnavigation__item_active
                a(href="/") Мои магазины
            li.b-subnavigation__item
                a(href=js0) Рубрикатор
            li.b-subnavigation__item
                a(href=js0) Доставка