if(prevpageMyGoodsAdd)
    .b-previous-page
        a(href="#").b-previous-page__btn 
        strong Добавление цифрового товара

if(prevpageMyGoodsAddPhy)
    .b-previous-page
        a(href="#").b-previous-page__btn 
        strong Добавление физического товара

if(prevpageMyShopsChosenTheme)
    .b-previous-page
        a(href="#").b-previous-page__btn 
        strong Интеграция сайта

if(prevpageMyShopsCodeSettings)
    .b-previous-page
        a(href="#").b-previous-page__btn 
        strong Выбор темы оформления

if(prevpageMyShopsStoreData)
    .b-previous-page
        a(href="#").b-previous-page__btn 
        strong Создание нового магазина

if(prevpageMyShopsCreate)
    .b-previous-page
        a(href="#").b-previous-page__btn 
        strong Торговая платформа полного цикла Pokupo