+script([
	'debug.js',
	'libs/jquery-2.1.1.min.js',
    'http://vjs.zencdn.net/4.7/video.js',
	'libs/jquery.tooltip.js',
	'libs/playlist.js',
    'libs/d3.min.js',
    'libs/c3.min.js',
    'libs/moment.min.js',
    'libs/jquery.plugin.min.js',
    'libs/jquery.datepick.min.js',
    'libs/jquery.arcticmodal.js'
])

block scriptsLibs

block scripts