+script([
    'libs/jquery-2.1.1.min.js',
    'http://vjs.zencdn.net/4.7/video.js',
    'libs/jstarbox.js',
    'libs/jquery.tooltip.js',
    'libs/playlist.js',
    'libs/d3.min.js',
    'libs/c3.min.js',
    'libs/moment.min.js',
    'libs/jquery.plugin.min.js',
    'libs/jquery.datepick.min.js',
    'libs/formstone.core.js',
    'libs/formstone.touch.js',
    'libs/formstone.dropdown.js',
    'libs/jquery.mCustomScrollbar.concat.min.js', 
    'libs/jquery.arcticmodal.js',
    'libs/select2.full.min.js',
    'libs/tabulous.js',
    'libs/checkboxTree.js',
    'tinymce/tinymce.min.js',
    'common.js',
    'debug.js'
])