//bestseller
.b-bestseller
    margin-bottom 10px
    
.b-bestseller__table 
    width 100%
    table-layout fixed
    margin-top -37px
    color #333333

.b-bestseller__table thead td
    height 54px
    font-size 13px
    font-weight 700
    vertical-align top

.b-bestseller__table thead td:nth-child(1)
    width 95px
    
.b-bestseller__table thead td:nth-child(2)
    width 36%

.b-bestseller__table tbody tr
    border 1px solid #d4d4d4

.b-bestseller__table tbody td
    padding 5px 0
    font-weight 600
    
.b-bestseller__table tbody td:nth-child(2)
    padding-right 85px
    
.b-bestseller__link
    line-height 20px
    font-weight normal
    text-decoration none
    border-bottom 1px solid #b9d7de
    &:hover
        border-bottom none

.b-bestseller__img-holder
    float left
    width 60px
    height 60px
    margin 0 14px 0 21px
    & img
        max-width 60px
        max-height 60px  