//general_goods_statistic
.b-general-goods-statistic__to-all
    line-height 17px
    margin-top 9px
    display inline-block     

.b-general-goods-statistic__table
    width 100%
    table-layout fixed
    margin 7px 0 13px 0
    
.b-general-goods-statistic td
    text-align center
    height 73px
    border-left 1px solid #ccc

.b-general-goods-statistic td 
    &:first-child
        border-left: none

.b-general-goods-statistic__cell-title
    font-size 13px
    line-height 16px
    display block
    margin-bottom 8px

.b-general-goods-statistic__link
    display block
    color #000
    text-decoration none
    font-weight 600
    font-size 30px
    &:hover
        color #177a93 
        