include ../__helpers/variables
include ../__helpers/mixins

block variables

doctype html
html(lang='ru')
    include ../common-blocks/head
    body
        .b-page-container
            include ../common-blocks/sidebar
            .b-page-content
                include ../common-blocks/breadcrumb
                if(navtop) 
                    include ../common-blocks/navtop
                if(prevpage)
                    include ../common-blocks/prevpage
                .b-inner-content
                        block content

        include ../common-blocks/scripts
