if(files)
    .b-files
        .b-pkp-block.m-pkp-block_full-width
            .b-block-title
                .b-block-title__right
                    a(href="#").b-btn-green.m-btn-green_add-file Загрузить из файла
                    a(href="#").b-btn-green.m-btn-green_add-file Дoбавить файл
                .b-block-title__left
                    h2.b-block-title__heading
                        |  Файлы
            table.b-files__table
                thead
                    tr
                        th
                            | ID
                        th
                            | Метка
                        th
                            | Информация
                        th
                            | Загрузки
                        th
                            | Доступность
                        th
                            | Тип товара
                        th
                            | Статус
                        th
                            | Действия
                tbody
                    tr
                        td
                            | 1
                        td
                            | Книга, читать, купить
                        td
                            | PDF (30 МБ)
                        td
                            | <strong>35</strong> из <strong>100</strong>
                        td
                            | 35 дней до 14.02.2015
                        td
                            | Универсальный
                        td
                            | Продан <a href="#">Заказ № 12300</a>
                        td
                            a(href="#" title="Отзывы о товаре" data-position="top" data-theme="g-hint").b-activity-btn.m-activity-btn_favorite.j-hint
                            a(href="#").b-activity-btn.m-activity-btn_edit
                            a(href="#").b-activity-btn.m-activity-btn_done
                            a(href="#").b-activity-btn.m-activity-btn_remove

if(files2)
    .b-files
        .b-pkp-block.m-pkp-block_full-width
            .b-block-title
                .b-block-title__right
                    a(href="#").b-btn-green.m-btn-green_add-file Загрузить из файла
                    a(href="#").b-btn-green.m-btn-green_add-file Дoбавить файл
                .b-block-title__left
                    h2.b-block-title__heading
                        |  Файлы
            table.b-files__table
                thead
                    tr
                        th
                            | ID
                        th
                            | Метка
                        th
                            | Информация
                        th
                            | Загрузки
                        th
                            | Доступность
                        th
                            | Тип товара
                        th
                            | Статус
                        th
                            | Действия
                tbody
                    tr
                        td
                            | 1
                        td
                            | Книга, читать, купить
                        td
                            | PDF (30 МБ)
                        td
                            | <strong>35</strong> из <strong>100</strong>
                        td
                            | 35 дней до 14.02.2015
                        td
                            | Универсальный
                        td
                            | Продан <a href="#">Заказ № 12300</a>
                        td
                            a(href="#").b-activity-btn.m-activity-btn_done
                            a(href="#" title="Отзывы о товаре" data-position="top" data-theme="g-hint").b-activity-btn.m-activity-btn_load.j-hint
                            a(href="#").b-activity-btn.m-activity-btn_edit
                            a(href="#").b-activity-btn.m-activity-btn_remove
                    tr
                        td
                            | 2
                        td
                            | Книга, читать, купить
                        td
                            | PDF (30 МБ)
                        td
                            | <strong>35</strong> из <strong>100</strong>
                        td
                            | 35 дней до 14.02.2015
                        td
                            | Универсальный
                        td
                            | Продан <a href="#">Заказ № 12300</a>
                        td
                            a(href="#").b-activity-btn.m-activity-btn_done
                            a(href="#" title="Отзывы о товаре" data-position="top" data-theme="g-hint").b-activity-btn.m-activity-btn_load.j-hint
                            a(href="#").b-activity-btn.m-activity-btn_edit
                            a(href="#").b-activity-btn.m-activity-btn_remove
                    tr
                        td
                            | 3
                        td
                            | Книга, читать, купить
                        td
                            | PDF (30 МБ)
                        td
                            | <strong>35</strong> из <strong>100</strong>
                        td
                            | 35 дней до 14.02.2015
                        td
                            | Универсальный
                        td
                            | Продан <a href="#">Заказ № 12300</a>
                        td
                            a(href="#").b-activity-btn.m-activity-btn_done
                            a(href="#" title="Отзывы о товаре" data-position="top" data-theme="g-hint").b-activity-btn.m-activity-btn_load.j-hint
                            a(href="#").b-activity-btn.m-activity-btn_edit
                            a(href="#").b-activity-btn.m-activity-btn_remove