.b-images
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Изображения
                    span.b-block-title__subtext
                        | Загрузить новое изображение 500 х 500 px. Слишком большое изображение будут автоматически уменьшены. <br>Текст описания до 140 символов.   
        ul.b-images__list
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                    .b-images__favorite
                        span(title="Основное фото" data-position="top" data-theme="g-hint").b-images__favorite-icon.j-hint
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    img(src="images/goods/goods_4.jpg", alt="")
                    span.b-images__item-remove.j-images__remove
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Красные кеды яркие и красивые, очень...
            li.b-images__item
                .b-images__img-holder
                    label.b-images__add-image
                        span.b-images__add-image-icon
                        span.b-images__add-image-text
                            | Добавить фото
                        input(type="file").b-images__upload-input
                .b-images__description.m-images__description_none.j-goods-desc
                    div(contenteditable="true").b-images__editable-block.j-editable
                    span.b-images__letters-count.j-letters-count
                    span.b-images__description-text-outer
                        span.b-images__description-text
                            | Нет описания


