.b-my-category
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Мои рубрики
        .b-configure
            span.b-configure__icon.m-configure__icon_customize-discount
            a(href="#").b-configure__link.m-configure__link_customize-discounts
                | Выбрать рубрики
            span.b-configure__subtext 
                | (вы можете выбрать до 7 рубрик для публикации товаров)