.b-product-reviews
    .b-pkp-block.m-pkp-block_full-width
        .b-block-title
            .b-block-title__right
                .b-pagination
                    .b-pagination__text
                        span.b-pagination__current
                            strong
                                | 1 
                            | -
                            strong
                                | 10 
                        | из 
                        span.b-pagination__total
                            strong
                                | 150
                    .b-pagination__arrows
                        a(href="#").b-pagination__arrow.m-pagination__arrow_prev.m-pagination__arrow_disable
                        a(href="#").b-pagination__arrow.m-pagination__arrow_next
            .b-block-title__left
                h2.b-block-title__heading.m-block-title__heading_big
                    |  Отзывы о товаре
        .b-reviews
            ul.b-reviews__list
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder
                            a(href="#")
                    .b-reviews__info
                        span.b-reviews__info-name Виталий
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.7")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder.m-reviews__avatar-img-holder_true
                            a(href="#")
                                img(src="images/content-images/ava1.png", alt="")
                    .b-reviews__info
                        span.b-reviews__info-name Игорь
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.5")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder
                            a(href="#")
                    .b-reviews__info
                        span.b-reviews__info-name Константин
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.6")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder.m-reviews__avatar-img-holder_true
                            a(href="#")
                                img(src="images/content-images/ava2.png", alt="")
                    .b-reviews__info
                        span.b-reviews__info-name Наталья
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="1")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                    .b-reviews__comment
                        | Красные кеды яркие и красивые, очень нравятся, мой размер 36,5, приобрела 36 и оказались несколько свободны, можно было бы и 35 размер купить. Лучше чуть больше, чем маловаты, поэтому всё устраивает.
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder
                            a(href="#")
                    .b-reviews__info
                        span.b-reviews__info-name Ярик
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.2")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder.m-reviews__avatar-img-holder_true
                            a(href="#")
                                img(src="images/content-images/ava2.png", alt="")
                    .b-reviews__info
                        span.b-reviews__info-name Наталья
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="1")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                    .b-reviews__comment
                        | Кеды действительно яркие как на фото. 38 размера не было, заказала 37. Думала что не подойдут,но оказалось что чуть-чуть даже большемерят самый раз чтоб носочками носить .А так то все сделано аккуратно,и спасибо вам за быструю доставку. Красные кеды яркие и красивые, очень нравятся, мой размер 36,5, приобрела 36 и оказались несколько свободны, можно было бы и 35 размер купить. Лучше чуть больше, чем маловаты, поэтому всё устраивает.
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder
                            a(href="#")
                    .b-reviews__info
                        span.b-reviews__info-name Виталий
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.7")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder.m-reviews__avatar-img-holder_true
                            a(href="#")
                                img(src="images/content-images/ava1.png", alt="")
                    .b-reviews__info
                        span.b-reviews__info-name Игорь
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.5")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint
                li.b-reviews__item
                    .b-reviews__avatar
                        .b-reviews__avatar-img-holder
                            a(href="#")
                    .b-reviews__info
                        span.b-reviews__info-name Константин
                        span.b-reviews__info-date 8 янв в 15:35
                        a(href="#").b-link Заказ № 16 от 31.07.2014
                    .b-reviews__rate
                        .j-rates(data-rating="0.6")
                    .b-reviews__message
                        a(href="#" title="Написать сообщение" data-theme="g-hint" data-position="bottom").b-activity-btn.m-activity-btn_message.j-hint


        .b-pagination
            .b-pagination__text
                span.b-pagination__current
                    strong
                        | 1 
                    | -
                    strong
                        | 10 
                | из 
                span.b-pagination__total
                    strong
                        | 150
            .b-pagination__arrows
                a(href="#").b-pagination__arrow.m-pagination__arrow_prev.m-pagination__arrow_disable
                a(href="#").b-pagination__arrow.m-pagination__arrow_next