.b-profile__half
    width 50%
    float left
.b-profile-description
    background #efece7
    padding 25px 20px
    margin-bottom 20px

.b-profile-description__row
    margin-bottom 25px
    strong
        font-size 18px
        color #000
        font-weight 700
        display block
        margin-top 7px
    &:last-child
        margin-bottom 3px
    .pkp-tooltip
        top -3px
        left 2px
            
.b-profile-description__text
    font-size 14px
    color #666666
    
.b-profile__agreements
    .b-pkp-block
        padding-bottom 4px
    .b-block-title__subtext
        margin 12px 0 5px 0
      
.b-profile__agreements-days
    .b-label
        margin-bottom 15px
    .b-checkbox__label
        width 157px
    

//profile agreements
.b-profile__agreements-table
    width 100%
    table-layout fixed
    margin-bottom 25px
    thead
        tr
            border-right 1px solid #ebe8e3
        th
            font-size 13px
            color #333
            font-weight 700
            background #ebe8e3
            text-align left
            padding 12px 0
            &:nth-child(1)
                width 52px
                text-align center
            &:nth-child(2)
                width 137px
            &:nth-child(3)
                width 129px
            &:nth-child(4)
                width 136px
            &:nth-child(5)
                width 111px
            &:nth-child(6)
                width 129px
            &:nth-child(7)
                width 138px
    tbody           
        tr
            border 1px solid #d4d4d4
            td
                padding 16px 0 17px 0
                font-size 14px
                line-height 16px
                &:nth-child(1)
                    text-align center
    

//profile verification
.b-profile__verification
    .b-block-title__subtext
        margin 12px 0 5px 0
.b-profile__verification-table
    width 100%
    table-layout fixed
    margin-bottom 25px
    thead
        tr
            border-right 1px solid #ebe8e3
        th
            font-size 13px
            color #333
            font-weight 700
            background #ebe8e3
            text-align left
            padding 12px 0
            &:nth-child(1)
                width 80px
                padding-right 30px
                text-align center
            &:nth-child(2)
                width 172px
            &:nth-child(3)
                width 198px
            &:nth-child(4)
                width 352px
            &:nth-child(5)
                width 167px
    tbody           
        tr
            border 1px solid #d4d4d4
            td
                padding 16px 0 17px 0
                font-size 13px
                line-height 16px
                color #000
                &:nth-child(1)
                    text-align center
                    padding-right 30px
                ul
                    li
                        line-height 20px
                        position relative
                        &:before
                            content '·'
                            position absolute
                            left -8px
                            font-size 20px
                    
//templates hints
    .b-template_passport-photo
        p
            color #333333
            font-size 13px
            line-height 20px
            margin-bottom 20px
        img
            margin-top -20px
            max-width 100%