.b-bestseller
    .b-pkp-block.m-pkp-block_full-width
        h2.b-block-title
            | Лидеры продаж
        table.b-bestseller__table
            thead
                tr
                    td
                    td
                    td
                        | Цена
                    td
                        | Продано
                    td
                        | Остаток
                    td
                        | Оборот
            tbody
                tr
                    td
                        a.b-bestseller__img-holder(href="#")
                            img(src="images/goods/goods_2.jpg", alt="")
                    td
                        a.b-bestseller__link.b-link(href="#")
                            span.b-bestseller__goods-title
                                | Samsung Galaxy Tab 2 7.0 215g15215 P3100 8Gb
                    td
                        | 5 600 
                    td 
                        | 265 шт
                    td
                        | 2 154 шт
                    td
                        | 1 486 254 
                tr
                    td
                        a.b-bestseller__img-holder(href="#")
                            img(src="images/goods/goods_1.jpg", alt="")
                    td
                        a.b-bestseller__link.b-link(href="#")
                            span.b-bestseller__goods-title
                                | Основы интернет-маркетинга
                    td
                        | 5 600 a 
                    td 
                        | 265
                    td
                        | ∞
                    td
                        | 1 486 254 a 
                tr
                    td
                        a.b-bestseller__img-holder(href="#")
                            img(src="images/goods/goods_3.jpg", alt="")
                    td
                        a.b-bestseller__link.b-link(href="#")
                            span.b-bestseller__goods-title
                                | Apple iPad mini 16Gb Wi-Fi
                    td
                        | 5 600 
                    td 
                        | 265 шт
                    td
                        | 2 154 шт
                    td
                        | 1 486 254 
                tr
                    td
                        a.b-bestseller__img-holder(href="#")
                            img(src="images/goods/goods_2.jpg", alt="")
                    td
                        a.b-bestseller__link.b-link(href="#")
                            span.b-bestseller__goods-title
                                | Samsung Galaxy Tab 2 7.0 215g15215 P3100 8Gb
                    td
                        | 5 600 
                    td 
                        | 265 шт
                    td
                        | 2 154 шт
                    td
                        | 1 486 254 
                tr
                    td
                        a.b-bestseller__img-holder(href="#")
                            img(src="images/goods/goods_2.jpg", alt="")
                    td
                        a.b-bestseller__link.b-link(href="#")                           
                            span.b-bestseller__goods-title
                                | Samsung Galaxy Tab 2 7.0 215g15215 P3100 8Gb
                    td
                        | 5 600 
                    td 
                        | 265 шт
                    td
                        | 2 154 шт
                    td
                        | 1 486 254 