.b-pkp-block-holder
    .b-pkp-block.m-pkp-block_half-width
        h2.b-block-title
            | Посетители
        .b-graph-legend
            ul.b-graph-legend__list
                li.b-graph-legend__item
                    span.b-graph-legend__indicator.m-graph-legend__indicator_green
                    span.b-graph-legend__title
                        | Новые
                li.b-graph-legend__item
                    span.b-graph-legend__indicator.m-graph-legend__indicator_gray
                    span.b-graph-legend__title
                        | Зарегистрированные
        .b-donut
            .b-donut__graph.j-visitors-graph
            .b-donut__info
                .b-donut__info-cell
                    span.b-donut__info-text
                        | Всего <br/> посетителей
                    strong.b-donut__info-amount
                        | 1 489
    .b-pkp-block.m-pkp-block_gap
    .b-pkp-block.m-pkp-block_half-width
        h2.b-block-title
            | География посещений
        .b-donut
            .b-donut-graph.j-visits-geography-graph