.b-general-goods-statistic
    .b-pkp-block
        .b-block-title
            .b-block-title__right
                a(href="#").b-link.b-general-goods-statistic__to-all
                    | Прейти к товарам
            .b-block-title__left
                h2.b-block-title__heading
                    | Общая статистика по товарам
        table.b-general-goods-statistic__table
            tr
                td
                    span.b-general-goods-statistic__cell-title
                        | Общее количество <br /> товаров
                    a(href="#").b-general-goods-statistic__link
                        | 2 086
                td
                    span.b-general-goods-statistic__cell-title
                        | Товаров на <br /> витрине
                    a(href="#").b-general-goods-statistic__link
                        | 1 560
                td
                    span.b-general-goods-statistic__cell-title
                        | Снятых с <br /> продажи
                    a(href="#").b-general-goods-statistic__link
                        | 489
                td
                    span.b-general-goods-statistic__cell-title
                        | Нет в <br /> наличии
                    a(href="#").b-general-goods-statistic__link
                        | 35
                td
                    span.b-general-goods-statistic__cell-title
                        | Количество <br /> категорий
                    a(href="#").b-general-goods-statistic__link
                        | 12
                td
                    span.b-general-goods-statistic__cell-title
                        | Зарегистрированных <br /> пользователей
                    a(href="#").b-general-goods-statistic__link
                        | 20 086