.b-pkp-block.m-pkp-block_full-width
    h2.b-block-title
        | Общая статистика по товарам
    .b-general-goods-statistic
        a.b-link.b-general-goods-statistic__to-all(href="#")
            | Прейти к товарам
        table.b-general-goods-statistic__table
            tr
                td
                    span.b-general-goods-statistic__cell-title
                        | Общее количество <br /> товаров
                    a.b-general-goods-statistic__link(href="#")
                        | 2 086
                td
                    span.b-general-goods-statistic__cell-title
                        | Товаров на <br /> витрине
                    a.b-general-goods-statistic__link(href="#")
                        | 1 560
                td
                    span.b-general-goods-statistic__cell-title
                        | Снятых с <br /> продажи
                    a.b-general-goods-statistic__link(href="#")
                        | 489
                td
                    span.b-general-goods-statistic__cell-title
                        | Нет в <br /> наличии
                    a.b-general-goods-statistic__link(href="#")
                        | 35
                td
                    span.b-general-goods-statistic__cell-title
                        | Количество <br /> категорий
                    a.b-general-goods-statistic__link(href="#")
                        | 12
                td
                    span.b-general-goods-statistic__cell-title
                        | Зарегистрированных <br /> пользователей
                    a.b-general-goods-statistic__link(href="#")
                        | 20 086