.b-full-width-graph-holder
    .b-pkp-block.m-pkp-block_fullwidth-width
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    | Заказы и оборот
        .b-graph-legend
            ul.b-graph-legend__list
                li.b-graph-legend__item
                    span.b-graph-legend__indicator.m-graph-legend__indicator_visitation
                    span.b-graph-legend__title
                        | Заказы
                li.b-graph-legend__item
                    span.b-graph-legend__indicator.m-graph-legend__blue
                    span.b-graph-legend__title
                        | Оборот
        ul.b-full-width-graph__info
            li.b-full-width-graph__item
                strong.b-full-width-graph__number
                    | 28 
                    span.b-full-width-graph__additional-info
                        | на 2 854 
                        span.g-ruble
                            | Р
                span.b-full-width-graph__text
                    | новых заказов
            li.b-full-width-graph__item
                strong.b-full-width-graph__number
                    | 34 
                    span.b-full-width-graph__additional-info
                        | на 56 944.65 
                        span.g-ruble
                            | Р
                span.b-full-width-graph__text
                    | заказа в работе
        .b-orders-graph.j-orders-graph