.b-full-width-graph
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    | Посещения и конверсия
        .b-graph-legend
            ul.b-graph-legend__list
                li.b-graph-legend__item
                    span.b-graph-legend__indicator.m-graph-legend__indicator_visitation
                    span.b-graph-legend__title
                        | Посещения
                li.b-graph-legend__item
                    span.b-graph-legend__indicator.m-graph-legend__blue
                    span.b-graph-legend__title
                        | Конверсия
        ul.b-full-width-graph__info
            li.b-full-width-graph__item
                strong.b-full-width-graph__number
                    | 2 000
                span.b-full-width-graph__text
                    | посещений
            li.b-full-width-graph__item
                strong.b-full-width-graph__number
                    | 350
                span.b-full-width-graph__text
                    | заказов
            li.b-full-width-graph__item
                strong.b-full-width-graph__number
                    | 64 845.94 
                    span.b-full-width-graph__symbol
                        span.g-ruble
                            | Р
                span.b-full-width-graph__text
                    | оборот
            li.b-full-width-graph__item
                strong.b-full-width-graph__number
                    | 36 
                    span.b-full-width-graph__symbol
                        | %
                span.b-full-width-graph__text
                    | конверсия
        .b-visits-graph.j-visits-graph

svg(width="10" height="10")
  defs
    radialGradient#grad1(cx="50%" cy="50%" r="50%" fx="50%" fy="50%")
      stop(offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1")
      stop(offset="50%" style="stop-color:rgb(255,255,255);stop-opacity:1")
      stop(offset="50%" style="stop-color:rgb(77, 187, 236);stop-opacity:1")
      stop(offset="100%" style="stop-color:rgb(77, 187, 236);stop-opacity:1")