.b-indicator
    .b-block-title
        .b-block-title__left
            h2.b-block-title__heading.m-block-title__heading_big.b-indicator__title
                | Показатели
    .b-indicator__top
        .b-indicator__line
            a(href="#").b-indicator__line-btn
                | Вчера
            a(href="#" title="Посмотреть уведомления системы" data-position="top" data-theme="g-hint").b-indicator__line-btn.j-hint
                | Сегодня
            a.b-indicator__line-btn.m-indicator__line-btn_active(href="#")
                | Неделя
            a.b-indicator__line-btn(href="#")
                | Месяц
            a.b-indicator__line-btn(href="#")
                | Квартал
            a.b-indicator__line-btn(href="#")
                | Год
        .b-indicator__calendar
            span.b-indicator__calendar-text
                | Данные за:
            .b-calendar-range
                .b-calendar-range__input-holder
                    label.b-calendar-range__label
                        input.b-input.m-input_date.j-calendar.j-calendar__range-start(type="text" readonly)
                        span.b-calendar-range__date-input-icon
                span.b-calendar-range__divider
                    | —
                .b-calendar-range__input-holder
                    label.b-calendar-range__label
                        input.b-input.m-input_date.j-calendar.j-calendar__range-end(type="text" readonly)
                        span.b-calendar-range__date-input-icon
                            
    .b-indicator__content
        .b-pkp-block
            .b-block-title
                .b-block-title__left
                    h2.b-block-title__heading
                        | Новые заказы
            table.b-new-orders
                thead
                    tr
                        td
                        td
                            | Дата платежа
                        td
                            | Стоимость
                        td
                            | Способ оплаты 
                        td
                            | Действие
                tbody
                    tr
                        td
                            a.b-new-orders__order-number(href="#")
                                | Заказ № 125401
                        td
                            | 02.03.2015 в 15:45
                        td 
                            | 6 254.59 a 
                        td
                            | Яндекс. Деньги
                        td
                            a.b-new-orders__process(href="#")
                                | Обработать
                    tr
                        td
                            a.b-new-orders__order-number(href="#")
                                | Заказ № 125319
                        td
                            | 02.03.2015 в 15:45
                        td 
                            | 16 254.59 a 
                        td
                            | Visa QIWI Wallet
                        td
                            a.b-new-orders__process(href="#")
                                | Обработать
                    tr
                        td
                            a.b-new-orders__order-number(href="#")
                                | Заказ № 125318
                        td
                            | 02.03.2015 в 15:45
                        td 
                            | 1 254.59 a 
                        td
                            | Z-Payment
                        td
                            a.b-new-orders__process(href="#")
                                | Обработать
                                