.b-pkp-block.m-pkp-block_full-width
    h2.b-block-title
        | Новости платформы
    .b-platform-news
        ul.b-platform-news__list
            li.b-platform-news__item
                span.b-platform-news__date
                    | 27 декабря 2014
                a.b-platform-news__link.b-link(href="#")
                    | C Новым годом!
            li.b-platform-news__item
                span.b-platform-news__date
                    | 16 декабря 2014
                a.b-platform-news__link.b-link(href="#")
                    | Полноценный запуск и много обновлений
            li.b-platform-news__item
                span.b-platform-news__date
                    | 30 ноября 2014
                a.b-platform-news__link.b-link(href="#")
                    | Полноценный запуск состоится 16 декабря
            li.b-platform-news__item
                span.b-platform-news__date
                    | 04 ноября 2014
                a.b-platform-news__link.b-link(href="#")
                    | Pokupo переходит на этап закрытого Beta-тестирования
            li.b-platform-news__item
                span.b-platform-news__date
                    | 01 октября 2014
                a.b-platform-news__link.b-link(href="#")
                    | Pokupo участвует в выставке RACE 2014