html, body 
    position relative
    min-height 100%
    height 100%
    padding 0
    margin 0
    background #F5F5F5
    font-family $font
    font-size 12px
    color #656D78
    overflow-x hidden
    cursor default
    

/* PAGE CONTAINER */
.page-container
    width 100%
    float left
    height 100%
    min-height 100%
    position relative
    background #474b53

    .b-sidebar
        width 231px
        float left
        position relative
        z-index 3

        &.b-sidebar-fixed
            position fixed

    .page-content
        min-height 100%
        margin-left 231px
        background #efece7 left top repeat
        position relative
        zoom 1
        clearfix()

        .content-frame
            float left
            width 100%
            position relative
            background #f5f5f5

            .content-frame-top
                float left
                width 100%
                line-height 30px
                padding 13px 15px 15px
                background rgba(0, 0, 0, 0.02)
                border-bottom 1px solid #DDD
                border-top 1px solid #DDD

                .page-title
                    padding 0
                    width auto

                    h2
                        margin-bottom 0
                        font-size 22px


            .content-frame-left
                float left
                width 300px
                padding 10px
                min-height 100%
                background rgba(0, 0, 0, 0.02)
                border-right 1px solid #DDD

                &.padding-0
                    padding 0

                .block
                    padding 0
                    margin-bottom 20px

                h4
                    margin-top 10px

                & > .form-group
                    margin-bottom 20px
                    

            .content-frame-right
                float right
                width 300px
                padding 10px
                min-height 100%
                background rgba(0, 0, 0, 0.02)
                border-left 1px solid #DDD

                &.padding-0
                    padding 0

                    .block
                        padding 10px

                h4
                    margin-top 10px

                .block
                    padding 0
                    margin-bottom 20px

                & > .form-group
                    margin-bottom 20px
                    

            .content-frame-body
                padding 70px 10px 10px 10px
                margin-left 300px

                &.content-frame-body-left
                    margin-left 0
                    margin-right 300px


            .content-frame-left-toggle,
            .content-frame-right-toggle
                display none
                margin-left 5px

        &-wrap
            padding 10px 20px


    &.page-container--wide 
        .page-content
            margin-left 50px
            transition all 200ms ease
            
        .b-sidebar
            width 50px
            
    &.page-navigation--toggled 
        .page-content
            margin-left 50px

    &.page-navigation-top 
        .page-content
            margin-left 0

        .page-content-header
            border-radius 5px 5px 0 0

    &.page-navigation-top-fixed 
        .x-navigation.x-navigation-horizontal
            position fixed
            padding-right 231px
            top 0

        .page-content
            padding-top 50px

        &.page-navigation--toggled 
            .x-navigation.x-navigation-horizontal
                padding-right 50px

