html, body 
    position relative
    padding 0
    margin 0
    background #efece7
    font-family $font
    font-size 12px
    color #656D78
    cursor default
    min-width 1263px
    height  100%
    

/* PAGE CONTAINER */
.b-page-container
    width 100%
    float left
    position relative
    background #474b53
    display table
    
.b-inner-container
    max-width 1689px

.b-page-content
    min-height 100%
    margin-left 231px
    background #efece7 left top repeat
    position relative
    height 100%
    clearfix()

.b-inner-content
    padding: 0 20px 20px 18px;
    margin-top 10px
    
.b-pkp-block-holder
    clearfix()
    
.b-pkp-block__row
    position relative
    clearfix()
    
.m-pkp-block__row_above
    z-index 2

.b-pkp-block
    background #fff
    padding 5px 20px 20px 17px //5px 20px 20px 20px 
    border-bottom 1px solid #cbc9c5
    border-left 1px solid #e3e0db
    border-right 1px solid #e3e0db
    box-shadow 0 1px 0 0 #e3e0db
    margin-bottom 8px
    position relative
    clearfix()
    
.b-pkp-block-holder
    text-align justify
    display table
    table-layout fixed
    width 100%
    margin-bottom 8px
            
.m-pkp-block_half-width
    width 50%
    display table-cell
    
.m-pkp-block_gap
    display table-cell
    border none
    padding 0
    background #efece7
    width 8px 