.g-hidden
	display none
	
.invisible
	visibility hidden
	
.b-dropdown
	position relative

	&__trigger
		z-index 3
		position relative
		cursor pointer

	&__content
		position absolute
		padding-top 20px
		left 0
		right 0
		top 0
		z-index 2

.b-menu__item
	text-align left
	
	&.active > a
		color #ccc
		position relative
		background $grey

		&:hover
			color #ccc
			cursor default

.b-menu__link
	display block
	width 100%	
	padding 9px 20px
	line-height 22px
	text-decoration none
	color #333
	background transparent
	transition background 0.1 ease-in-out
	white-space nowrap
	border-bottom 1px solid $grey
	font-size 15px
	padding-right 5px 
	overflow hidden
	text-overflow ellipsis
	text-indent 0
	
	&:hover
		background $grey
				
/* Инлайновый дропдаун */
.b-inline-sorter 
	display inline-block
	padding 0 30px 0 20px
	min-width 211px
	line-height 16px
	z-index 6
	text-indent -12px
	.b-dropdown__content
		top -14px

.b-selector__current
	color #fff
	&.active
		color #555
		border-bottom none
	&:hover
		border-bottom 1px dashed rgba(#fff, 0.25)
		
.b-dropdown__content
	padding-top 40px

	&.active
		a 
			color #A9A7A3
			background #efece7 
			
.b-tabs
	width 100%
	zoom 1
	position relative
	box-sizing content-box
	margin 0 -4px -14px
	padding 0 4px 4px
	overflow hidden
		
	&__trigger
		float left
		position relative
		left 0
		z-index 1
		padding 0 15px
		line-height 50px
		height 50px
		margin-right 20px
		
		span
			display block
			height 100%
			cursor pointer
			color $a__link
			
		&:hover
			span
				color #333
				
		&.selected	
			z-index 2
			background #FFF 
			span
				color #000
				cursor default
				border-bottom 0
			&:hover
				span
					color #000
.b-tabs
	&__content
		display none
		float right
		text-align left
		width 100%
		min-height 150px 
		position relative
		z-index 2
		margin-left -100%
		background #FFF
		box-shadow 0 1px 1px rgba(#000, 0.2)
		border-top 1px solid $grey
		margin-top 49px
		z-index 1

		&.selected
			display block
.b-content
	padding-top 20px	
	

.b-dropdown__content
.chosen-drop
.suggestions-suggestions
	drop-shadow()

.b-inline-sorter 
.b-dropdown
	.b-dropdown__trigger
		&:after
			content ''
			position absolute
			top 50%
			right -22px
			margin-top -1px
			display block
			width 0
			height 0
			border 6px solid transparent
			border-top-color #c8c9cc
			z-index 5
		&.active
			&:after
				border-top-color transparent
				border-bottom-color #000
				margin-top -8px
				
.b-sidebar-header			
	.b-dropdown
		margin 10px
		
		li
			a
				font-size 16px
				color $a__link












