@media screen and (max-width: 560px)
    .b-sidebar
        display none
        margin-top 80px
        width 231px
        position fixed
        
    .b-sidebar
    .b-sidebar-footer
        background #474b53
        
    .b-page-content
        margin-left 0
        
    .b-page-content__wrap
        padding 10px 5px
            
    .b-header
        padding 0 0 19px
        
    .b-breadcrumbs
        margin-right 0
        padding-bottom 22px
        padding-top 24px
        border-bottom 1px solid $grey
        margin-left 55px
        padding-left 10px
        white-space nowrap
        
    .m-btn_support
        float right
        margin-left 0
        margin-top 18px
        margin-right 5px
            
    .b-mobile-menu
        position relative
        display block
        height 80px
        width 55px
        background $grey 
        float left
        margin-right -100%
        cursor pointer
        centered-icon($icon--menu-trigger)

    .m-mobile-menu_active
        background #3e424a
        position fixed
        z-index 99
        top 0
        centered-icon($icon--menu-trigger-active)
    
    .b-breadcrumbs__item:not(.m-breadcrumbs__item_active)
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        
    /*loaded content tooltips*/
    .info
        display none

    .hummingbird-demo .preview
        margin 0 auto
        float none
    .hummingbird-demo
        min-width 1px
    .tooltip__footer li
        display block
        text-align center
        margin 10px 0