.b-mobile-menu
    display none
.mobile
    .b-breadcrumbs-wrapper
        margin-top 0
    .b-sidebar
        display none
        margin-top 80px
        width 231px
        position fixed
        padding-bottom 80px
        z-index 20
        
    .b-sidebar
    .b-sidebar-footer
        background #474b53
        
    .b-page-content
        margin-left 0
        
    .b-page-content__wrap
        padding 10px 5px
            
    .b-header
        padding 0 0 0
    
    .b-header__notification-holder
        margin-top 26px
                 
    .b-breadcrumbs
        margin-right 0
        padding-bottom 22px
        padding-top 24px
        margin-left 55px
        padding-left 10px
        white-space nowrap
        
    .m-btn_support
        float right
        margin-left 0
        margin-top 26px
        margin-right 5px
            
    .b-mobile-menu
        position relative
        display block
        height 80px
        width 55px
        background $grey 
        float left
        margin-right -100%
        cursor pointer
        centered-icon($icon--menu-trigger)

    .m-mobile-menu_active
        background #3e424a
        position fixed
        z-index 99
        top 0
        centered-icon($icon--menu-trigger-active)
    
    .b-breadcrumbs__item:not(.m-breadcrumbs__item_active)
        text-overflow: ellipsis;
        overflow: hidden;
    
    .b-subnavigation__item 
        margin 0 5px
        
    .b-tabs__trigger
        margin-right 11px
        padding 0 9px
    /*loaded content tooltips*/
    .tooltip__content .preview
        display none
    .tooltip__content .hummingbird-demo
        width auto
    .tooltip__content .info
        border none
        padding 0

    .hummingbird-demo .preview
        margin 0 auto
        float none
    .hummingbird-demo
        min-width 1px
    .tooltip__footer li
        display block
        text-align center
        margin 10px 0
        
.mobile_full
    .vjs-volume-control,.vjs-mute-control
        display none
    .vjs-pokupo-skin .vjs-progress-control
        right 220px
    .vjs-pokupo-skin .vjs-duration
        right 190px