.pkp-block
	position relative
	margin 0 0 10px
	background #FFF
	box-shadow 0 1px 1px rgba(#000, 0.2)
	min-height 150px
	
.pkp-slot
	margin 10px
	border 2px dashed rgba(#ccc, 0.2)
	position absolute
	top 4px
	bottom 4px
	left 4px
	right 4px
	border-radius 4px