.b-available-partnership
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Магазины, доступные для партнёрства
        .b-pkp-block__row
            .b-actions
                ul.b-actions__group
                    li.b-actions__item
                        label.b-actions__btn.m-actions__btn_checkbox
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input(type="checkbox")
                                    span.b-checkbox__icon.m-checkbox__icon_minus
                ul.b-actions__group
                    li.b-actions__item
                        a(href="#").b-btn.m-btn_small.m-btn_add-partners Добавить партнёров
            .b-pagination
                .b-pagination__text
                    span.b-pagination__current
                        strong
                            | 1 
                        | -
                        strong
                            | 10 
                    | из 
                    span.b-pagination__total
                        strong
                            | 150
                .b-pagination__arrows
                    a(href="#").b-pagination__arrow.m-pagination__arrow_prev.m-pagination__arrow_disable
                    a(href="#").b-pagination__arrow.m-pagination__arrow_next

        table.b-available-partnership__table
            thead
                tr
                    th
                    th Магазин
                    th
                    th Информация
                    th Партнерский %
                    th Товаров
                    th
            tbody
                tr
                    td
                        .b-checkbox
                            label.b-checkbox__label
                                input.b-checkbox__input(type="checkbox")
                                span.b-checkbox__icon
                    td
                        img(src="images/shops/shipping1.png")
                    td
                        a(href="#") Торговая платформа Pokupo
                        p Рабочий интернет-магазин, в который вы можете добавить свои товары.
                    td
                        span.b-available-partnership__date Дата создания: 26.12.2014
                        span.b-available-partnership__raiting Рейтинг: 
                            strong.b-available-partnership__raiting-mark.m-available-partnership__raiting-mark_positive +264
                        div.b-available-partnership__reviews
                            span Отзывы / претензии
                            | : 
                            strong.b-available-partnership__reviews-positive 12
                            strong /
                            strong.b-available-partnership__reviews-negative 3
                    td
                        strong 5%
                    td
                        strong 154
                    td
                        a(href="#" title="Добавить партнёра" data-position="bottom-right" data-theme="g-hint").b-activity-btn.m-activity-btn_add-partner.j-hint
                tr
                    td
                        .b-checkbox
                            label.b-checkbox__label
                                input.b-checkbox__input(type="checkbox")
                                span.b-checkbox__icon
                    td
                        img(src="images/shops/shop3.png")
                    td
                        a(href="#") Pokupo: Интернет КомЛайн
                        p Оплата услуг связи ООО КомЛайн
                    td
                        span.b-available-partnership__date Дата создания: 26.12.2014
                        span.b-available-partnership__raiting Рейтинг: 
                            strong.b-available-partnership__raiting-mark.m-available-partnership__raiting-mark_positive +264
                        div.b-available-partnership__reviews
                            span Отзывы / претензии
                            | : 
                            strong.b-available-partnership__reviews-positive 12
                            strong /
                            strong.b-available-partnership__reviews-negative 3
                    td
                        strong 5%
                    td
                        strong 154
                    td
                        a(href="#" title="Добавить партнёра" data-position="bottom-right" data-theme="g-hint").b-activity-btn.m-activity-btn_add-partner.j-hint
                tr
                    td
                        .b-checkbox
                            label.b-checkbox__label
                                input.b-checkbox__input(type="checkbox")
                                span.b-checkbox__icon
                    td
                        img(src="images/shops/shipping2.png")
                    td
                        a(href="#") Деловые лининн
                        p Рабочий интернет-магазин, в который вы можете добавить свои товары.
                    td
                        span.b-available-partnership__date Дата создания: 26.12.2014
                        span.b-available-partnership__raiting Рейтинг: 
                            strong.b-available-partnership__raiting-mark.m-available-partnership__raiting-mark_positive +264
                        div.b-available-partnership__reviews
                            span Отзывы / претензии
                            | : 
                            strong.b-available-partnership__reviews-positive 12
                            strong /
                            strong.b-available-partnership__reviews-negative 3
                    td
                        strong 5%
                    td
                        strong 154
                    td
                        a(href="#" title="Добавить партнёра" data-position="bottom-right" data-theme="g-hint").b-activity-btn.m-activity-btn_add-partner.j-hint
                tr
                    td
                        .b-checkbox
                            label.b-checkbox__label
                                input.b-checkbox__input(type="checkbox")
                                span.b-checkbox__icon
                    td
                        img(src="images/shops/default.png")
                    td
                        a(href="#") Магазин тестовых продуктов
                        p Рабочий интернет-магазин, в который вы можете добавить свои товары.
                    td
                        span.b-available-partnership__date Дата создания: 26.12.2014
                        span.b-available-partnership__raiting Рейтинг: 
                            strong.b-available-partnership__raiting-mark.m-available-partnership__raiting-mark_positive +264
                        div.b-available-partnership__reviews
                            span Отзывы / претензии
                            | : 
                            strong.b-available-partnership__reviews-positive 12
                            strong /
                            strong.b-available-partnership__reviews-negative 3
                    td
                        strong 5%
                    td
                        strong 154
                    td
                        a(href="#" title="Добавить партнёра" data-position="bottom-right" data-theme="g-hint").b-activity-btn.m-activity-btn_add-partner.j-hint
                tr
                    td
                        .b-checkbox
                            label.b-checkbox__label
                                input.b-checkbox__input(type="checkbox")
                                span.b-checkbox__icon
                    td
                        img(src="images/shops/default.png")
                    td
                        a(href="#") Магазин для тестирования физиков
                        p Рабочий интернет-магазин, в который вы можете добавить свои товары.
                    td
                        span.b-available-partnership__date Дата создания: 26.12.2014
                        span.b-available-partnership__raiting Рейтинг: 
                            strong.b-available-partnership__raiting-mark.m-available-partnership__raiting-mark_positive +264
                        div.b-available-partnership__reviews
                            span Отзывы / претензии
                            | : 
                            strong.b-available-partnership__reviews-positive 12
                            strong /
                            strong.b-available-partnership__reviews-negative 3
                    td
                        strong 5%
                    td
                        strong 154
                    td
                        a(href="#" title="Добавить партнёра" data-position="bottom-right" data-theme="g-hint").b-activity-btn.m-activity-btn_add-partner.j-hint
                
        .b-pkp-block__row
            .b-actions
                ul.b-actions__group
                    li.b-actions__item
                        label.b-actions__btn.m-actions__btn_checkbox
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input(type="checkbox")
                                    span.b-checkbox__icon.m-checkbox__icon_minus
                ul.b-actions__group
                    li.b-actions__item
                        a(href="#").b-btn.m-btn_small.m-btn_add-partners Добавить партнёров

            .b-items-per-page
                span.b-items-per-page__text
                    | Показывать на странице:
                a(href="#").b-items-per-page__item.m-items-per-page__item_active 10
                a(href="#").b-items-per-page__item 25
                a(href="#").b-items-per-page__item 50