.b-choose-theme
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Выбор темы оформления
        .b-themes
            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger

            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger

            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger

            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger

            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger
                    
            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger

            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger

            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger
                    
            .b-theme
                .b-theme__image-holder
                    img(src="images/shops/shop-theme.png")
                .b-theme__overlay
                    a(href="#").b-btn.m-btn_theme выбрать
                    span(title="Увеличить" data-position="bottom" data-theme="g-hint" data-popup="j-shop-theme-popup").b-theme__zoom.j-hint.j-popup-trigger
