.b-existing-domain
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Существующий домен 
                    span.b-block-title__subtext.m-block-title__subtext_inline (если есть) 
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
        .b-existing-domain__input-holder
            span.b-existing-domain__icon
            input(type="text").b-input
                    

