.b-my-shops
    .b-block-title
        .b-block-title__right
            a(href="#").b-btn.m-btn_add-shop Создать магазин
        .b-block-title__left
            h2.b-block-title__heading.m-block-title__heading_big.b-indicator__title
                | Мои магазины
    .b-stores
        .b-pkp-block.b-store.m-store_favorite
            div
                .b-store__logo
                    .b-store__log-img-holder
                        img(src="images/shops/shop1.png")
                    .b-store__logo-status
                        .b-activity-btn.m-activity-btn_done.j-hint(title="Включить магазин" data-position="bottom" data-theme="g-hint")
                .b-store__info
                    strong.b-store__current Текущий магазин 
                    span.b-store__title Торговая платформа полного цикла «Депозитстрой»
                    span.b-store__activity.m-store__activity_active Этот магазин включен и работает
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    a(href="#").b-store__link depozitstroy.ru
                        span(title="Сайт подтвержден" data-position="bottom" data-theme="g-hint").b-store__link-icon.m-store__link-icon_confirmed.j-hint
            div.b-store__btns
                a(href="#").b-btn.m-btn_small.m-btn_integration Интеграция
                a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                a(href="#").b-btn.m-btn_small.m-btn_delivery Доставка
                a(href="#").b-btn.m-btn_small.m-btn_settings Настройки
                a(href="#").b-btn.m-btn_small.m-btn_payment Оплата

        .b-pkp-block.b-store
            div
                .b-store__logo
                    .b-store__logo-status
                        .b-activity-btn.m-activity-btn_fail.j-hint(title="Включить магазин" data-position="bottom" data-theme="g-hint")
                .b-store__info
                    a(href="#").b-store__chose-active Выбрать как активный 
                    span.b-store__title Pokupo: Пример Z-PAYMENT Merchant
                    span.b-store__activity.m-store__activity_active Этот магазин включен и работает
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    a(href="#").b-store__link depozitstroy.ru
                        span(title="Сайт не подтвержден" data-position="bottom" data-theme="g-hint").b-store__link-icon.m-store__link-icon_not-confirmed.j-hint
            div.b-store__btns
                a(href="#").b-btn.m-btn_small.m-btn_integration Интеграция
                a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                a(href="#").b-btn.m-btn_small.m-btn_delivery Доставка
                a(href="#").b-btn.m-btn_small.m-btn_settings Настройки
                a(href="#").b-btn.m-btn_small.m-btn_payment Оплата

        .b-pkp-block.b-store
            div
                .b-store__logo
                    .b-store__logo-status
                        .b-activity-btn.m-activity-btn_done.j-hint(title="Включить магазин" data-position="bottom" data-theme="g-hint")
                .b-store__info
                    strong.b-store__current Текущий магазин 
                    span.b-store__title Pokupo: Терминал ICWMT Альфа (Общий)
                    span.b-store__activity.m-store__activity_active Этот магазин включен и работает
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    a(href="#").b-store__link depozitstroy.ru
                        span(title="Сайт подтвержден" data-position="bottom" data-theme="g-hint").b-store__link-icon.m-store__link-icon_confirmed.j-hint
            div.b-store__btns
                a(href="#").b-btn.m-btn_small.m-btn_integration Интеграция
                a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                a(href="#").b-btn.m-btn_small.m-btn_delivery Доставка
                a(href="#").b-btn.m-btn_small.m-btn_settings Настройки
                a(href="#").b-btn.m-btn_small.m-btn_payment Оплата

        .b-pkp-block.b-store
            div
                .b-store__logo
                    .b-store__log-img-holder
                        img(src="images/shops/shop2.png")
                    .b-store__logo-status
                        .b-activity-btn.m-activity-btn_done.j-hint(title="Включить магазин" data-position="bottom" data-theme="g-hint")
                .b-store__info
                    strong.b-store__current Текущий магазин 
                    span.b-store__title Pokupo
                    span.b-store__activity.m-store__activity_active Этот магазин включен и работает
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    a(href="#").b-store__link depozitstroy.ru
                        span(title="Сайт подтвержден" data-position="bottom" data-theme="g-hint").b-store__link-icon.m-store__link-icon_confirmed.j-hint
            div.b-store__btns
                a(href="#").b-btn.m-btn_small.m-btn_integration Интеграция
                a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                a(href="#").b-btn.m-btn_small.m-btn_delivery Доставка
                a(href="#").b-btn.m-btn_small.m-btn_settings Настройки
                a(href="#").b-btn.m-btn_small.m-btn_payment Оплата




