.b-partners-shops
    .b-block-title
        .b-block-title__right
            a(href="#" data-popup="j-partners-shop-rights-popup").b-btn.m-btn_add-shop.j-popup-trigger добавить партнёра
        .b-block-title__left
            h2.b-block-title__heading.m-block-title__heading_big.b-indicator__title
                | Магазины партнёров
    .b-stores
        .b-pkp-block.b-store
            .b-store__delete.j-store-delete.j-hint(title="Удалить партнёра" data-position="bottom-right" data-theme="g-hint")
            div
                .b-store__logo
                    .b-store__log-img-holder
                        img(src="images/shops/shop1.png")
                .b-store__info
                    a(href="#").b-store__chose-active Выбрать как активный 
                    span.b-store__title Торговая платформа Pokupo
                    span.b-store__description Это рабочий интернет-магазин, в который вы тоже можете добавить свои товары и получать дополнительный доход. Именно такой магазин вы получите совершенно бесплатно после регистрации.
                    span.b-store__site 
                        | Сайт магазина: 
                        a(href="") pokupo.ru
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    span.b-store__reward Вознаграждение:
                        strong 5%
                    .b-store__btns
                        a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                        a(href="#").b-btn.m-btn_small.m-btn_partner-goods Товары партнёра
                        a(href="#").b-btn.m-btn_small.m-btn_store-rights Права магазина

        .b-pkp-block.b-store.m-store_favorite
            .b-store__delete.j-store-delete.j-hint(title="Удалить партнёра" data-position="bottom-right" data-theme="g-hint")
            div
                .b-store__logo
                    .b-store__log-img-holder
                        img(src="images/shops/shop2.png")
                .b-store__info
                    strong.b-store__current Текущий магазин 
                    span.b-store__title Торговая платформа Pokupo
                    span.b-store__description Это рабочий интернет-магазин, в который вы тоже можете добавить свои товары и получать дополнительный доход. Именно такой магазин вы получите совершенно бесплатно после регистрации.
                    span.b-store__site 
                        | Сайт магазина: 
                        a(href="") pokupo.ru
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    span.b-store__reward Вознаграждение:
                        strong 5%
                    .b-store__btns
                        a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                        a(href="#").b-btn.m-btn_small.m-btn_partner-goods Товары партнёра
                        a(href="#").b-btn.m-btn_small.m-btn_store-rights Права магазина

        .b-pkp-block.b-store
            .b-store__delete.j-store-delete.j-hint(title="Удалить партнёра" data-position="bottom-right" data-theme="g-hint")
            div
                .b-store__logo
                .b-store__info
                    a(href="#").b-store__chose-active Выбрать как активный 
                    span.b-store__title Торговая платформа Pokupo
                    span.b-store__description Это рабочий интернет-магазин, в который вы тоже можете добавить свои товары и получать дополнительный доход. Именно такой магазин вы получите совершенно бесплатно после регистрации.
                    span.b-store__site 
                        | Сайт магазина: 
                        a(href="") pokupo.ru
                    span.b-store__raiting Рейтинг: 
                        strong.b-store__raiting-mark.m-store__raiting-mark_positive +264
                    div.b-store__reviews
                        a(href="#") Отзывы / претензии
                        | : 
                        strong.b-store__reviews-positive 12
                        strong /
                        strong.b-store__reviews-negative 3
                    span.b-store__goods-count Товаров:
                        strong 450
                    span.b-store__reward Вознаграждение:
                        strong 5%
                    .b-store__btns
                        a(href="#").b-btn.m-btn_small.m-btn_rubricator Рубрикатор
                        a(href="#").b-btn.m-btn_small.m-btn_partner-goods Товары партнёра
                        a(href="#").b-btn.m-btn_small.m-btn_store-rights Права магазина