.b-shop-support
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Поддержка магазина
        .b-shop-support__left
            label.b-label
                .b-label__text E-mail поддержки 
                    span.g-required-filed  *
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
            label.b-label
                .b-label__text Сайт поддержки
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
            label.b-label
                .b-label__text icq поддержки
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
            label.b-label
                .b-label__text SMS уведомления
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
        .b-shop-support__right
            label.b-label
                .b-label__text Телефон поддержки
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
            label.b-label
                .b-label__text Skype поддержки
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
            label.b-label
                .b-label__text E-mail уведомления
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
            label.b-label
                .b-label__text Уведомления для сайта
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input

                    

