.b-shop-preview
    .b-pkp-block
        .b-block-title
            .b-block-title__right
                a(href="#").b-shop-preview__view-shop Просмотр в новом окне
            .b-block-title__left
                h2.b-block-title__heading
                    |  Просмотр магазина
        .b-shop-preview__window.j-scroll(data-scroll-position="inside" data-scroll-theme="custom_green" data-axis="yx")
            .b-shop-preview__window-overlay
            img(src="images/shops/shop-theme_big.png" width="1200")
        .b-shop-preview__loader
            img(src="images/loader_32px.gif")