.b-shop-logo
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading
                    |  Логотип магазина
        .b-shop-logo__upload
            .b-shop-logo__preview
                .b-store__logo
                        .b-store__logo-status
                            .b-activity-btn.m-activity-btn_remove.j-hint(title="Включить магазин" data-position="bottom" data-theme="g-hint")
            .b-shop-logo__configure
                .b-configure
                    span.b-configure__icon.m-configure__icon_upload
                    a(href="#").b-configure__link.m-configure__link_customize-discounts
                        | Выбрать файл
                    span.b-configure__subtext 
                        | (csv, txt, xml не более 5 МБ)
                    .b-configure__tooltip
                        .pkp-tooltip.pkp-tooltip_inline
                            span(title="Файл с информацией о товарах в формате: \n csv, txt, xml объемом не более 5 Мб" data-position="right" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                                | ?