.b-mobile-menu
	display none
		
.b-breadcrumbs-wrapper
	overflow hidden
	position relative
	float left
	
.b-header
	padding 26px 20px 12px
	background #FFF
	border-bottom 1px solid #efece7 
	overflow hidden
	
.b-breadcrumbs
	display block
	vertical-align middle
	font-size 18px
	line-height 30px
	font-weight 100 
	
.b-breadcrumbs__item
	display inline-block
	vertical-align middle
	font-size 24px
	line-height 20px
	border-bottom: 1px solid #b9d7de;
	padding-bottom 3px
	&:hover
		opacity 0.8
	a
		color $a__link
		text-decoration none
		
.m-breadcrumbs__item_root
	border-bottom none
	a
		display inline-block
		width 30px
		height 30px
		position relative
		overflow hidden
		text-indent -1000em
		margin-right 8px
		centered-icon($icon--root)
	
.m-breadcrumbs__item_divider
	border-bottom none
	margin 0 2px

.m-breadcrumbs__item_active
	border-bottom none
	color #000

.b-btn
	display inline-block
	background $btngreen
	padding 14px 30px
	border-radius 8px
	text-transform uppercase
	color #333
	font-size 11px
	line-height 1
	font-weight 600  
	letter-spacing 0.5px 
	position relative
	cursor pointer
	
	&.tooltiped
		background lighten($btngreen, 0.5)
	&:hover
		opacity 0.9
a.b-btn
	color #333
		
.m-btn_support
	padding 14px 14px 14px 48px
	float right
	position relative
	
	.b-icon
		width 24px
		height 21px
		position absolute
		top 50%
		left 14px
		margin-top -10.5px
		centered-icon($icon--support)
		
	
		