//hint
    .g-hint
        .tooltip__content
            line-height 20px
            font-size 13px
            background #4c4c4c
            color #ffffff
            padding 6px 19px
            
        .tooltip__arrow span
            width 0
            height 0
            border-style solid
            display block
            background none
            
        .tooltip__arrow-bottom span
            top -10px
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #4c4c4c transparent !important
            
        .tooltip__arrow-top span
            bottom -10px
            border-width: 10px 10px 0 10px;
            border-color: #4c4c4c transparent transparent transparent !important
            
        .tooltip__arrow-left span
            width 0
            height 0
            border-style solid
            border-width 10px 0 10px 10px
            border-color transparent transparent transparent #4c4c4c !important
            left 100%
            
        .tooltip__arrow-right span
            width 0
            height 0
            border-style solid
            border-width 10px 10px 10px 0 
            border-color transparent #4c4c4c transparent transparent !important
            left -10px
            
        .tooltip__arrow-top-right span
            bottom -10px
            border-width: 10px 10px 0 10px;
            border-color: #4c4c4c transparent transparent transparent !important
            
        .tooltip__arrow-bottom-right span
            top -10px
            right 5px
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #4c4c4c transparent !important
            
        .tooltip__arrow-bottom-left span
            top -10px
            left 5px
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #4c4c4c transparent !important

            