.b-subnavigation
	background #fff
	border-bottom 1px solid #efece7
	padding 20px 20px
	
	&__item
		display inline-block
		font-weight 800
		margin 0 10px
		font-size 14px 
		text-align center
		a
			color $a__link
			text-decoration none
		a:hover
			opacity 0.8

.m-subnavigation__item_active
	a
		color #000 