.hummingbird-demo
    font-size 11px
    display table
    width 440px
    table-layout fixed
    
    a
        color #379c51
        &:hover
            color #2dac4e
                
    h1
        font-size 15px
        line-height 23px
        margin-bottom 5px
    .preview
        width 152px
        height 182px
        display table-cell
        img
            float left
            margin-right 10px
            border 1px solid $grey
    .border-overlay
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        box-sizing border-box
        border 1px solid $grey
        
    .info
        display table-cell
        width 100%
        vertical-align top
        padding-left 10px
        border-left 1px solid $grey
    .credits
        font-size 10px
        color #666

