.hummingbird-demo
    font-size 11px
    min-width 440px
    
    a
        color #379c51
        &:hover
            color #2dac4e
                
    h1
        font-size 15px
        line-height 23px
        margin-bottom 5px
    .preview
        float left
        width 140px
        height 182px
        margin-right 10px
        position relative
        img
            float left
    .border-overlay
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        box-sizing border-box
        border 1px solid $grey
        
    .info
        float left
        width 290px
        padding-left 10px
        border-left 1px solid $grey
    .credits
        font-size 10px
        color #666

