//store-data
    .b-store-data__left
        width 50%
        float left
        padding-right 10px
        .b-checkbox__label,.b-radio__label
            float left
            clear both
    .b-store-data__right
        width 50%
        padding-left 10px
        float right
        .b-checkbox__label,.b-radio__label
            float left
            clear both
        
//shop logo
    .b-shop-logo__upload
        display table
        width 100%
        table-layout fixed
    
    .b-popup__content
        .b-shop-logo__upload
            margin-bottom 20px
        
    .b-shop-logo__preview
        display table-cell
        width 170px
        
    .b-shop-logo__configure
        vertical-align middle
        display table-cell
   
//existing domain
    .b-existing-domain__input-holder
        margin-bottom 10px
    .b-existing-domain__icon
        width 46px
        height  46px
        border 1px solid #000
        border-radius 99px
        display inline-block
        position relative
        margin-top 3px
        centered-icon($domain)
        
    .b-existing-domain__input-holder input
        height 49px
        width calc(100% - 56px)
        float right
        vertical-align top
        font-size 31px
        padding-left 15px
        

//product-sync
    .b-product-sync
        .b-pkp-block
            padding-bottom 0
            margin-bottom 16px
    .b-product-sync__left
        width 50%
        float left
        padding-right 10px

    .b-product-sync__right
        width 50%
        padding-left 10px
        float right

//support right   
    .b-shop-support
        .b-pkp-block
            padding-bottom 6px
        .b-label
            margin-bottom 17px 
        .b-block-title__heading
            padding-bottom 11px   
    .b-shop-support__left
        width 50%
        float left
        padding-right 10px

    .b-shop-support__right
        width 50%
        padding-left 10px
        float right