.b-partners-goods
    .b-pkp-block
        .b-block-title
            .b-block-title__left
                h2.b-block-title__heading.m-block-title__heading_big
                    | Товары партнёров

        .b-goods-search.m-goods-search_active.j-goods-search
            .b-goods-search__overlay.m-goods-search__overlay_left
            a(href="#").b-goods-search__title
                | Поиск товаров
        
            .b-partners-shop
                strong Магазин партнёра
                .b-select-btn
                div.b-partners-shop__link-holder
                    a(href="#") Торговая платформа полного цикла Pokupo

            form.b-goods-search__form
                .b-goods-search__filter
                    .b-goods-search__filter-holder
                        .b-goods-search__goods-status
                            label.b-label
                                .b-label__text Статус товара
                                .b-goods-search__select
                                    select.b-select.j-select
                                        option
                                            | Любой статус
                                        option
                                            | Запрещен
                                        option
                                            | Продается
                                        option
                                            | Вне каталога
                                        option
                                            | Ожидает модерации
                        .b-goods-type
                            span.b-label
                                .b-label__text Тип товара
                                label.b-goods-type__label
                                    input(type="radio" name="goodsType").b-goods-type__input
                                    span.b-goods-type__span
                                        | Все товары
                                label.b-goods-type__label
                                    input(type="radio" name="goodsType").b-goods-type__input
                                    span.b-goods-type__span.m-goods-type__span_physical
                                        | Физические
                                label.b-goods-type__label
                                    input(type="radio" name="goodsType").b-goods-type__input
                                    span.b-goods-type__span.m-goods-type__span_digital
                                        | Цифровые
                    .b-goods-search__input-holder
                        label.b-label
                            .b-label__text Ключевые слова
                            input(type="text").b-input

                .b-goods-search__controls
                    input(type="submit" value="найти").b-goods-search__controls-submit
                    label.b-goods-search__controls-reset
                        input(type="reset" value="")

                .b-configure
                    span.b-configure__icon.m-configure__icon_customize-discount
                    a(href="#").b-configure__link.m-configure__link_customize-discounts
                        | Выбрать рубрики
                    span.b-configure__subtext 
                        | (выбраны все рубрики)
               
            .b-goods-search__overlay.m-goods-search__overlay_right   

        .b-pkp-block__row
            .b-actions
                ul.b-actions__group
                    li.b-actions__item
                        label.b-actions__btn.m-actions__btn_checkbox
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon.m-checkbox__icon_minus
                ul.b-actions__group
                    li.b-actions__item
                        span(title="Выставить на продажу" data-position="top" data-theme="g-hint").b-actions__btn.m-actions__btn_success.j-hint
                    li.b-actions__item
                        span(title="Снять с продажи" data-position="top" data-theme="g-hint").b-actions__btn.m-actions__btn_remove.j-hint
                    li.b-actions__item
                        span.b-actions__btn.m-actions__btn_delete
                ul.b-actions__group
                    li.b-actions__item
                        span(title="Изменить категорию" data-position="top" data-theme="g-hint").b-actions__btn.m-actions__btn_list.j-hint
                ul.b-actions__group
                    li.b-actions__item
                        span.b-actions__btn.m-actions__btn_search.j-actions__search
                            span.b-actions__search-triangle
            .b-pagination
                .b-pagination__text
                    span.b-pagination__current
                        strong
                            | 1 
                        | -
                        strong
                            | 10 
                    | из 
                    span.b-pagination__total
                        strong
                            | 150
                .b-pagination__arrows
                    a(href="#").b-pagination__arrow.m-pagination__arrow_prev.m-pagination__arrow_disable
                    a(href="#").b-pagination__arrow.m-pagination__arrow_next
                    
        .b-pkp-block__row.m-pkp-block__row_above
            table.b-goods-table
                thead.b-goods-table__thead
                    tr
                        th
                        th 
                            span.b-goods-table__thead-title Фото
                        th
                            span.b-goods-table__thead-title.m-goods-table__thead-title_sortable.m-goods-table__thead-title_sortable_top Название
                        th
                            span.b-goods-table__thead-title.m-goods-table__thead-title_sortable.m-goods-table__thead-title_sortable_bottom Рубрики
                        th
                            span.b-goods-table__thead-title.m-goods-table__thead-title_sortable.m-goods-table__thead-title_sortable_top Цена
                        th
                            span.b-goods-table__thead-title.m-goods-table__thead-title_sortable.m-goods-table__thead-title_sortable_bottom % партнеру
                        th
                            span.b-goods-table__thead-title Действия
                tbody.b-goods-table__tbody
                    tr.b-goods-table__row
                        td
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon
                        td
                            .b-goods-table__goods-img-holder
                                img(src="images/goods/real-goods_small.jpg", alt="")
                        td
                            a(href="#").b-link
                                | Apple iPad mini 16Gb Wi-Fi
                            span.b-goods-table__residue.m-goods-table__residue_plus +264
                        td
                            .b-goods-table__editable
                                a(href="#").b-goods-table__editable-btn
                                ul.b-goods-table__rubric-list
                                    li.b-goods-table__rubric-item Нагрудники и слюнявчики
                                    li.b-goods-table__rubric-item Обучающие материалы и авторские
                                    li.b-goods-table__rubric-item Бижутерия и украшения
                                    li.b-goods-table__rubric-item Головоломки, пазлы
                                    li.b-goods-table__rubric-item Механические блокираторы
                                    li.b-goods-table__rubric-item Бижутерия и украшения
                                    li.b-goods-table__rubric-item Универсальные зарядные устройства
                        td
                            span 2 646
                        td
                            span.b-goods-table__partner 5 + 1.55 % 

                        td
                            a(href="#" title="Отзывы о товаре" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_favorite.j-hint
                            a(href="#" title="Снять с продажи" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_done.j-hint
                    tr.b-goods-table__row
                        td
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon
                        td
                            .b-goods-table__goods-img-holder
                                img(src="images/goods/real-goods_small.jpg", alt="")
                        td
                            a(href="#").b-link
                                | Apple iPad mini 16Gb Wi-Fi
                            span.b-goods-table__residue.m-goods-table__residue_minus -12
                        td
                            .b-goods-table__editable
                                a(href="#").b-goods-table__editable-btn
                                ul.b-goods-table__rubric-list
                                    li.b-goods-table__rubric-item Нагрудники и слюнявчики
                                    li.b-goods-table__rubric-item Обучающие материалы и авторские
                                    li.b-goods-table__rubric-item Бижутерия и украшения
                        td
                            span 2 646
                        td
                            span.b-goods-table__partner 5 + 1.55 % 
                        td
                            a(href="#" title="Отзывы о товаре" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_favorite.j-hint
                            a(href="#" title="Утвердить" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_fail.j-hint
                    tr.b-goods-table__row
                        td
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon
                        td
                            .b-goods-table__goods-img-holder
                                img.b-goods-table__goods-img(src="images/goods/goods_1_big.jpg", alt="")
                        td
                            a(href="#").b-link
                                | Apple iPad mini 16Gb Wi-Fi
                            span.b-goods-table__residue 0
                        td
                            .b-goods-table__editable
                                a(href="#").b-goods-table__editable-btn
                                p.b-goods-table__unavailable Вне каталога
                        td
                            span.g-infinity ∞
                        td
                            span.b-goods-table__partner 5 + 1.55 % 
                        td
                            a(href="#" title="Отзывы о товаре" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_favorite.j-hint
                            a(href="#"  title="Добавить в свой каталог" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_list.j-hint
                    tr.b-goods-table__row
                        td
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon
                        td
                            .b-goods-table__goods-img-holder
                                img(src="images/goods/digital-goods_small.jpg", alt="")
                        td
                            a(href="#").b-link
                                | Apple MacBook Air 11 Mid 2012
                            span.b-goods-table__residue.m-goods-table__residue_minus -12
                        td
                            .b-goods-table__editable
                                a(href="#").b-goods-table__editable-btn
                                ul.b-goods-table__rubric-list
                                    li.b-goods-table__rubric-item Нагрудники и слюнявчики
                        td
                            span.g-infinity ∞
                        td
                            span.b-goods-table__partner 5 + 1.55 %
                        td
                            a(href="#" title="Отзывы о товаре" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_favorite.j-hint
                            a(href="#" title="Выставить на продажу" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_fail.j-hint
                    tr.b-goods-table__row
                        td
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon
                        td
                            .b-goods-table__goods-img-holder
                                img.b-goods-table__goods-img(src="images/goods/goods_2.jpg", alt="")
                        td
                            a(href="#").b-link
                                | Samsung Galaxy Tab 2 7.0 P310 8Gb
                        td
                            .b-goods-table__editable
                                a(href="#").b-goods-table__editable-btn
                                ul.b-goods-table__rubric-list
                                    li.b-goods-table__rubric-item Посуда
                        td
                            span.g-infinity ∞
                        td
                            span.b-goods-table__partner 5 + 1.55 % 
                        td
                            a(href="#" title="Отзывы о товаре" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_favorite.j-hint
                            a(href="#" title="Выставить на продажу" data-position="bottom" data-theme="g-hint").b-activity-btn.m-activity-btn_fail.j-hint
                    
        .b-pkp-block__row
            .b-actions
                ul.b-actions__group
                    li.b-actions__item
                        label.b-actions__btn.m-actions__btn_checkbox
                            .b-checkbox
                                label.b-checkbox__label
                                    input.b-checkbox__input.j-goods-input(type="checkbox")
                                    span.b-checkbox__icon.m-checkbox__icon_minus
                ul.b-actions__group
                    li.b-actions__item
                        a(href="#").b-actions__btn.m-actions__btn_success
                    li.b-actions__item
                        a(href="#" title="Снять с продажи" data-position="bottom" data-theme="g-hint").b-actions__btn.m-actions__btn_remove.j-hint
                    li.b-actions__item
                        a(href="#").b-actions__btn.m-actions__btn_delete
                ul.b-actions__group
                    li.b-actions__item
                        a(href="#").b-actions__btn.m-actions__btn_plus-minus
                    li.b-actions__item
                        a(href="#").b-actions__btn.m-actions__btn_rub
                    li.b-actions__item
                        a(href="#" title="Изменить категорию" data-position="bottom" data-theme="g-hint").b-actions__btn.m-actions__btn_list.j-hint
                ul.b-actions__group
                    li.b-actions__item
                        a(href="#").b-actions__btn.m-actions__btn_load

            .b-items-per-page
                span.b-items-per-page__text
                    | Показывать на странице:
                a(href="#").b-items-per-page__item.m-items-per-page__item_active 10
                a(href="#").b-items-per-page__item 25
                a(href="#").b-items-per-page__item 50

