/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$icon--cart_x = 61px;
$icon--cart_y = 0px;
$icon--cart_offset_x = -61px;
$icon--cart_offset_y = 0px;
$icon--cart_width = 29px;
$icon--cart_height = 24px;
$icon--cart_total_width = 90px;
$icon--cart_total_height = 27px;
$icon--cart_image = '../images/sprite.png';
$icon--cart = 61px 0px -61px 0px 29px 24px 90px 27px '../images/sprite.png';
$icon--help_x = 38px;
$icon--help_y = 0px;
$icon--help_offset_x = -38px;
$icon--help_offset_y = 0px;
$icon--help_width = 15px;
$icon--help_height = 26px;
$icon--help_total_width = 90px;
$icon--help_total_height = 27px;
$icon--help_image = '../images/sprite.png';
$icon--help = 38px 0px -38px 0px 15px 26px 90px 27px '../images/sprite.png';
$icon--settings_x = 0px;
$icon--settings_y = 0px;
$icon--settings_offset_x = 0px;
$icon--settings_offset_y = 0px;
$icon--settings_width = 30px;
$icon--settings_height = 27px;
$icon--settings_total_width = 90px;
$icon--settings_total_height = 27px;
$icon--settings_image = '../images/sprite.png';
$icon--settings = 0px 0px 0px 0px 30px 27px 90px 27px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
