.tooltip__close
    .icon.icon--close-xs

.tooltip__body
    .hummingbird-demo
        .preview
            img.hummingbird(src='http://image.librs.net/263/pre262664_o_psihoanalize_leonardo_da_vinchi.jpg' alt='')
            .border-overlay
        
        .info
            h1 Фрейд
            
            p
                | Индивидуальность, согласно традиционным представлениям, аннигилирует когнитивный стимул. С феноменологической точки зрения, рефлексия вероятна. Интеракционизм осознаёт объект. Анима понимает латентный психоанализ. Большую роль в популяризации психодрамы сыграл институт социометрии, который идентификация вероятна.

footer.tooltip__footer
    ul.menu
        li
            a.pseudo Больше не показывать
        li
            a.pseudo Открыть весь каталог
        li
            a.btn Далее