.tooltip__close
    .icon.icon--close-xs

.tooltip__body
    .hummingbird-demo
        .preview
            img.hummingbird(src='http://projects.nickstakenburg.com/images/tipped/demonstrations/ajax_hummingbird.jpg' alt='')
            .border-overlay
        
        .info
            h1 Колибри
            
            p
                strong Колибри
                | — семейство мелких птиц, единственное в отряде 
                strong колибриобразных
                | Известно более 330 видов. Происходят из Америки (от Южной Аляски и Лабрадора до Огненной Земли). 
            p
                | Это очень подвижные, задорные и неуживчивые птицы, обнаруживающие чрезвычайную смелость в нападениях на сравнительно крупных птиц, особенно в период вывода птенцов.
            p
                | Полёт их чрезвычайно быстрый (до 80 км/ч), ловкий и маневренный, напоминает полёт 
                a(href="https://ru.wikipedia.org/wiki/Чешуекрылые") чешуекрылых 
                | (бабочек). В полёте мелкие виды издают крыльями жужжание, делая до 80—100 взмахов в секунду, при этом крупные виды совершают всего 8—10 взмахов в секунду.
                br 
                | Единственная в мире птица, способная летать назад.
            .credits
                | Источник:
                a(href='https://ru.wikipedia.org/wiki/Колибри' target='_blank') Wikipedia
                | , фото: 
                a(href='http://www.flickr.com/photos/11234074@N05/' target='_blank') Philippe Vieux-Jeanton
                | .

footer.tooltip__footer
    ul.menu
        li
            a.pseudo Больше не показывать
        li
            a.pseudo Открыть весь каталог
        li
            a.btn Далее

