extends ../layouts/default

block head
    - pageTitle = 'ЛК продавца';

block scripts
    +script([
    	'libs/jquery.mCustomScrollbar.concat.min.js', 
    	'libs/jquery.tooltip.js', 
    	'common.js'
    ])

block content
    include ../content/index
