extends ../layouts/default

block variables
    - var breadcrumbsGoodsAdd = 1
    - var prevpage = 1
    - var prevpageMyGoodsAdd = 1

block head
    - pageTitle = 'ЛК продавца';

block content
    include ../content/my-goods__add_files