extends ../layouts/default

block variables
    - var navtop = 1
    - var navtopMyShops = 1
    - var breadcrumbMyShops = 1

block head
    - pageTitle = 'ЛК продавца - Магазины - настрйока кода';

block content
    include ../content/my-shops__partners-shops