extends ../layouts/default

block variables
    - var prevpage = 1
    - var prevpageMyShopsStoreData = 1
    - var breadcrumbMyShopsStoreData = 1

block head
    - pageTitle = 'ЛК продавца - Магазины - данные магазина';

block content
    include ../content/my-shops__store-data