html
    head
    style.
        a:hover {
            text-decoration: underline
        }
        a:visited {
            color: #179994;
        }
        a {
            color: #177a94;
            text-decoration: none;
            font: 14px Arial, sans-serif;
            display: block;
            line-height: 20px;
        }
        
h1
    | Работа с товарами
ul(style="list-style: none;")
    li
        a( target="_blank" href="/admin-main.html") Главная админки
    li
        a( target="_blank" href="/my-goods.html") Мои товары
    li
        a( target="_blank" href="my-goods__add.html") Мои товары (Добавление товара)
    li
        a( target="_blank" href="my-goods__add_files.html") Мои товары (Добавление товара - Продаваемая информация/Продаваемый файл)
    li
        a( target="_blank" href="my-goods__add_files2.html") Мои товары (Добавление товара - файлы)
    li
        a( target="_blank" href="import.html") Импорт
    li
        a( target="_blank" href="recognition.html") Распознавание 
    li
        a( target="_blank" href="product-reviews.html") Отзывы о товаре 

h1
    | Работа с товарами 2

    ul(style="list-style: none;")
        li
            a( target="_blank" href="/partners-goods.html") Товары партнёров
