html
    head
        meta(charset="utf-8")
    style.
        a:hover {
            text-decoration: underline
        }
        a:visited {
            color: #179994;
        }
        a {
            color: #177a94;
            text-decoration: none;
            font: 14px Arial, sans-serif;
            display: block;
            line-height: 20px;
        }
        
h1
    | Работа с товарами
ul(style="list-style: none;")
    li
        a( target="_blank" href="/admin-main.html") Главная админки
    li
        a( target="_blank" href="/my-goods.html") Мои товары
    li
        a( target="_blank" href="my-goods__add.html") Мои товары (Добавление товара)
    li
        a( target="_blank" href="my-goods__add2.html") Мои товары (Добавление товара/Добавление физического товара)
    li
        a( target="_blank" href="my-goods__add3.html") Мои товары (Добавление товара/Добавление цифрового товара)
    li
        a( target="_blank" href="my-goods__add_files.html") Мои товары (Добавление товара - Продаваемая информация/Продаваемый файл)
    li
        a( target="_blank" href="my-goods__add_files2.html") Мои товары (Добавление товара - файлы)
    li
        a( target="_blank" href="my-goods__add_upload-from-file.html") Мои товары (Добавление товара - Загрузка из файла)
    li
        a( target="_blank" href="import.html") Импорт
    li
        a( target="_blank" href="recognition.html") Распознавание 
    li
        a( target="_blank" href="product-reviews.html") Отзывы о товаре 

h1
    | Работа с товарами 2

    ul(style="list-style: none;")
        li
            a( target="_blank" href="/partners-goods.html") Товары партнёров

h1
    | Магазин

    ul(style="list-style: none;")
        li
            a( target="_blank" href="/my-shops.html") Мои магазины
        li
            a( target="_blank" href="/my-shops__chose-theme.html") Выбор темы
        li
            a( target="_blank" href="/my-shops__store-data.html") Настройки кода
        li
            a( target="_blank" href="/my-shops__code-settings.html") Данные магазина
        li
            a( target="_blank" href="/my-shops__shipping-methods.html") Способы доставки
        li
            a( target="_blank" href="/my-shops__partners-shops.html") Магазины партнёров
        li
            a( target="_blank" href="/my-shops__catalog-settings.html") Настройка каталога
        li
            a( target="_blank" href="/my-shops__available-partnership.html") Магазины, доступные для партнёрства


h1
    | Профиль

    ul(style="list-style: none;")
        li
            a( target="_blank" href="/profile_private.html") Профиль физ. лица
        li
            a( target="_blank" href="/profile_legal.html") Профиль юр. лица