extends ../layouts/default

block variables
    - var navtop = 1
    - var breadcrumbPartnersGoods = 1

block head
    - pageTitle = 'ЛК продавца - товары партнёров';

block content
    include ../content/partners-goods