.b-popup-holder
    .b-popup.m-popup_delivery-method.j-add-delivery-method-popup
        .b-popup__close.j-modal-close
        .b-block-title__heading
            | Добавление способа доставки 
        .b-popup__content
            h3.b-popup__title
                | Данные способа доставки
            .b-shop-logo__upload
                .b-shop-logo__preview
                    .b-store__logo
                            .b-store__logo-status
                                .b-activity-btn.m-activity-btn_remove.j-hint(title="Включить магазин" data-position="bottom" data-theme="g-hint")
                .b-shop-logo__configure
                    .b-configure
                        span.b-configure__icon.m-configure__icon_upload
                        a(href="#").b-configure__link.m-configure__link_customize-discounts
                            | Выбрать файл
                        span.b-configure__subtext 
                            | (jpg, png, bmp, 150 ×150 px, не более 5 МБ)
                        .b-configure__tooltip
                            .pkp-tooltip.pkp-tooltip_inline
                                span(title="Файл с информацией о товарах в формате: \n csv, txt, xml объемом не более 5 Мб" data-position="right" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                                    | ?
            label.b-label
                .b-label__text Название способа
                    span.g-required-filed  *
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input

            label.b-label
                .b-label__text Описание
                    span.g-required-filed  *
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                textarea.b-textarea
            span.b-label.m-label_charging-type
                .b-label__text Тип тарификации
                    span.g-required-filed  *
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?

                label.b-radio__label
                    input(type="radio" name="useBasket").b-radio__input
                    span.b-radio__icon.m-radio__icon_big
                    span.b-radio__text.m-radio__text_big Автоматический расчет
                        span.g-required-filed  *

                label.b-radio__label
                        input(type="radio" name="useBasket").b-radio__input
                        span.b-radio__icon.m-radio__icon_big
                        span.b-radio__text.m-radio__text_big Фиксированная цена
                            span.g-required-filed  *           
            label.b-label.m-label_delivery-price
                .b-label__text Фиксированная цена доставки
                    span.b-configure__subtext 
                            | (в руб)
                    .pkp-tooltip.pkp-tooltip_inline
                        span(title="Ключевые слова и фразы" data-position="top" data-theme="g-hint").pkp-tooltip__trigger.j-hint
                            | ?
                input(type="text").b-input
        
        .b-outer-btns-holder
            a(href="#").b-btn.m-btn_add-shipping_big
                | добавить способ 
            a(href="#" ).b-btn.m-btn_gray.m-btn_cancel
                | Отмена
