.b-popup-holder
    .b-message-remove-popup.j-message-remove-popup
        .b-message-remove-popup__close.j-modal-close
        p Вы действительно хотите удалить это сообщение?
        .b-message-remove-popup__btns
            a(href="").b-message-remove-popup__btn.m-message-remove-popup__btn_confirm Да
            a(href="").b-message-remove-popup__btn.m-message-remove-popup__btn_reject Нет