.b-popup-holder
    .b-popup.b-shop-theme.j-shop-theme-popup
        .b-popup__close.j-modal-close
        .b-block-title__heading
            | Тема «Магазин»
        .b-shop-theme__content
            .b-shop-theme__preview
                img(src="images/shops/shop-theme_big.png")
            .b-shop-theme__info
                strong Возможности
                ul
                    li Блог
                    li Поиск
                    li Панели блоков
                    li Навигационные панели
                    li Сопутствующие товары
                    li Аналогичные товары
                    li Старая цена
                    li Скидки на заказ
                    li Скидки на товар
                    li Фильтрация товаров по параметрам и свойствам
                    li Выбор модификаций
                    li Отзывы

                strong Главная
                ul
                    li Слайдер
                    li Товары на главной

                p Выводит категории до 4го уровня вложенности.

            a(href="#").b-btn.m-btn_theme выбрать