.video-holder
    video#intro-video.video-js.vjs-pokupo-skin(src="https://dl.dropboxusercontent.com/u/3902787/pokupo/pokupo-intro.mp4" width="100%" height="100%" controls="true"  data-setup='{"customControlsOnMobile": true}')
    span.j-close-video.close-video

    .playlist-components
        .b-playlist
            h1 Список материалов
            .b-playlist__scroll
                ul
                span.b-playlist__close.js-close-playlist

    .b-playlist-controls
        span.j-close-video.b-playlist-controls__close
        span.b-playlist-control.prev#js-prev(data-target="prev")
        span.b-playlist-control.next#js-next(data-target="next")
        span.b-playlist-control.playlist.js-show-playlist
            span.b-playlist-control__num 24