//b-files
.b-files__table
    width 100%
    thead
        background #ebe8e3
        border-right 1px solid #ebe8e3
        th
            font-weight 700
            color #333
            line-height 50px
            padding 0 10px
            text-align left
    tbody
        border 1px solid #d4d4d4
        tr
            td
                border-bottom 1px solid #d4d4d4
                font-size 13px
                color #333
                padding 16px 10px
                line-height 16px
                &:nth-child(2)
                    font-weight 600
                &:nth-child(6)
                    font-weight 600
                &:nth-child(8)
                    white-space nowrap
                strong 
                    font-weight 700
                a
                    color #177a93
                    &:hover
                        text-decoration none