//b-goods-description            
    .b-goods-description__info
        position relative
        
    .b-goods-description__info
        .b-label:last-child
            margin-bottom 0
        
    .b-keywords-and-phrases
        border-radius 5px
        position relative