//import
    .b-import
        .b-configure
            margin-top 15px
            padding-bottom 21px
            
        &__filter
            margin-top 25px
            
        &__separator-inner
            float left
            padding-right 20px
            width 50%    
            
        &__goods-type
            float right
            
        &__separator
            overflow hidden