//partners-goods
    .b-partners-goods 
        .b-goods-search
            margin-top 16px
            padding-left 15px
        .b-configure
            overflow hidden
    
    .b-partners-shop
        margin 24px 0 27px 4px
        
    .b-partners-shop strong
        font-weight 700
        color #000
        display block
        font-size 14px
    
    .b-partners-shop__link-holder
        overflow hidden
        padding-bottom 3px
    .b-partners-shop__link-holder a
        font-size 30px
        text-decoration none
        border-bottom 1px solid #aecace
        font-weight 300
        letter-spacing 0
        line-height 36px
        color #177a93
        &:hover
            border none
        
    .b-select-btn
        float right
        cursor pointer
        border 1px solid #ddd8d0
        position relative
        border-radius 5px
        width 40px
        height 40px
        display inline-block
        margin-left 10px
        &:hover
            background #d9d6d1
        centered-icon($arrow-down2)