//recognition
    .b-recognition .b-configure
        padding 26px 20px 19px 20px
        margin-top -3px
        
    .b-recognition__filter
        width 334px
        margin 13px 0 0 3px 
        li
            position relative                  
                        
    .b-recognition__upload
        background #efece7
        padding 18px 22px 0 22px

    .b-recognition__upload-existing
        width 530px