.b-agreements-popup
    .b-block-title__heading
        padding-bottom 9px          

.b-agreements-popup__details
    padding-top 16px
    margin 0 0 34px 0
    
.b-agreements-popup__details-row
    font-size 14px
    margin-bottom 24px
    strong
        font-size 18px
        color #000
        font-weight 700
        display block
        margin-top 8px
        
.b-agreements-popup__details-text
    color #666666
    font-size 14px
    letter-spacing 0.35px