//righs
.b-partners-shop-rights
    .b-pkp-block
        padding-bottom 0
    .b-block-subtitle
        padding 20px 0
    .b-radio__label
        display block
.b-partners-shop-rights__left
    width 50%
    float left
    padding-right 13px
.b-partners-shop-rights__right
    width 50%
    padding-left 13px
    float right
.b-partners-shop-rights__row
    font-size 14px
    margin-top -10px
    color #000
    letter-spacing 0.3px
    margin-bottom 30px
    color #000
    strong
        font-weight 700
    