include admin-main/indicator
include admin-main/graph
include admin-main/graph2
include admin-main/general_goods_statistic
include admin-main/double-graph
include admin-main/bestseller
include admin-main/store_code
include admin-main/platform_news
include ../appeared-blocks/notifications
include ../appeared-blocks/video