include ../common-blocks/informers

.page-content-wrap
    dl.tabs.tabs--noskin
        dt.tab__trigger.selected
            span Описание
        dd.tab__content.selected
            .content
                .pkp-slot
        dt.tab__trigger
            span Депозитстрой
        dd.tab__content
            .content
                .pkp-slot
        dt.tab__trigger
            span Магазин низких цен
        dd.tab__content
            .content
                .pkp-slot

    .columns
        .first.column.double
            .content
                .pkp-block
                    .pkp-slot
                        a#js-video(href=js0) Старт
        .third.column.double
            .content
                .pkp-block
                    .pkp-slot.b-log
                        pre

    .pkp-block
        .pkp-slot

    .pkp-block
        .pkp-slot

.video-holder(style="display:none")
    video#intro-video.video-js.vjs-pokupo-skin(src="https://dl.dropboxusercontent.com/u/3902787/pokupo/pokupo-intro.mp4")
    span#js-close-video.close-video

    .playlist-components
        .b-playlist
            h1 Список материалов
            ul
            span.b-playlist__close#js-close-playlist

    .b-playlist-controls
        span.b-playlist-control.prev#js-prev(data-target="prev")
        span.b-playlist-control.playlist#js-show-playlist
        span.b-playlist-control.next#js-next(data-target="next")
    