form(action="#")
    include shops/store-data
    include shops/shop-logo
    include shops/existing-domain
    include shops/product-sync
    include shops/shop-support
    .b-outer-btns-holder
        a(href="#").b-btn.m-btn_add-shop
            | Создать магазин
        a(href="#").b-btn.m-btn_gray.m-btn_cancel
            | Отмена
    include ../appeared-blocks/video