form(action="#")
    include my-goods__add/recognition
    .b-outer-btns-holder
        a(href="#").b-btn-green.m-btn-green_recognize
            | загрузить товары
        a(href="#").b-btn-cancel
            | отмена
    include ../appeared-blocks/video
    include ../appeared-blocks/goods-add