/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$action_add_x = 345px;
$action_add_y = 99px;
$action_add_offset_x = -345px;
$action_add_offset_y = -99px;
$action_add_width = 20px;
$action_add_height = 20px;
$action_add_total_width = 469px;
$action_add_total_height = 421px;
$action_add_image = '../images/sprite.png';
$action_add = 345px 99px -345px -99px 20px 20px 469px 421px '../images/sprite.png';
$action_bitcoin_x = 150px;
$action_bitcoin_y = 344px;
$action_bitcoin_offset_x = -150px;
$action_bitcoin_offset_y = -344px;
$action_bitcoin_width = 23px;
$action_bitcoin_height = 17px;
$action_bitcoin_total_width = 469px;
$action_bitcoin_total_height = 421px;
$action_bitcoin_image = '../images/sprite.png';
$action_bitcoin = 150px 344px -150px -344px 23px 17px 469px 421px '../images/sprite.png';
$action_delete_x = 314px;
$action_delete_y = 253px;
$action_delete_offset_x = -314px;
$action_delete_offset_y = -253px;
$action_delete_width = 15px;
$action_delete_height = 17px;
$action_delete_total_width = 469px;
$action_delete_total_height = 421px;
$action_delete_image = '../images/sprite.png';
$action_delete = 314px 253px -314px -253px 15px 17px 469px 421px '../images/sprite.png';
$action_dollar_x = 116px;
$action_dollar_y = 344px;
$action_dollar_offset_x = -116px;
$action_dollar_offset_y = -344px;
$action_dollar_width = 21px;
$action_dollar_height = 17px;
$action_dollar_total_width = 469px;
$action_dollar_total_height = 421px;
$action_dollar_image = '../images/sprite.png';
$action_dollar = 116px 344px -116px -344px 21px 17px 469px 421px '../images/sprite.png';
$action_euro_x = 33px;
$action_euro_y = 406px;
$action_euro_offset_x = -33px;
$action_euro_offset_y = -406px;
$action_euro_width = 22px;
$action_euro_height = 14px;
$action_euro_total_width = 469px;
$action_euro_total_height = 421px;
$action_euro_image = '../images/sprite.png';
$action_euro = 33px 406px -33px -406px 22px 14px 469px 421px '../images/sprite.png';
$action_list_x = 66px;
$action_list_y = 377px;
$action_list_offset_x = -66px;
$action_list_offset_y = -377px;
$action_list_width = 19px;
$action_list_height = 16px;
$action_list_total_width = 469px;
$action_list_total_height = 421px;
$action_list_image = '../images/sprite.png';
$action_list = 66px 377px -66px -377px 19px 16px 469px 421px '../images/sprite.png';
$action_list_green_x = 98px;
$action_list_green_y = 377px;
$action_list_green_offset_x = -98px;
$action_list_green_offset_y = -377px;
$action_list_green_width = 16px;
$action_list_green_height = 16px;
$action_list_green_total_width = 469px;
$action_list_green_total_height = 421px;
$action_list_green_image = '../images/sprite.png';
$action_list_green = 98px 377px -98px -377px 16px 16px 469px 421px '../images/sprite.png';
$action_list_green_hover_x = 378px;
$action_list_green_hover_y = 204px;
$action_list_green_hover_offset_x = -378px;
$action_list_green_hover_offset_y = -204px;
$action_list_green_hover_width = 16px;
$action_list_green_hover_height = 16px;
$action_list_green_hover_total_width = 469px;
$action_list_green_hover_total_height = 421px;
$action_list_green_hover_image = '../images/sprite.png';
$action_list_green_hover = 378px 204px -378px -204px 16px 16px 469px 421px '../images/sprite.png';
$action_load_x = 314px;
$action_load_y = 0px;
$action_load_offset_x = -314px;
$action_load_offset_y = 0px;
$action_load_width = 18px;
$action_load_height = 21px;
$action_load_total_width = 469px;
$action_load_total_height = 421px;
$action_load_image = '../images/sprite.png';
$action_load = 314px 0px -314px 0px 18px 21px 469px 421px '../images/sprite.png';
$action_plus-minus_x = 408px;
$action_plus-minus_y = 225px;
$action_plus-minus_offset_x = -408px;
$action_plus-minus_offset_y = -225px;
$action_plus-minus_width = 18px;
$action_plus-minus_height = 15px;
$action_plus-minus_total_width = 469px;
$action_plus-minus_total_height = 421px;
$action_plus-minus_image = '../images/sprite.png';
$action_plus-minus = 408px 225px -408px -225px 18px 15px 469px 421px '../images/sprite.png';
$action_remove_x = 345px;
$action_remove_y = 66px;
$action_remove_offset_x = -345px;
$action_remove_offset_y = -66px;
$action_remove_width = 20px;
$action_remove_height = 20px;
$action_remove_total_width = 469px;
$action_remove_total_height = 421px;
$action_remove_image = '../images/sprite.png';
$action_remove = 345px 66px -345px -66px 20px 20px 469px 421px '../images/sprite.png';
$action_rub_x = 68px;
$action_rub_y = 406px;
$action_rub_offset_x = -68px;
$action_rub_offset_y = -406px;
$action_rub_width = 24px;
$action_rub_height = 13px;
$action_rub_total_width = 469px;
$action_rub_total_height = 421px;
$action_rub_image = '../images/sprite.png';
$action_rub = 68px 406px -68px -406px 24px 13px 469px 421px '../images/sprite.png';
$action_success_x = 345px;
$action_success_y = 33px;
$action_success_offset_x = -345px;
$action_success_offset_y = -33px;
$action_success_width = 20px;
$action_success_height = 20px;
$action_success_total_width = 469px;
$action_success_total_height = 421px;
$action_success_image = '../images/sprite.png';
$action_success = 345px 33px -345px -33px 20px 20px 469px 421px '../images/sprite.png';
$activity-btn_add-partner_x = 378px;
$activity-btn_add-partner_y = 0px;
$activity-btn_add-partner_offset_x = -378px;
$activity-btn_add-partner_offset_y = 0px;
$activity-btn_add-partner_width = 17px;
$activity-btn_add-partner_height = 17px;
$activity-btn_add-partner_total_width = 469px;
$activity-btn_add-partner_total_height = 421px;
$activity-btn_add-partner_image = '../images/sprite.png';
$activity-btn_add-partner = 378px 0px -378px 0px 17px 17px 469px 421px '../images/sprite.png';
$activity-btn_add-partner_hover_x = 314px;
$activity-btn_add-partner_hover_y = 133px;
$activity-btn_add-partner_hover_offset_x = -314px;
$activity-btn_add-partner_hover_offset_y = -133px;
$activity-btn_add-partner_hover_width = 17px;
$activity-btn_add-partner_hover_height = 17px;
$activity-btn_add-partner_hover_total_width = 469px;
$activity-btn_add-partner_hover_total_height = 421px;
$activity-btn_add-partner_hover_image = '../images/sprite.png';
$activity-btn_add-partner_hover = 314px 133px -314px -133px 17px 17px 469px 421px '../images/sprite.png';
$activity-btn_bid_small_x = 272px;
$activity-btn_bid_small_y = 310px;
$activity-btn_bid_small_offset_x = -272px;
$activity-btn_bid_small_offset_y = -310px;
$activity-btn_bid_small_width = 20px;
$activity-btn_bid_small_height = 20px;
$activity-btn_bid_small_total_width = 469px;
$activity-btn_bid_small_total_height = 421px;
$activity-btn_bid_small_image = '../images/sprite.png';
$activity-btn_bid_small = 272px 310px -272px -310px 20px 20px 469px 421px '../images/sprite.png';
$activity-btn_done_x = 196px;
$activity-btn_done_y = 377px;
$activity-btn_done_offset_x = -196px;
$activity-btn_done_offset_y = -377px;
$activity-btn_done_width = 20px;
$activity-btn_done_height = 16px;
$activity-btn_done_total_width = 469px;
$activity-btn_done_total_height = 421px;
$activity-btn_done_image = '../images/sprite.png';
$activity-btn_done = 196px 377px -196px -377px 20px 16px 469px 421px '../images/sprite.png';
$activity-btn_done_black_x = 229px;
$activity-btn_done_black_y = 377px;
$activity-btn_done_black_offset_x = -229px;
$activity-btn_done_black_offset_y = -377px;
$activity-btn_done_black_width = 20px;
$activity-btn_done_black_height = 16px;
$activity-btn_done_black_total_width = 469px;
$activity-btn_done_black_total_height = 421px;
$activity-btn_done_black_image = '../images/sprite.png';
$activity-btn_done_black = 229px 377px -229px -377px 20px 16px 469px 421px '../images/sprite.png';
$activity-btn_done_hover_x = 343px;
$activity-btn_done_hover_y = 377px;
$activity-btn_done_hover_offset_x = -343px;
$activity-btn_done_hover_offset_y = -377px;
$activity-btn_done_hover_width = 20px;
$activity-btn_done_hover_height = 16px;
$activity-btn_done_hover_total_width = 469px;
$activity-btn_done_hover_total_height = 421px;
$activity-btn_done_hover_image = '../images/sprite.png';
$activity-btn_done_hover = 343px 377px -343px -377px 20px 16px 469px 421px '../images/sprite.png';
$activity-btn_done_small_x = 292px;
$activity-btn_done_small_y = 406px;
$activity-btn_done_small_offset_x = -292px;
$activity-btn_done_small_offset_y = -406px;
$activity-btn_done_small_width = 12px;
$activity-btn_done_small_height = 10px;
$activity-btn_done_small_total_width = 469px;
$activity-btn_done_small_total_height = 421px;
$activity-btn_done_small_image = '../images/sprite.png';
$activity-btn_done_small = 292px 406px -292px -406px 12px 10px 469px 421px '../images/sprite.png';
$activity-btn_done_small_hover_x = 453px;
$activity-btn_done_small_hover_y = 23px;
$activity-btn_done_small_hover_offset_x = -453px;
$activity-btn_done_small_hover_offset_y = -23px;
$activity-btn_done_small_hover_width = 12px;
$activity-btn_done_small_hover_height = 10px;
$activity-btn_done_small_hover_total_width = 469px;
$activity-btn_done_small_hover_total_height = 421px;
$activity-btn_done_small_hover_image = '../images/sprite.png';
$activity-btn_done_small_hover = 453px 23px -453px -23px 12px 10px 469px 421px '../images/sprite.png';
$activity-btn_edit_x = 345px;
$activity-btn_edit_y = 288px;
$activity-btn_edit_offset_x = -345px;
$activity-btn_edit_offset_y = -288px;
$activity-btn_edit_width = 19px;
$activity-btn_edit_height = 18px;
$activity-btn_edit_total_width = 469px;
$activity-btn_edit_total_height = 421px;
$activity-btn_edit_image = '../images/sprite.png';
$activity-btn_edit = 345px 288px -345px -288px 19px 18px 469px 421px '../images/sprite.png';
$activity-btn_edit_hover_x = 345px;
$activity-btn_edit_hover_y = 195px;
$activity-btn_edit_hover_offset_x = -345px;
$activity-btn_edit_hover_offset_y = -195px;
$activity-btn_edit_hover_width = 19px;
$activity-btn_edit_hover_height = 18px;
$activity-btn_edit_hover_total_width = 469px;
$activity-btn_edit_hover_total_height = 421px;
$activity-btn_edit_hover_image = '../images/sprite.png';
$activity-btn_edit_hover = 345px 195px -345px -195px 19px 18px 469px 421px '../images/sprite.png';
$activity-btn_edit_small_x = 369px;
$activity-btn_edit_small_y = 406px;
$activity-btn_edit_small_offset_x = -369px;
$activity-btn_edit_small_offset_y = -406px;
$activity-btn_edit_small_width = 11px;
$activity-btn_edit_small_height = 10px;
$activity-btn_edit_small_total_width = 469px;
$activity-btn_edit_small_total_height = 421px;
$activity-btn_edit_small_image = '../images/sprite.png';
$activity-btn_edit_small = 369px 406px -369px -406px 11px 10px 469px 421px '../images/sprite.png';
$activity-btn_edit_small_hover_x = 393px;
$activity-btn_edit_small_hover_y = 406px;
$activity-btn_edit_small_hover_offset_x = -393px;
$activity-btn_edit_small_hover_offset_y = -406px;
$activity-btn_edit_small_hover_width = 11px;
$activity-btn_edit_small_hover_height = 10px;
$activity-btn_edit_small_hover_total_width = 469px;
$activity-btn_edit_small_hover_total_height = 421px;
$activity-btn_edit_small_hover_image = '../images/sprite.png';
$activity-btn_edit_small_hover = 393px 406px -393px -406px 11px 10px 469px 421px '../images/sprite.png';
$activity-btn_favorite_x = 314px;
$activity-btn_favorite_y = 377px;
$activity-btn_favorite_offset_x = -314px;
$activity-btn_favorite_offset_y = -377px;
$activity-btn_favorite_width = 16px;
$activity-btn_favorite_height = 16px;
$activity-btn_favorite_total_width = 469px;
$activity-btn_favorite_total_height = 421px;
$activity-btn_favorite_image = '../images/sprite.png';
$activity-btn_favorite = 314px 377px -314px -377px 16px 16px 469px 421px '../images/sprite.png';
$activity-btn_favorite_hover_x = 262px;
$activity-btn_favorite_hover_y = 377px;
$activity-btn_favorite_hover_offset_x = -262px;
$activity-btn_favorite_hover_offset_y = -377px;
$activity-btn_favorite_hover_width = 16px;
$activity-btn_favorite_hover_height = 16px;
$activity-btn_favorite_hover_total_width = 469px;
$activity-btn_favorite_hover_total_height = 421px;
$activity-btn_favorite_hover_image = '../images/sprite.png';
$activity-btn_favorite_hover = 262px 377px -262px -377px 16px 16px 469px 421px '../images/sprite.png';
$activity-btn_goods-view_small_x = 453px;
$activity-btn_goods-view_small_y = 244px;
$activity-btn_goods-view_small_offset_x = -453px;
$activity-btn_goods-view_small_offset_y = -244px;
$activity-btn_goods-view_small_width = 8px;
$activity-btn_goods-view_small_height = 8px;
$activity-btn_goods-view_small_total_width = 469px;
$activity-btn_goods-view_small_total_height = 421px;
$activity-btn_goods-view_small_image = '../images/sprite.png';
$activity-btn_goods-view_small = 453px 244px -453px -244px 8px 8px 469px 421px '../images/sprite.png';
$activity-btn_goods-view_small_hover_x = 453px;
$activity-btn_goods-view_small_hover_y = 223px;
$activity-btn_goods-view_small_hover_offset_x = -453px;
$activity-btn_goods-view_small_hover_offset_y = -223px;
$activity-btn_goods-view_small_hover_width = 8px;
$activity-btn_goods-view_small_hover_height = 8px;
$activity-btn_goods-view_small_hover_total_width = 469px;
$activity-btn_goods-view_small_hover_total_height = 421px;
$activity-btn_goods-view_small_hover_image = '../images/sprite.png';
$activity-btn_goods-view_small_hover = 453px 223px -453px -223px 8px 8px 469px 421px '../images/sprite.png';
$activity-btn_load_x = 408px;
$activity-btn_load_y = 169px;
$activity-btn_load_offset_x = -408px;
$activity-btn_load_offset_y = -169px;
$activity-btn_load_width = 16px;
$activity-btn_load_height = 15px;
$activity-btn_load_total_width = 469px;
$activity-btn_load_total_height = 421px;
$activity-btn_load_image = '../images/sprite.png';
$activity-btn_load = 408px 169px -408px -169px 16px 15px 469px 421px '../images/sprite.png';
$activity-btn_load_hover_x = 408px;
$activity-btn_load_hover_y = 253px;
$activity-btn_load_hover_offset_x = -408px;
$activity-btn_load_hover_offset_y = -253px;
$activity-btn_load_hover_width = 16px;
$activity-btn_load_hover_height = 15px;
$activity-btn_load_hover_total_width = 469px;
$activity-btn_load_hover_total_height = 421px;
$activity-btn_load_hover_image = '../images/sprite.png';
$activity-btn_load_hover = 408px 253px -408px -253px 16px 15px 469px 421px '../images/sprite.png';
$activity-btn_message_x = 314px;
$activity-btn_message_y = 283px;
$activity-btn_message_offset_x = -314px;
$activity-btn_message_offset_y = -283px;
$activity-btn_message_width = 18px;
$activity-btn_message_height = 13px;
$activity-btn_message_total_width = 469px;
$activity-btn_message_total_height = 421px;
$activity-btn_message_image = '../images/sprite.png';
$activity-btn_message = 314px 283px -314px -283px 18px 13px 469px 421px '../images/sprite.png';
$activity-btn_message_hover_x = 376px;
$activity-btn_message_hover_y = 377px;
$activity-btn_message_hover_offset_x = -376px;
$activity-btn_message_hover_offset_y = -377px;
$activity-btn_message_hover_width = 18px;
$activity-btn_message_hover_height = 13px;
$activity-btn_message_hover_total_width = 469px;
$activity-btn_message_hover_total_height = 421px;
$activity-btn_message_hover_image = '../images/sprite.png';
$activity-btn_message_hover = 376px 377px -376px -377px 18px 13px 469px 421px '../images/sprite.png';
$activity-btn_remove_x = 339px;
$activity-btn_remove_y = 344px;
$activity-btn_remove_offset_x = -339px;
$activity-btn_remove_offset_y = -344px;
$activity-btn_remove_width = 15px;
$activity-btn_remove_height = 17px;
$activity-btn_remove_total_width = 469px;
$activity-btn_remove_total_height = 421px;
$activity-btn_remove_image = '../images/sprite.png';
$activity-btn_remove = 339px 344px -339px -344px 15px 17px 469px 421px '../images/sprite.png';
$activity-btn_remove_hover_x = 311px;
$activity-btn_remove_hover_y = 344px;
$activity-btn_remove_hover_offset_x = -311px;
$activity-btn_remove_hover_offset_y = -344px;
$activity-btn_remove_hover_width = 15px;
$activity-btn_remove_hover_height = 17px;
$activity-btn_remove_hover_total_width = 469px;
$activity-btn_remove_hover_total_height = 421px;
$activity-btn_remove_hover_image = '../images/sprite.png';
$activity-btn_remove_hover = 311px 344px -311px -344px 15px 17px 469px 421px '../images/sprite.png';
$activity-btn_search_x = 408px;
$activity-btn_search_y = 365px;
$activity-btn_search_offset_x = -408px;
$activity-btn_search_offset_y = -365px;
$activity-btn_search_width = 15px;
$activity-btn_search_height = 15px;
$activity-btn_search_total_width = 469px;
$activity-btn_search_total_height = 421px;
$activity-btn_search_image = '../images/sprite.png';
$activity-btn_search = 408px 365px -408px -365px 15px 15px 469px 421px '../images/sprite.png';
$activity-btn_search_hover_x = 408px;
$activity-btn_search_hover_y = 309px;
$activity-btn_search_hover_offset_x = -408px;
$activity-btn_search_hover_offset_y = -309px;
$activity-btn_search_hover_width = 15px;
$activity-btn_search_hover_height = 15px;
$activity-btn_search_hover_total_width = 469px;
$activity-btn_search_hover_total_height = 421px;
$activity-btn_search_hover_image = '../images/sprite.png';
$activity-btn_search_hover = 408px 309px -408px -309px 15px 15px 469px 421px '../images/sprite.png';
$activity-btn_setup_small_x = 246px;
$activity-btn_setup_small_y = 406px;
$activity-btn_setup_small_offset_x = -246px;
$activity-btn_setup_small_offset_y = -406px;
$activity-btn_setup_small_width = 10px;
$activity-btn_setup_small_height = 10px;
$activity-btn_setup_small_total_width = 469px;
$activity-btn_setup_small_total_height = 421px;
$activity-btn_setup_small_image = '../images/sprite.png';
$activity-btn_setup_small = 246px 406px -246px -406px 10px 10px 469px 421px '../images/sprite.png';
$activity-btn_setup_small_hover_x = 269px;
$activity-btn_setup_small_hover_y = 406px;
$activity-btn_setup_small_hover_offset_x = -269px;
$activity-btn_setup_small_hover_offset_y = -406px;
$activity-btn_setup_small_hover_width = 10px;
$activity-btn_setup_small_hover_height = 10px;
$activity-btn_setup_small_hover_total_width = 469px;
$activity-btn_setup_small_hover_total_height = 421px;
$activity-btn_setup_small_hover_image = '../images/sprite.png';
$activity-btn_setup_small_hover = 269px 406px -269px -406px 10px 10px 469px 421px '../images/sprite.png';
$add-partners_x = 281px;
$add-partners_y = 344px;
$add-partners_offset_x = -281px;
$add-partners_offset_y = -344px;
$add-partners_width = 17px;
$add-partners_height = 17px;
$add-partners_total_width = 469px;
$add-partners_total_height = 421px;
$add-partners_image = '../images/sprite.png';
$add-partners = 281px 344px -281px -344px 17px 17px 469px 421px '../images/sprite.png';
$add_shop_x = 0px;
$add_shop_y = 229px;
$add_shop_offset_x = 0px;
$add_shop_offset_y = -229px;
$add_shop_width = 31px;
$add_shop_height = 30px;
$add_shop_total_width = 469px;
$add_shop_total_height = 421px;
$add_shop_image = '../images/sprite.png';
$add_shop = 0px 229px 0px -229px 31px 30px 469px 421px '../images/sprite.png';
$alert_x = 168px;
$alert_y = 310px;
$alert_offset_x = -168px;
$alert_offset_y = -310px;
$alert_width = 20px;
$alert_height = 20px;
$alert_total_width = 469px;
$alert_total_height = 421px;
$alert_image = '../images/sprite.png';
$alert = 168px 310px -168px -310px 20px 20px 469px 421px '../images/sprite.png';
$arrow-down_x = 453px;
$arrow-down_y = 113px;
$arrow-down_offset_x = -453px;
$arrow-down_offset_y = -113px;
$arrow-down_width = 16px;
$arrow-down_height = 9px;
$arrow-down_total_width = 469px;
$arrow-down_total_height = 421px;
$arrow-down_image = '../images/sprite.png';
$arrow-down = 453px 113px -453px -113px 16px 9px 469px 421px '../images/sprite.png';
$arrow-down2_x = 317px;
$arrow-down2_y = 406px;
$arrow-down2_offset_x = -317px;
$arrow-down2_offset_y = -406px;
$arrow-down2_width = 16px;
$arrow-down2_height = 10px;
$arrow-down2_total_width = 469px;
$arrow-down2_total_height = 421px;
$arrow-down2_image = '../images/sprite.png';
$arrow-down2 = 317px 406px -317px -406px 16px 10px 469px 421px '../images/sprite.png';
$arrow-down_hover_x = 453px;
$arrow-down_hover_y = 91px;
$arrow-down_hover_offset_x = -453px;
$arrow-down_hover_offset_y = -91px;
$arrow-down_hover_width = 16px;
$arrow-down_hover_height = 9px;
$arrow-down_hover_total_width = 469px;
$arrow-down_hover_total_height = 421px;
$arrow-down_hover_image = '../images/sprite.png';
$arrow-down_hover = 453px 91px -453px -91px 16px 9px 469px 421px '../images/sprite.png';
$arrow-left_x = 378px;
$arrow-left_y = 88px;
$arrow-left_offset_x = -378px;
$arrow-left_offset_y = -88px;
$arrow-left_width = 10px;
$arrow-left_height = 16px;
$arrow-left_total_width = 469px;
$arrow-left_total_height = 421px;
$arrow-left_image = '../images/sprite.png';
$arrow-left = 378px 88px -378px -88px 10px 16px 469px 421px '../images/sprite.png';
$arrow-right_x = 378px;
$arrow-right_y = 59px;
$arrow-right_offset_x = -378px;
$arrow-right_offset_y = -59px;
$arrow-right_width = 10px;
$arrow-right_height = 16px;
$arrow-right_total_width = 469px;
$arrow-right_total_height = 421px;
$arrow-right_image = '../images/sprite.png';
$arrow-right = 378px 59px -378px -59px 10px 16px 469px 421px '../images/sprite.png';
$arrow-sort-down_x = 453px;
$arrow-sort-down_y = 157px;
$arrow-sort-down_offset_x = -453px;
$arrow-sort-down_offset_y = -157px;
$arrow-sort-down_width = 6px;
$arrow-sort-down_height = 9px;
$arrow-sort-down_total_width = 469px;
$arrow-sort-down_total_height = 421px;
$arrow-sort-down_image = '../images/sprite.png';
$arrow-sort-down = 453px 157px -453px -157px 6px 9px 469px 421px '../images/sprite.png';
$arrow-sort-top_x = 453px;
$arrow-sort-top_y = 69px;
$arrow-sort-top_offset_x = -453px;
$arrow-sort-top_offset_y = -69px;
$arrow-sort-top_width = 6px;
$arrow-sort-top_height = 9px;
$arrow-sort-top_total_width = 469px;
$arrow-sort-top_total_height = 421px;
$arrow-sort-top_image = '../images/sprite.png';
$arrow-sort-top = 453px 69px -453px -69px 6px 9px 469px 421px '../images/sprite.png';
$arrow-top_x = 453px;
$arrow-top_y = 0px;
$arrow-top_offset_x = -453px;
$arrow-top_offset_y = 0px;
$arrow-top_width = 16px;
$arrow-top_height = 10px;
$arrow-top_total_width = 469px;
$arrow-top_total_height = 421px;
$arrow-top_image = '../images/sprite.png';
$arrow-top = 453px 0px -453px 0px 16px 10px 469px 421px '../images/sprite.png';
$avatar_x = 314px;
$avatar_y = 67px;
$avatar_offset_x = -314px;
$avatar_offset_y = -67px;
$avatar_width = 16px;
$avatar_height = 20px;
$avatar_total_width = 469px;
$avatar_total_height = 421px;
$avatar_image = '../images/sprite.png';
$avatar = 314px 67px -314px -67px 16px 20px 469px 421px '../images/sprite.png';
$avatar_hover_x = 314px;
$avatar_hover_y = 100px;
$avatar_hover_offset_x = -314px;
$avatar_hover_offset_y = -100px;
$avatar_hover_width = 16px;
$avatar_hover_height = 20px;
$avatar_hover_total_width = 469px;
$avatar_hover_total_height = 421px;
$avatar_hover_image = '../images/sprite.png';
$avatar_hover = 314px 100px -314px -100px 16px 20px 469px 421px '../images/sprite.png';
$calendar_icon_x = 305px;
$calendar_icon_y = 310px;
$calendar_icon_offset_x = -305px;
$calendar_icon_offset_y = -310px;
$calendar_icon_width = 19px;
$calendar_icon_height = 20px;
$calendar_icon_total_width = 469px;
$calendar_icon_total_height = 421px;
$calendar_icon_image = '../images/sprite.png';
$calendar_icon = 305px 310px -305px -310px 19px 20px 469px 421px '../images/sprite.png';
$catalog_hot_x = 0px;
$catalog_hot_y = 406px;
$catalog_hot_offset_x = 0px;
$catalog_hot_offset_y = -406px;
$catalog_hot_width = 20px;
$catalog_hot_height = 15px;
$catalog_hot_total_width = 469px;
$catalog_hot_total_height = 421px;
$catalog_hot_image = '../images/sprite.png';
$catalog_hot = 0px 406px 0px -406px 20px 15px 469px 421px '../images/sprite.png';
$catalog_hot_small_x = 453px;
$catalog_hot_small_y = 201px;
$catalog_hot_small_offset_x = -453px;
$catalog_hot_small_offset_y = -201px;
$catalog_hot_small_width = 11px;
$catalog_hot_small_height = 9px;
$catalog_hot_small_total_width = 469px;
$catalog_hot_small_total_height = 421px;
$catalog_hot_small_image = '../images/sprite.png';
$catalog_hot_small = 453px 201px -453px -201px 11px 9px 469px 421px '../images/sprite.png';
$catalog_novelty_x = 408px;
$catalog_novelty_y = 113px;
$catalog_novelty_offset_x = -408px;
$catalog_novelty_offset_y = -113px;
$catalog_novelty_width = 17px;
$catalog_novelty_height = 15px;
$catalog_novelty_total_width = 469px;
$catalog_novelty_total_height = 421px;
$catalog_novelty_image = '../images/sprite.png';
$catalog_novelty = 408px 113px -408px -113px 17px 15px 469px 421px '../images/sprite.png';
$catalog_novelty_small_x = 453px;
$catalog_novelty_small_y = 179px;
$catalog_novelty_small_offset_x = -453px;
$catalog_novelty_small_offset_y = -179px;
$catalog_novelty_small_width = 9px;
$catalog_novelty_small_height = 9px;
$catalog_novelty_small_total_width = 469px;
$catalog_novelty_small_total_height = 421px;
$catalog_novelty_small_image = '../images/sprite.png';
$catalog_novelty_small = 453px 179px -453px -179px 9px 9px 469px 421px '../images/sprite.png';
$catalog_recommended_x = 408px;
$catalog_recommended_y = 29px;
$catalog_recommended_offset_x = -408px;
$catalog_recommended_offset_y = -29px;
$catalog_recommended_width = 26px;
$catalog_recommended_height = 15px;
$catalog_recommended_total_width = 469px;
$catalog_recommended_total_height = 421px;
$catalog_recommended_image = '../images/sprite.png';
$catalog_recommended = 408px 29px -408px -29px 26px 15px 469px 421px '../images/sprite.png';
$catalog_recommended_small_x = 453px;
$catalog_recommended_small_y = 135px;
$catalog_recommended_small_offset_x = -453px;
$catalog_recommended_small_offset_y = -135px;
$catalog_recommended_small_width = 15px;
$catalog_recommended_small_height = 9px;
$catalog_recommended_small_total_width = 469px;
$catalog_recommended_small_total_height = 421px;
$catalog_recommended_small_image = '../images/sprite.png';
$catalog_recommended_small = 453px 135px -453px -135px 15px 9px 469px 421px '../images/sprite.png';
$checkbox_x = 201px;
$checkbox_y = 310px;
$checkbox_offset_x = -201px;
$checkbox_offset_y = -310px;
$checkbox_width = 25px;
$checkbox_height = 20px;
$checkbox_total_width = 469px;
$checkbox_total_height = 421px;
$checkbox_image = '../images/sprite.png';
$checkbox = 201px 310px -201px -310px 25px 20px 469px 421px '../images/sprite.png';
$checkbox_general_x = 238px;
$checkbox_general_y = 272px;
$checkbox_general_offset_x = -238px;
$checkbox_general_offset_y = -272px;
$checkbox_general_width = 21px;
$checkbox_general_height = 21px;
$checkbox_general_total_width = 469px;
$checkbox_general_total_height = 421px;
$checkbox_general_image = '../images/sprite.png';
$checkbox_general = 238px 272px -238px -272px 21px 21px 469px 421px '../images/sprite.png';
$checkbox_general_big_x = 49px;
$checkbox_general_big_y = 137px;
$checkbox_general_big_offset_x = -49px;
$checkbox_general_big_offset_y = -137px;
$checkbox_general_big_width = 36px;
$checkbox_general_big_height = 36px;
$checkbox_general_big_total_width = 469px;
$checkbox_general_big_total_height = 421px;
$checkbox_general_big_image = '../images/sprite.png';
$checkbox_general_big = 49px 137px -49px -137px 36px 36px 469px 421px '../images/sprite.png';
$checkbox_general_big_checked_x = 0px;
$checkbox_general_big_checked_y = 83px;
$checkbox_general_big_checked_offset_x = 0px;
$checkbox_general_big_checked_offset_y = -83px;
$checkbox_general_big_checked_width = 46px;
$checkbox_general_big_checked_height = 41px;
$checkbox_general_big_checked_total_width = 469px;
$checkbox_general_big_checked_total_height = 421px;
$checkbox_general_big_checked_image = '../images/sprite.png';
$checkbox_general_big_checked = 0px 83px 0px -83px 46px 41px 469px 421px '../images/sprite.png';
$checkbox_general_checked_x = 273px;
$checkbox_general_checked_y = 186px;
$checkbox_general_checked_offset_x = -273px;
$checkbox_general_checked_offset_y = -186px;
$checkbox_general_checked_width = 27px;
$checkbox_general_checked_height = 24px;
$checkbox_general_checked_total_width = 469px;
$checkbox_general_checked_total_height = 421px;
$checkbox_general_checked_image = '../images/sprite.png';
$checkbox_general_checked = 273px 186px -273px -186px 27px 24px 469px 421px '../images/sprite.png';
$checkbox_general_checked_minus_x = 34px;
$checkbox_general_checked_minus_y = 310px;
$checkbox_general_checked_minus_offset_x = -34px;
$checkbox_general_checked_minus_offset_y = -310px;
$checkbox_general_checked_minus_width = 21px;
$checkbox_general_checked_minus_height = 21px;
$checkbox_general_checked_minus_total_width = 469px;
$checkbox_general_checked_minus_total_height = 421px;
$checkbox_general_checked_minus_image = '../images/sprite.png';
$checkbox_general_checked_minus = 34px 310px -34px -310px 21px 21px 469px 421px '../images/sprite.png';
$checkbox_general_small_x = 378px;
$checkbox_general_small_y = 175px;
$checkbox_general_small_offset_x = -378px;
$checkbox_general_small_offset_y = -175px;
$checkbox_general_small_width = 16px;
$checkbox_general_small_height = 16px;
$checkbox_general_small_total_width = 469px;
$checkbox_general_small_total_height = 421px;
$checkbox_general_small_image = '../images/sprite.png';
$checkbox_general_small = 378px 175px -378px -175px 16px 16px 469px 421px '../images/sprite.png';
$checkbox_general_small_checked_x = 186px;
$checkbox_general_small_checked_y = 344px;
$checkbox_general_small_checked_offset_x = -186px;
$checkbox_general_small_checked_offset_y = -344px;
$checkbox_general_small_checked_width = 19px;
$checkbox_general_small_checked_height = 17px;
$checkbox_general_small_checked_total_width = 469px;
$checkbox_general_small_checked_total_height = 421px;
$checkbox_general_small_checked_image = '../images/sprite.png';
$checkbox_general_small_checked = 186px 344px -186px -344px 19px 17px 469px 421px '../images/sprite.png';
$checkbox_unchecked_x = 0px;
$checkbox_unchecked_y = 344px;
$checkbox_unchecked_offset_x = 0px;
$checkbox_unchecked_offset_y = -344px;
$checkbox_unchecked_width = 25px;
$checkbox_unchecked_height = 20px;
$checkbox_unchecked_total_width = 469px;
$checkbox_unchecked_total_height = 421px;
$checkbox_unchecked_image = '../images/sprite.png';
$checkbox_unchecked = 0px 344px 0px -344px 25px 20px 469px 421px '../images/sprite.png';
$clone_big_x = 133px;
$clone_big_y = 272px;
$clone_big_offset_x = -133px;
$clone_big_offset_y = -272px;
$clone_big_width = 22px;
$clone_big_height = 22px;
$clone_big_total_width = 469px;
$clone_big_total_height = 421px;
$clone_big_image = '../images/sprite.png';
$clone_big = 133px 272px -133px -272px 22px 22px 469px 421px '../images/sprite.png';
$copy--code_x = 378px;
$copy--code_y = 146px;
$copy--code_offset_x = -378px;
$copy--code_offset_y = -146px;
$copy--code_width = 16px;
$copy--code_height = 16px;
$copy--code_total_width = 469px;
$copy--code_total_height = 421px;
$copy--code_image = '../images/sprite.png';
$copy--code = 378px 146px -378px -146px 16px 16px 469px 421px '../images/sprite.png';
$delivery_x = 136px;
$delivery_y = 406px;
$delivery_offset_x = -136px;
$delivery_offset_y = -406px;
$delivery_width = 20px;
$delivery_height = 13px;
$delivery_total_width = 469px;
$delivery_total_height = 421px;
$delivery_image = '../images/sprite.png';
$delivery = 136px 406px -136px -406px 20px 13px 469px 421px '../images/sprite.png';
$domain_x = 168px;
$domain_y = 272px;
$domain_offset_x = -168px;
$domain_offset_y = -272px;
$domain_width = 22px;
$domain_height = 22px;
$domain_total_width = 469px;
$domain_total_height = 421px;
$domain_image = '../images/sprite.png';
$domain = 168px 272px -168px -272px 22px 22px 469px 421px '../images/sprite.png';
$download-icon_x = 408px;
$download-icon_y = 141px;
$download-icon_offset_x = -408px;
$download-icon_offset_y = -141px;
$download-icon_width = 16px;
$download-icon_height = 15px;
$download-icon_total_width = 469px;
$download-icon_total_height = 421px;
$download-icon_image = '../images/sprite.png';
$download-icon = 408px 141px -408px -141px 16px 15px 469px 421px '../images/sprite.png';
$dropdown__active_x = 417px;
$dropdown__active_y = 406px;
$dropdown__active_offset_x = -417px;
$dropdown__active_offset_y = -406px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 469px;
$dropdown__active_total_height = 421px;
$dropdown__active_image = '../images/sprite.png';
$dropdown__active = 417px 406px -417px -406px 11px 10px 469px 421px '../images/sprite.png';
$favorite-store_x = 0px;
$favorite-store_y = 0px;
$favorite-store_offset_x = 0px;
$favorite-store_offset_y = 0px;
$favorite-store_width = 70px;
$favorite-store_height = 70px;
$favorite-store_total_width = 469px;
$favorite-store_total_height = 421px;
$favorite-store_image = '../images/sprite.png';
$favorite-store = 0px 0px 0px 0px 70px 70px 469px 421px '../images/sprite.png';
$folder_x = 273px;
$folder_y = 0px;
$folder_offset_x = -273px;
$folder_offset_y = 0px;
$folder_width = 28px;
$folder_height = 25px;
$folder_total_width = 469px;
$folder_total_height = 421px;
$folder_image = '../images/sprite.png';
$folder = 273px 0px -273px 0px 28px 25px 469px 421px '../images/sprite.png';
$folder_opened_x = 43px;
$folder_opened_y = 272px;
$folder_opened_offset_x = -43px;
$folder_opened_offset_y = -272px;
$folder_opened_width = 35px;
$folder_opened_height = 25px;
$folder_opened_total_width = 469px;
$folder_opened_total_height = 421px;
$folder_opened_image = '../images/sprite.png';
$folder_opened = 43px 272px -43px -272px 35px 25px 469px 421px '../images/sprite.png';
$folder_opened_small_x = 38px;
$folder_opened_small_y = 344px;
$folder_opened_small_offset_x = -38px;
$folder_opened_small_offset_y = -344px;
$folder_opened_small_width = 26px;
$folder_opened_small_height = 18px;
$folder_opened_small_total_width = 469px;
$folder_opened_small_total_height = 421px;
$folder_opened_small_image = '../images/sprite.png';
$folder_opened_small = 38px 344px -38px -344px 26px 18px 469px 421px '../images/sprite.png';
$hide-headings_x = 127px;
$hide-headings_y = 377px;
$hide-headings_offset_x = -127px;
$hide-headings_offset_y = -377px;
$hide-headings_width = 12px;
$hide-headings_height = 16px;
$hide-headings_total_width = 469px;
$hide-headings_total_height = 421px;
$hide-headings_image = '../images/sprite.png';
$hide-headings = 127px 377px -127px -377px 12px 16px 469px 421px '../images/sprite.png';
$icon--cart_x = 91px;
$icon--cart_y = 272px;
$icon--cart_offset_x = -91px;
$icon--cart_offset_y = -272px;
$icon--cart_width = 29px;
$icon--cart_height = 24px;
$icon--cart_total_width = 469px;
$icon--cart_total_height = 421px;
$icon--cart_image = '../images/sprite.png';
$icon--cart = 91px 272px -91px -272px 29px 24px 469px 421px '../images/sprite.png';
$icon--close--xs_x = 453px;
$icon--close--xs_y = 265px;
$icon--close--xs_offset_x = -453px;
$icon--close--xs_offset_y = -265px;
$icon--close--xs_width = 7px;
$icon--close--xs_height = 7px;
$icon--close--xs_total_width = 469px;
$icon--close--xs_total_height = 421px;
$icon--close--xs_image = '../images/sprite.png';
$icon--close--xs = 453px 265px -453px -265px 7px 7px 469px 421px '../images/sprite.png';
$icon--confirm_x = 135px;
$icon--confirm_y = 310px;
$icon--confirm_offset_x = -135px;
$icon--confirm_offset_y = -310px;
$icon--confirm_width = 20px;
$icon--confirm_height = 20px;
$icon--confirm_total_width = 469px;
$icon--confirm_total_height = 421px;
$icon--confirm_image = '../images/sprite.png';
$icon--confirm = 135px 310px -135px -310px 20px 20px 469px 421px '../images/sprite.png';
$icon--docs_x = 314px;
$icon--docs_y = 34px;
$icon--docs_offset_x = -314px;
$icon--docs_offset_y = -34px;
$icon--docs_width = 16px;
$icon--docs_height = 20px;
$icon--docs_total_width = 469px;
$icon--docs_total_height = 421px;
$icon--docs_image = '../images/sprite.png';
$icon--docs = 314px 34px -314px -34px 16px 20px 469px 421px '../images/sprite.png';
$icon--goods_x = 345px;
$icon--goods_y = 164px;
$icon--goods_offset_x = -345px;
$icon--goods_offset_y = -164px;
$icon--goods_width = 19px;
$icon--goods_height = 18px;
$icon--goods_total_width = 469px;
$icon--goods_total_height = 421px;
$icon--goods_image = '../images/sprite.png';
$icon--goods = 345px 164px -345px -164px 19px 18px 469px 421px '../images/sprite.png';
$icon--help_x = 210px;
$icon--help_y = 229px;
$icon--help_offset_x = -210px;
$icon--help_offset_y = -229px;
$icon--help_width = 15px;
$icon--help_height = 26px;
$icon--help_total_width = 469px;
$icon--help_total_height = 421px;
$icon--help_image = '../images/sprite.png';
$icon--help = 210px 229px -210px -229px 15px 26px 469px 421px '../images/sprite.png';
$icon--home_x = 345px;
$icon--home_y = 0px;
$icon--home_offset_x = -345px;
$icon--home_offset_y = 0px;
$icon--home_width = 20px;
$icon--home_height = 20px;
$icon--home_total_width = 469px;
$icon--home_total_height = 421px;
$icon--home_image = '../images/sprite.png';
$icon--home = 345px 0px -345px 0px 20px 20px 469px 421px '../images/sprite.png';
$icon--logout_x = 378px;
$icon--logout_y = 349px;
$icon--logout_offset_x = -378px;
$icon--logout_offset_y = -349px;
$icon--logout_width = 12px;
$icon--logout_height = 14px;
$icon--logout_total_width = 469px;
$icon--logout_total_height = 421px;
$icon--logout_image = '../images/sprite.png';
$icon--logout = 378px 349px -378px -349px 12px 14px 469px 421px '../images/sprite.png';
$icon--menu-trigger-active_x = 345px;
$icon--menu-trigger-active_y = 319px;
$icon--menu-trigger-active_offset_x = -345px;
$icon--menu-trigger-active_offset_y = -319px;
$icon--menu-trigger-active_width = 13px;
$icon--menu-trigger-active_height = 12px;
$icon--menu-trigger-active_total_width = 469px;
$icon--menu-trigger-active_total_height = 421px;
$icon--menu-trigger-active_image = '../images/sprite.png';
$icon--menu-trigger-active = 345px 319px -345px -319px 13px 12px 469px 421px '../images/sprite.png';
$icon--menu-trigger_x = 194px;
$icon--menu-trigger_y = 406px;
$icon--menu-trigger_offset_x = -194px;
$icon--menu-trigger_offset_y = -406px;
$icon--menu-trigger_width = 13px;
$icon--menu-trigger_height = 12px;
$icon--menu-trigger_total_width = 469px;
$icon--menu-trigger_total_height = 421px;
$icon--menu-trigger_image = '../images/sprite.png';
$icon--menu-trigger = 194px 406px -194px -406px 13px 12px 469px 421px '../images/sprite.png';
$icon--reject_x = 239px;
$icon--reject_y = 310px;
$icon--reject_offset_x = -239px;
$icon--reject_offset_y = -310px;
$icon--reject_width = 20px;
$icon--reject_height = 20px;
$icon--reject_total_width = 469px;
$icon--reject_total_height = 421px;
$icon--reject_image = '../images/sprite.png';
$icon--reject = 239px 310px -239px -310px 20px 20px 469px 421px '../images/sprite.png';
$icon--root_x = 224px;
$icon--root_y = 186px;
$icon--root_offset_x = -224px;
$icon--root_offset_y = -186px;
$icon--root_width = 30px;
$icon--root_height = 30px;
$icon--root_total_width = 469px;
$icon--root_total_height = 421px;
$icon--root_image = '../images/sprite.png';
$icon--root = 224px 186px -224px -186px 30px 30px 469px 421px '../images/sprite.png';
$icon--root_goods_x = 44px;
$icon--root_goods_y = 229px;
$icon--root_goods_offset_x = -44px;
$icon--root_goods_offset_y = -229px;
$icon--root_goods_width = 30px;
$icon--root_goods_height = 29px;
$icon--root_goods_total_width = 469px;
$icon--root_goods_total_height = 421px;
$icon--root_goods_image = '../images/sprite.png';
$icon--root_goods = 44px 229px -44px -229px 30px 29px 469px 421px '../images/sprite.png';
$icon--root_seller_x = 145px;
$icon--root_seller_y = 186px;
$icon--root_seller_offset_x = -145px;
$icon--root_seller_offset_y = -186px;
$icon--root_seller_width = 23px;
$icon--root_seller_height = 30px;
$icon--root_seller_total_width = 469px;
$icon--root_seller_total_height = 421px;
$icon--root_seller_image = '../images/sprite.png';
$icon--root_seller = 145px 186px -145px -186px 23px 30px 469px 421px '../images/sprite.png';
$icon--root_shops_x = 0px;
$icon--root_shops_y = 272px;
$icon--root_shops_offset_x = 0px;
$icon--root_shops_offset_y = -272px;
$icon--root_shops_width = 30px;
$icon--root_shops_height = 25px;
$icon--root_shops_total_width = 469px;
$icon--root_shops_total_height = 421px;
$icon--root_shops_image = '../images/sprite.png';
$icon--root_shops = 0px 272px 0px -272px 30px 25px 469px 421px '../images/sprite.png';
$icon--sales_x = 0px;
$icon--sales_y = 377px;
$icon--sales_offset_x = 0px;
$icon--sales_offset_y = -377px;
$icon--sales_width = 20px;
$icon--sales_height = 16px;
$icon--sales_total_width = 469px;
$icon--sales_total_height = 421px;
$icon--sales_image = '../images/sprite.png';
$icon--sales = 0px 377px 0px -377px 20px 16px 469px 421px '../images/sprite.png';
$icon--search_x = 102px;
$icon--search_y = 310px;
$icon--search_offset_x = -102px;
$icon--search_offset_y = -310px;
$icon--search_width = 20px;
$icon--search_height = 20px;
$icon--search_total_width = 469px;
$icon--search_total_height = 421px;
$icon--search_image = '../images/sprite.png';
$icon--search = 102px 310px -102px -310px 20px 20px 469px 421px '../images/sprite.png';
$icon--settings_x = 167px;
$icon--settings_y = 229px;
$icon--settings_offset_x = -167px;
$icon--settings_offset_y = -229px;
$icon--settings_width = 30px;
$icon--settings_height = 27px;
$icon--settings_total_width = 469px;
$icon--settings_total_height = 421px;
$icon--settings_image = '../images/sprite.png';
$icon--settings = 167px 229px -167px -229px 30px 27px 469px 421px '../images/sprite.png';
$icon--shop_x = 248px;
$icon--shop_y = 344px;
$icon--shop_offset_x = -248px;
$icon--shop_offset_y = -344px;
$icon--shop_width = 20px;
$icon--shop_height = 17px;
$icon--shop_total_width = 469px;
$icon--shop_total_height = 421px;
$icon--shop_image = '../images/sprite.png';
$icon--shop = 248px 344px -248px -344px 20px 17px 469px 421px '../images/sprite.png';
$icon--support_x = 272px;
$icon--support_y = 272px;
$icon--support_offset_x = -272px;
$icon--support_offset_y = -272px;
$icon--support_width = 24px;
$icon--support_height = 21px;
$icon--support_total_width = 469px;
$icon--support_total_height = 421px;
$icon--support_image = '../images/sprite.png';
$icon--support = 272px 272px -272px -272px 24px 21px 469px 421px '../images/sprite.png';
$icon--users_x = 33px;
$icon--users_y = 377px;
$icon--users_offset_x = -33px;
$icon--users_offset_y = -377px;
$icon--users_width = 20px;
$icon--users_height = 16px;
$icon--users_total_width = 469px;
$icon--users_total_height = 421px;
$icon--users_image = '../images/sprite.png';
$icon--users = 33px 377px -33px -377px 20px 16px 469px 421px '../images/sprite.png';
$icon--video-close_x = 408px;
$icon--video-close_y = 85px;
$icon--video-close_offset_x = -408px;
$icon--video-close_offset_y = -85px;
$icon--video-close_width = 15px;
$icon--video-close_height = 15px;
$icon--video-close_total_width = 469px;
$icon--video-close_total_height = 421px;
$icon--video-close_image = '../images/sprite.png';
$icon--video-close = 408px 85px -408px -85px 15px 15px 469px 421px '../images/sprite.png';
$icon--video-next_x = 273px;
$icon--video-next_y = 149px;
$icon--video-next_offset_x = -273px;
$icon--video-next_offset_y = -149px;
$icon--video-next_width = 14px;
$icon--video-next_height = 24px;
$icon--video-next_total_width = 469px;
$icon--video-next_total_height = 421px;
$icon--video-next_image = '../images/sprite.png';
$icon--video-next = 273px 149px -273px -149px 14px 24px 469px 421px '../images/sprite.png';
$icon--video-playlist_x = 408px;
$icon--video-playlist_y = 197px;
$icon--video-playlist_offset_x = -408px;
$icon--video-playlist_offset_y = -197px;
$icon--video-playlist_width = 17px;
$icon--video-playlist_height = 15px;
$icon--video-playlist_total_width = 469px;
$icon--video-playlist_total_height = 421px;
$icon--video-playlist_image = '../images/sprite.png';
$icon--video-playlist = 408px 197px -408px -197px 17px 15px 469px 421px '../images/sprite.png';
$icon--video-prev_x = 273px;
$icon--video-prev_y = 112px;
$icon--video-prev_offset_x = -273px;
$icon--video-prev_offset_y = -112px;
$icon--video-prev_width = 14px;
$icon--video-prev_height = 24px;
$icon--video-prev_total_width = 469px;
$icon--video-prev_total_height = 421px;
$icon--video-prev_image = '../images/sprite.png';
$icon--video-prev = 273px 112px -273px -112px 14px 24px 469px 421px '../images/sprite.png';
$icon--video_x = 168px;
$icon--video_y = 106px;
$icon--video_offset_x = -168px;
$icon--video_offset_y = -106px;
$icon--video_width = 24px;
$icon--video_height = 18px;
$icon--video_total_width = 469px;
$icon--video_total_height = 421px;
$icon--video_image = '../images/sprite.png';
$icon--video = 168px 106px -168px -106px 24px 18px 469px 421px '../images/sprite.png';
$images_favorite_x = 169px;
$images_favorite_y = 406px;
$images_favorite_offset_x = -169px;
$images_favorite_offset_y = -406px;
$images_favorite_width = 12px;
$images_favorite_height = 12px;
$images_favorite_total_width = 469px;
$images_favorite_total_height = 421px;
$images_favorite_image = '../images/sprite.png';
$images_favorite = 169px 406px -169px -406px 12px 12px 469px 421px '../images/sprite.png';
$import-goods_x = 273px;
$import-goods_y = 223px;
$import-goods_offset_x = -273px;
$import-goods_offset_y = -223px;
$import-goods_width = 20px;
$import-goods_height = 23px;
$import-goods_total_width = 469px;
$import-goods_total_height = 421px;
$import-goods_image = '../images/sprite.png';
$import-goods = 273px 223px -273px -223px 20px 23px 469px 421px '../images/sprite.png';
$import-goods_hover_x = 238px;
$import-goods_hover_y = 229px;
$import-goods_hover_offset_x = -238px;
$import-goods_hover_offset_y = -229px;
$import-goods_hover_width = 20px;
$import-goods_hover_height = 23px;
$import-goods_hover_total_width = 469px;
$import-goods_hover_total_height = 421px;
$import-goods_hover_image = '../images/sprite.png';
$import-goods_hover = 238px 229px -238px -229px 20px 23px 469px 421px '../images/sprite.png';
$input-digital_x = 273px;
$input-digital_y = 75px;
$input-digital_offset_x = -273px;
$input-digital_offset_y = -75px;
$input-digital_width = 28px;
$input-digital_height = 24px;
$input-digital_total_width = 469px;
$input-digital_total_height = 421px;
$input-digital_image = '../images/sprite.png';
$input-digital = 273px 75px -273px -75px 28px 24px 469px 421px '../images/sprite.png';
$input-digital_checked_x = 273px;
$input-digital_checked_y = 38px;
$input-digital_checked_offset_x = -273px;
$input-digital_checked_offset_y = -38px;
$input-digital_checked_width = 28px;
$input-digital_checked_height = 24px;
$input-digital_checked_total_width = 469px;
$input-digital_checked_total_height = 421px;
$input-digital_checked_image = '../images/sprite.png';
$input-digital_checked = 273px 38px -273px -38px 28px 24px 469px 421px '../images/sprite.png';
$input-physical_x = 87px;
$input-physical_y = 229px;
$input-physical_offset_x = -87px;
$input-physical_offset_y = -229px;
$input-physical_width = 27px;
$input-physical_height = 27px;
$input-physical_total_width = 469px;
$input-physical_total_height = 421px;
$input-physical_image = '../images/sprite.png';
$input-physical = 87px 229px -87px -229px 27px 27px 469px 421px '../images/sprite.png';
$input-physical_checked_x = 127px;
$input-physical_checked_y = 229px;
$input-physical_checked_offset_x = -127px;
$input-physical_checked_offset_y = -229px;
$input-physical_checked_width = 27px;
$input-physical_checked_height = 27px;
$input-physical_checked_total_width = 469px;
$input-physical_checked_total_height = 421px;
$input-physical_checked_image = '../images/sprite.png';
$input-physical_checked = 127px 229px -127px -229px 27px 27px 469px 421px '../images/sprite.png';
$integration_x = 152px;
$integration_y = 377px;
$integration_offset_x = -152px;
$integration_offset_y = -377px;
$integration_width = 31px;
$integration_height = 16px;
$integration_total_width = 469px;
$integration_total_height = 421px;
$integration_image = '../images/sprite.png';
$integration = 152px 377px -152px -377px 31px 16px 469px 421px '../images/sprite.png';
$load-digital-goods_x = 147px;
$load-digital-goods_y = 137px;
$load-digital-goods_offset_x = -147px;
$load-digital-goods_offset_y = -137px;
$load-digital-goods_width = 39px;
$load-digital-goods_height = 32px;
$load-digital-goods_total_width = 469px;
$load-digital-goods_total_height = 421px;
$load-digital-goods_image = '../images/sprite.png';
$load-digital-goods = 147px 137px -147px -137px 39px 32px 469px 421px '../images/sprite.png';
$load-digital-goods_hover_x = 221px;
$load-digital-goods_hover_y = 0px;
$load-digital-goods_hover_offset_x = -221px;
$load-digital-goods_hover_offset_y = 0px;
$load-digital-goods_hover_width = 39px;
$load-digital-goods_hover_height = 32px;
$load-digital-goods_hover_total_width = 469px;
$load-digital-goods_hover_total_height = 421px;
$load-digital-goods_hover_image = '../images/sprite.png';
$load-digital-goods_hover = 221px 0px -221px 0px 39px 32px 469px 421px '../images/sprite.png';
$load-physl-goods_x = 221px;
$load-physl-goods_y = 89px;
$load-physl-goods_offset_x = -221px;
$load-physl-goods_offset_y = -89px;
$load-physl-goods_width = 39px;
$load-physl-goods_height = 31px;
$load-physl-goods_total_width = 469px;
$load-physl-goods_total_height = 421px;
$load-physl-goods_image = '../images/sprite.png';
$load-physl-goods = 221px 89px -221px -89px 39px 31px 469px 421px '../images/sprite.png';
$load-real-goods_x = 221px;
$load-real-goods_y = 133px;
$load-real-goods_offset_x = -221px;
$load-real-goods_offset_y = -133px;
$load-real-goods_width = 39px;
$load-real-goods_height = 31px;
$load-real-goods_total_width = 469px;
$load-real-goods_total_height = 421px;
$load-real-goods_image = '../images/sprite.png';
$load-real-goods = 221px 133px -221px -133px 39px 31px 469px 421px '../images/sprite.png';
$load-real-goods_hover_x = 221px;
$load-real-goods_hover_y = 45px;
$load-real-goods_hover_offset_x = -221px;
$load-real-goods_hover_offset_y = -45px;
$load-real-goods_hover_width = 39px;
$load-real-goods_hover_height = 31px;
$load-real-goods_hover_total_width = 469px;
$load-real-goods_hover_total_height = 421px;
$load-real-goods_hover_image = '../images/sprite.png';
$load-real-goods_hover = 221px 45px -221px -45px 39px 31px 469px 421px '../images/sprite.png';
$mute_x = 291px;
$mute_y = 377px;
$mute_offset_x = -291px;
$mute_offset_y = -377px;
$mute_width = 10px;
$mute_height = 16px;
$mute_total_width = 469px;
$mute_total_height = 421px;
$mute_image = '../images/sprite.png';
$mute = 291px 377px -291px -377px 10px 16px 469px 421px '../images/sprite.png';
$new-window_x = 203px;
$new-window_y = 272px;
$new-window_offset_x = -203px;
$new-window_offset_y = -272px;
$new-window_width = 22px;
$new-window_height = 22px;
$new-window_total_width = 469px;
$new-window_total_height = 421px;
$new-window_image = '../images/sprite.png';
$new-window = 203px 272px -203px -272px 22px 22px 469px 421px '../images/sprite.png';
$notification_bell_x = 408px;
$notification_bell_y = 337px;
$notification_bell_offset_x = -408px;
$notification_bell_offset_y = -337px;
$notification_bell_width = 12px;
$notification_bell_height = 15px;
$notification_bell_total_width = 469px;
$notification_bell_total_height = 421px;
$notification_bell_image = '../images/sprite.png';
$notification_bell = 408px 337px -408px -337px 12px 15px 469px 421px '../images/sprite.png';
$notification_message_x = 105px;
$notification_message_y = 406px;
$notification_message_offset_x = -105px;
$notification_message_offset_y = -406px;
$notification_message_width = 18px;
$notification_message_height = 13px;
$notification_message_total_width = 469px;
$notification_message_total_height = 421px;
$notification_message_image = '../images/sprite.png';
$notification_message = 105px 406px -105px -406px 18px 13px 469px 421px '../images/sprite.png';
$partner-goods_x = 345px;
$partner-goods_y = 257px;
$partner-goods_offset_x = -345px;
$partner-goods_offset_y = -257px;
$partner-goods_width = 19px;
$partner-goods_height = 18px;
$partner-goods_total_width = 469px;
$partner-goods_total_height = 421px;
$partner-goods_image = '../images/sprite.png';
$partner-goods = 345px 257px -345px -257px 19px 18px 469px 421px '../images/sprite.png';
$payment_x = 408px;
$payment_y = 0px;
$payment_offset_x = -408px;
$payment_offset_y = 0px;
$payment_width = 32px;
$payment_height = 16px;
$payment_total_width = 469px;
$payment_total_height = 421px;
$payment_image = '../images/sprite.png';
$payment = 408px 0px -408px 0px 32px 16px 469px 421px '../images/sprite.png';
$pic__alert_x = 0px;
$pic__alert_y = 186px;
$pic__alert_offset_x = 0px;
$pic__alert_offset_y = -186px;
$pic__alert_width = 30px;
$pic__alert_height = 30px;
$pic__alert_total_width = 469px;
$pic__alert_total_height = 421px;
$pic__alert_image = '../images/sprite.png';
$pic__alert = 0px 186px 0px -186px 30px 30px 469px 421px '../images/sprite.png';
$pic__done_x = 102px;
$pic__done_y = 186px;
$pic__done_offset_x = -102px;
$pic__done_offset_y = -186px;
$pic__done_width = 30px;
$pic__done_height = 30px;
$pic__done_total_width = 469px;
$pic__done_total_height = 421px;
$pic__done_image = '../images/sprite.png';
$pic__done = 102px 186px -102px -186px 30px 30px 469px 421px '../images/sprite.png';
$pic__fail_x = 181px;
$pic__fail_y = 186px;
$pic__fail_offset_x = -181px;
$pic__fail_offset_y = -186px;
$pic__fail_width = 30px;
$pic__fail_height = 30px;
$pic__fail_total_width = 469px;
$pic__fail_total_height = 421px;
$pic__fail_image = '../images/sprite.png';
$pic__fail = 181px 186px -181px -186px 30px 30px 469px 421px '../images/sprite.png';
$radio_x = 0px;
$radio_y = 310px;
$radio_offset_x = 0px;
$radio_offset_y = -310px;
$radio_width = 21px;
$radio_height = 21px;
$radio_total_width = 469px;
$radio_total_height = 421px;
$radio_image = '../images/sprite.png';
$radio = 0px 310px 0px -310px 21px 21px 469px 421px '../images/sprite.png';
$radio_big_x = 0px;
$radio_big_y = 137px;
$radio_big_offset_x = 0px;
$radio_big_offset_y = -137px;
$radio_big_width = 36px;
$radio_big_height = 36px;
$radio_big_total_width = 469px;
$radio_big_total_height = 421px;
$radio_big_image = '../images/sprite.png';
$radio_big = 0px 137px 0px -137px 36px 36px 469px 421px '../images/sprite.png';
$radio_big_checked_x = 98px;
$radio_big_checked_y = 137px;
$radio_big_checked_offset_x = -98px;
$radio_big_checked_offset_y = -137px;
$radio_big_checked_width = 36px;
$radio_big_checked_height = 36px;
$radio_big_checked_total_width = 469px;
$radio_big_checked_total_height = 421px;
$radio_big_checked_image = '../images/sprite.png';
$radio_big_checked = 98px 137px -98px -137px 36px 36px 469px 421px '../images/sprite.png';
$radio_checked_x = 68px;
$radio_checked_y = 310px;
$radio_checked_offset_x = -68px;
$radio_checked_offset_y = -310px;
$radio_checked_width = 21px;
$radio_checked_height = 21px;
$radio_checked_total_width = 469px;
$radio_checked_total_height = 421px;
$radio_checked_image = '../images/sprite.png';
$radio_checked = 68px 310px -68px -310px 21px 21px 469px 421px '../images/sprite.png';
$radio_man_x = 168px;
$radio_man_y = 53px;
$radio_man_offset_x = -168px;
$radio_man_offset_y = -53px;
$radio_man_width = 40px;
$radio_man_height = 40px;
$radio_man_total_width = 469px;
$radio_man_total_height = 421px;
$radio_man_image = '../images/sprite.png';
$radio_man = 168px 53px -168px -53px 40px 40px 469px 421px '../images/sprite.png';
$radio_man_checked_x = 168px;
$radio_man_checked_y = 0px;
$radio_man_checked_offset_x = -168px;
$radio_man_checked_offset_y = 0px;
$radio_man_checked_width = 40px;
$radio_man_checked_height = 40px;
$radio_man_checked_total_width = 469px;
$radio_man_checked_total_height = 421px;
$radio_man_checked_image = '../images/sprite.png';
$radio_man_checked = 168px 0px -168px 0px 40px 40px 469px 421px '../images/sprite.png';
$radio_small_x = 378px;
$radio_small_y = 291px;
$radio_small_offset_x = -378px;
$radio_small_offset_y = -291px;
$radio_small_width = 16px;
$radio_small_height = 16px;
$radio_small_total_width = 469px;
$radio_small_total_height = 421px;
$radio_small_image = '../images/sprite.png';
$radio_small = 378px 291px -378px -291px 16px 16px 469px 421px '../images/sprite.png';
$radio_small_checked_x = 378px;
$radio_small_checked_y = 262px;
$radio_small_checked_offset_x = -378px;
$radio_small_checked_offset_y = -262px;
$radio_small_checked_width = 16px;
$radio_small_checked_height = 16px;
$radio_small_checked_total_width = 469px;
$radio_small_checked_total_height = 421px;
$radio_small_checked_image = '../images/sprite.png';
$radio_small_checked = 378px 262px -378px -262px 16px 16px 469px 421px '../images/sprite.png';
$radio_woman_x = 112px;
$radio_woman_y = 83px;
$radio_woman_offset_x = -112px;
$radio_woman_offset_y = -83px;
$radio_woman_width = 40px;
$radio_woman_height = 40px;
$radio_woman_total_width = 469px;
$radio_woman_total_height = 421px;
$radio_woman_image = '../images/sprite.png';
$radio_woman = 112px 83px -112px -83px 40px 40px 469px 421px '../images/sprite.png';
$radio_woman_checked_x = 59px;
$radio_woman_checked_y = 83px;
$radio_woman_checked_offset_x = -59px;
$radio_woman_checked_offset_y = -83px;
$radio_woman_checked_width = 40px;
$radio_woman_checked_height = 40px;
$radio_woman_checked_total_width = 469px;
$radio_woman_checked_total_height = 421px;
$radio_woman_checked_image = '../images/sprite.png';
$radio_woman_checked = 59px 83px -59px -83px 40px 40px 469px 421px '../images/sprite.png';
$remove_big_x = 378px;
$remove_big_y = 30px;
$remove_big_offset_x = -378px;
$remove_big_offset_y = -30px;
$remove_big_width = 16px;
$remove_big_height = 16px;
$remove_big_total_width = 469px;
$remove_big_total_height = 421px;
$remove_big_image = '../images/sprite.png';
$remove_big = 378px 30px -378px -30px 16px 16px 469px 421px '../images/sprite.png';
$remove_small_x = 346px;
$remove_small_y = 406px;
$remove_small_offset_x = -346px;
$remove_small_offset_y = -406px;
$remove_small_width = 10px;
$remove_small_height = 10px;
$remove_small_total_width = 469px;
$remove_small_total_height = 421px;
$remove_small_image = '../images/sprite.png';
$remove_small = 346px 406px -346px -406px 10px 10px 469px 421px '../images/sprite.png';
$remove_small_hover_x = 453px;
$remove_small_hover_y = 46px;
$remove_small_hover_offset_x = -453px;
$remove_small_hover_offset_y = -46px;
$remove_small_hover_width = 10px;
$remove_small_hover_height = 10px;
$remove_small_hover_total_width = 469px;
$remove_small_hover_total_height = 421px;
$remove_small_hover_image = '../images/sprite.png';
$remove_small_hover = 453px 46px -453px -46px 10px 10px 469px 421px '../images/sprite.png';
$rubric-icon_x = 378px;
$rubric-icon_y = 117px;
$rubric-icon_offset_x = -378px;
$rubric-icon_offset_y = -117px;
$rubric-icon_width = 16px;
$rubric-icon_height = 16px;
$rubric-icon_total_width = 469px;
$rubric-icon_total_height = 421px;
$rubric-icon_image = '../images/sprite.png';
$rubric-icon = 378px 117px -378px -117px 16px 16px 469px 421px '../images/sprite.png';
$search_x = 218px;
$search_y = 344px;
$search_offset_x = -218px;
$search_offset_y = -344px;
$search_width = 17px;
$search_height = 17px;
$search_total_width = 469px;
$search_total_height = 421px;
$search_image = '../images/sprite.png';
$search = 218px 344px -218px -344px 17px 17px 469px 421px '../images/sprite.png';
$search_small_x = 408px;
$search_small_y = 281px;
$search_small_offset_x = -408px;
$search_small_offset_y = -281px;
$search_small_width = 15px;
$search_small_height = 15px;
$search_small_total_width = 469px;
$search_small_total_height = 421px;
$search_small_image = '../images/sprite.png';
$search_small = 408px 281px -408px -281px 15px 15px 469px 421px '../images/sprite.png';
$selected_select_x = 220px;
$selected_select_y = 406px;
$selected_select_offset_x = -220px;
$selected_select_offset_y = -406px;
$selected_select_width = 13px;
$selected_select_height = 12px;
$selected_select_total_width = 469px;
$selected_select_total_height = 421px;
$selected_select_image = '../images/sprite.png';
$selected_select = 220px 406px -220px -406px 13px 12px 469px 421px '../images/sprite.png';
$settings_x = 345px;
$settings_y = 226px;
$settings_offset_x = -345px;
$settings_offset_y = -226px;
$settings_width = 20px;
$settings_height = 18px;
$settings_total_width = 469px;
$settings_total_height = 421px;
$settings_image = '../images/sprite.png';
$settings = 345px 226px -345px -226px 20px 18px 469px 421px '../images/sprite.png';
$shipping_x = 77px;
$shipping_y = 344px;
$shipping_offset_x = -77px;
$shipping_offset_y = -344px;
$shipping_width = 26px;
$shipping_height = 18px;
$shipping_total_width = 469px;
$shipping_total_height = 421px;
$shipping_image = '../images/sprite.png';
$shipping = 77px 344px -77px -344px 26px 18px 469px 421px '../images/sprite.png';
$shipping_big_x = 43px;
$shipping_big_y = 186px;
$shipping_big_offset_x = -43px;
$shipping_big_offset_y = -186px;
$shipping_big_width = 46px;
$shipping_big_height = 30px;
$shipping_big_total_width = 469px;
$shipping_big_total_height = 421px;
$shipping_big_image = '../images/sprite.png';
$shipping_big = 43px 186px -43px -186px 46px 30px 469px 421px '../images/sprite.png';
$shop_x = 83px;
$shop_y = 0px;
$shop_offset_x = -83px;
$shop_offset_y = 0px;
$shop_width = 72px;
$shop_height = 64px;
$shop_total_width = 469px;
$shop_total_height = 421px;
$shop_image = '../images/sprite.png';
$shop = 83px 0px -83px 0px 72px 64px 469px 421px '../images/sprite.png';
$show-headings_x = 378px;
$show-headings_y = 233px;
$show-headings_offset_x = -378px;
$show-headings_offset_y = -233px;
$show-headings_width = 12px;
$show-headings_height = 16px;
$show-headings_total_width = 469px;
$show-headings_total_height = 421px;
$show-headings_image = '../images/sprite.png';
$show-headings = 378px 233px -378px -233px 12px 16px 469px 421px '../images/sprite.png';
$star_x = 345px;
$star_y = 132px;
$star_offset_x = -345px;
$star_offset_y = -132px;
$star_width = 20px;
$star_height = 19px;
$star_total_width = 469px;
$star_total_height = 421px;
$star_image = '../images/sprite.png';
$star = 345px 132px -345px -132px 20px 19px 469px 421px '../images/sprite.png';
$store-rights_x = 314px;
$store-rights_y = 223px;
$store-rights_offset_x = -314px;
$store-rights_offset_y = -223px;
$store-rights_width = 13px;
$store-rights_height = 17px;
$store-rights_total_width = 469px;
$store-rights_total_height = 421px;
$store-rights_image = '../images/sprite.png';
$store-rights = 314px 223px -314px -223px 13px 17px 469px 421px '../images/sprite.png';
$theme-search_x = 314px;
$theme-search_y = 193px;
$theme-search_offset_x = -314px;
$theme-search_offset_y = -193px;
$theme-search_width = 17px;
$theme-search_height = 17px;
$theme-search_total_width = 469px;
$theme-search_total_height = 421px;
$theme-search_image = '../images/sprite.png';
$theme-search = 314px 193px -314px -193px 17px 17px 469px 421px '../images/sprite.png';
$theme-search_hover_x = 314px;
$theme-search_hover_y = 163px;
$theme-search_hover_offset_x = -314px;
$theme-search_hover_offset_y = -163px;
$theme-search_hover_width = 17px;
$theme-search_hover_height = 17px;
$theme-search_hover_total_width = 469px;
$theme-search_hover_total_height = 421px;
$theme-search_hover_image = '../images/sprite.png';
$theme-search_hover = 314px 163px -314px -163px 17px 17px 469px 421px '../images/sprite.png';
$upload-icon_x = 408px;
$upload-icon_y = 57px;
$upload-icon_offset_x = -408px;
$upload-icon_offset_y = -57px;
$upload-icon_width = 20px;
$upload-icon_height = 15px;
$upload-icon_total_width = 469px;
$upload-icon_total_height = 421px;
$upload-icon_image = '../images/sprite.png';
$upload-icon = 408px 57px -408px -57px 20px 15px 469px 421px '../images/sprite.png';
$waiting_x = 378px;
$waiting_y = 320px;
$waiting_offset_x = -378px;
$waiting_offset_y = -320px;
$waiting_width = 12px;
$waiting_height = 16px;
$waiting_total_width = 469px;
$waiting_total_height = 421px;
$waiting_image = '../images/sprite.png';
$waiting = 378px 320px -378px -320px 12px 16px 469px 421px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
