/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$dropdown__active_x = 114px;
$dropdown__active_y = 90px;
$dropdown__active_offset_x = -114px;
$dropdown__active_offset_y = -90px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 158px;
$dropdown__active_total_height = 151px;
$dropdown__active_image = '../images/sprite.png';
$dropdown__active = 114px 90px -114px -90px 11px 10px 158px 151px '../images/sprite.png';
$icon--cart_x = 44px;
$icon--cart_y = 76px;
$icon--cart_offset_x = -44px;
$icon--cart_offset_y = -76px;
$icon--cart_width = 29px;
$icon--cart_height = 24px;
$icon--cart_total_width = 158px;
$icon--cart_total_height = 151px;
$icon--cart_image = '../images/sprite.png';
$icon--cart = 44px 76px -44px -76px 29px 24px 158px 151px '../images/sprite.png';
$icon--close--xs_x = 138px;
$icon--close--xs_y = 120px;
$icon--close--xs_offset_x = -138px;
$icon--close--xs_offset_y = -120px;
$icon--close--xs_width = 7px;
$icon--close--xs_height = 7px;
$icon--close--xs_total_width = 158px;
$icon--close--xs_total_height = 151px;
$icon--close--xs_image = '../images/sprite.png';
$icon--close--xs = 138px 120px -138px -120px 7px 7px 158px 151px '../images/sprite.png';
$icon--docs_x = 114px;
$icon--docs_y = 0px;
$icon--docs_offset_x = -114px;
$icon--docs_offset_y = 0px;
$icon--docs_width = 16px;
$icon--docs_height = 20px;
$icon--docs_total_width = 158px;
$icon--docs_total_height = 151px;
$icon--docs_image = '../images/sprite.png';
$icon--docs = 114px 0px -114px 0px 16px 20px 158px 151px '../images/sprite.png';
$icon--goods_x = 56px;
$icon--goods_y = 108px;
$icon--goods_offset_x = -56px;
$icon--goods_offset_y = -108px;
$icon--goods_width = 19px;
$icon--goods_height = 18px;
$icon--goods_total_width = 158px;
$icon--goods_total_height = 151px;
$icon--goods_image = '../images/sprite.png';
$icon--goods = 56px 108px -56px -108px 19px 18px 158px 151px '../images/sprite.png';
$icon--help_x = 76px;
$icon--help_y = 35px;
$icon--help_offset_x = -76px;
$icon--help_offset_y = -35px;
$icon--help_width = 15px;
$icon--help_height = 26px;
$icon--help_total_width = 158px;
$icon--help_total_height = 151px;
$icon--help_image = '../images/sprite.png';
$icon--help = 76px 35px -76px -35px 15px 26px 158px 151px '../images/sprite.png';
$icon--home_x = 0px;
$icon--home_y = 108px;
$icon--home_offset_x = 0px;
$icon--home_offset_y = -108px;
$icon--home_width = 20px;
$icon--home_height = 20px;
$icon--home_total_width = 158px;
$icon--home_total_height = 151px;
$icon--home_image = '../images/sprite.png';
$icon--home = 0px 108px 0px -108px 20px 20px 158px 151px '../images/sprite.png';
$icon--logout_x = 114px;
$icon--logout_y = 28px;
$icon--logout_offset_x = -114px;
$icon--logout_offset_y = -28px;
$icon--logout_width = 12px;
$icon--logout_height = 14px;
$icon--logout_total_width = 158px;
$icon--logout_total_height = 151px;
$icon--logout_image = '../images/sprite.png';
$icon--logout = 114px 28px -114px -28px 12px 14px 158px 151px '../images/sprite.png';
$icon--menu-trigger-active_x = 114px;
$icon--menu-trigger-active_y = 50px;
$icon--menu-trigger-active_offset_x = -114px;
$icon--menu-trigger-active_offset_y = -50px;
$icon--menu-trigger-active_width = 13px;
$icon--menu-trigger-active_height = 12px;
$icon--menu-trigger-active_total_width = 158px;
$icon--menu-trigger-active_total_height = 151px;
$icon--menu-trigger-active_image = '../images/sprite.png';
$icon--menu-trigger-active = 114px 50px -114px -50px 13px 12px 158px 151px '../images/sprite.png';
$icon--menu-trigger_x = 114px;
$icon--menu-trigger_y = 70px;
$icon--menu-trigger_offset_x = -114px;
$icon--menu-trigger_offset_y = -70px;
$icon--menu-trigger_width = 13px;
$icon--menu-trigger_height = 12px;
$icon--menu-trigger_total_width = 158px;
$icon--menu-trigger_total_height = 151px;
$icon--menu-trigger_image = '../images/sprite.png';
$icon--menu-trigger = 114px 70px -114px -70px 13px 12px 158px 151px '../images/sprite.png';
$icon--root_x = 38px;
$icon--root_y = 38px;
$icon--root_offset_x = -38px;
$icon--root_offset_y = -38px;
$icon--root_width = 30px;
$icon--root_height = 30px;
$icon--root_total_width = 158px;
$icon--root_total_height = 151px;
$icon--root_image = '../images/sprite.png';
$icon--root = 38px 38px -38px -38px 30px 30px 158px 151px '../images/sprite.png';
$icon--sales_x = 138px;
$icon--sales_y = 73px;
$icon--sales_offset_x = -138px;
$icon--sales_offset_y = -73px;
$icon--sales_width = 20px;
$icon--sales_height = 16px;
$icon--sales_total_width = 158px;
$icon--sales_total_height = 151px;
$icon--sales_image = '../images/sprite.png';
$icon--sales = 138px 73px -138px -73px 20px 16px 158px 151px '../images/sprite.png';
$icon--search_x = 28px;
$icon--search_y = 108px;
$icon--search_offset_x = -28px;
$icon--search_offset_y = -108px;
$icon--search_width = 20px;
$icon--search_height = 20px;
$icon--search_total_width = 158px;
$icon--search_total_height = 151px;
$icon--search_image = '../images/sprite.png';
$icon--search = 28px 108px -28px -108px 20px 20px 158px 151px '../images/sprite.png';
$icon--settings_x = 76px;
$icon--settings_y = 0px;
$icon--settings_offset_x = -76px;
$icon--settings_offset_y = 0px;
$icon--settings_width = 30px;
$icon--settings_height = 27px;
$icon--settings_total_width = 158px;
$icon--settings_total_height = 151px;
$icon--settings_image = '../images/sprite.png';
$icon--settings = 76px 0px -76px 0px 30px 27px 158px 151px '../images/sprite.png';
$icon--shop_x = 138px;
$icon--shop_y = 0px;
$icon--shop_offset_x = -138px;
$icon--shop_offset_y = 0px;
$icon--shop_width = 20px;
$icon--shop_height = 17px;
$icon--shop_total_width = 158px;
$icon--shop_total_height = 151px;
$icon--shop_image = '../images/sprite.png';
$icon--shop = 138px 0px -138px 0px 20px 17px 158px 151px '../images/sprite.png';
$icon--support_x = 81px;
$icon--support_y = 76px;
$icon--support_offset_x = -81px;
$icon--support_offset_y = -76px;
$icon--support_width = 24px;
$icon--support_height = 21px;
$icon--support_total_width = 158px;
$icon--support_total_height = 151px;
$icon--support_image = '../images/sprite.png';
$icon--support = 81px 76px -81px -76px 24px 21px 158px 151px '../images/sprite.png';
$icon--users_x = 138px;
$icon--users_y = 25px;
$icon--users_offset_x = -138px;
$icon--users_offset_y = -25px;
$icon--users_width = 20px;
$icon--users_height = 16px;
$icon--users_total_width = 158px;
$icon--users_total_height = 151px;
$icon--users_image = '../images/sprite.png';
$icon--users = 138px 25px -138px -25px 20px 16px 158px 151px '../images/sprite.png';
$icon--video-close_x = 138px;
$icon--video-close_y = 97px;
$icon--video-close_offset_x = -138px;
$icon--video-close_offset_y = -97px;
$icon--video-close_width = 15px;
$icon--video-close_height = 15px;
$icon--video-close_total_width = 158px;
$icon--video-close_total_height = 151px;
$icon--video-close_image = '../images/sprite.png';
$icon--video-close = 138px 97px -138px -97px 15px 15px 158px 151px '../images/sprite.png';
$icon--video-next_x = 22px;
$icon--video-next_y = 76px;
$icon--video-next_offset_x = -22px;
$icon--video-next_offset_y = -76px;
$icon--video-next_width = 14px;
$icon--video-next_height = 24px;
$icon--video-next_total_width = 158px;
$icon--video-next_total_height = 151px;
$icon--video-next_image = '../images/sprite.png';
$icon--video-next = 22px 76px -22px -76px 14px 24px 158px 151px '../images/sprite.png';
$icon--video-playlist_x = 0px;
$icon--video-playlist_y = 136px;
$icon--video-playlist_offset_x = 0px;
$icon--video-playlist_offset_y = -136px;
$icon--video-playlist_width = 17px;
$icon--video-playlist_height = 15px;
$icon--video-playlist_total_width = 158px;
$icon--video-playlist_total_height = 151px;
$icon--video-playlist_image = '../images/sprite.png';
$icon--video-playlist = 0px 136px 0px -136px 17px 15px 158px 151px '../images/sprite.png';
$icon--video-prev_x = 0px;
$icon--video-prev_y = 76px;
$icon--video-prev_offset_x = 0px;
$icon--video-prev_offset_y = -76px;
$icon--video-prev_width = 14px;
$icon--video-prev_height = 24px;
$icon--video-prev_total_width = 158px;
$icon--video-prev_total_height = 151px;
$icon--video-prev_image = '../images/sprite.png';
$icon--video-prev = 0px 76px 0px -76px 14px 24px 158px 151px '../images/sprite.png';
$icon--video_x = 83px;
$icon--video_y = 108px;
$icon--video_offset_x = -83px;
$icon--video_offset_y = -108px;
$icon--video_width = 24px;
$icon--video_height = 18px;
$icon--video_total_width = 158px;
$icon--video_total_height = 151px;
$icon--video_image = '../images/sprite.png';
$icon--video = 83px 108px -83px -108px 24px 18px 158px 151px '../images/sprite.png';
$mute_x = 138px;
$mute_y = 49px;
$mute_offset_x = -138px;
$mute_offset_y = -49px;
$mute_width = 10px;
$mute_height = 16px;
$mute_total_width = 158px;
$mute_total_height = 151px;
$mute_image = '../images/sprite.png';
$mute = 138px 49px -138px -49px 10px 16px 158px 151px '../images/sprite.png';
$pic__alert_x = 0px;
$pic__alert_y = 38px;
$pic__alert_offset_x = 0px;
$pic__alert_offset_y = -38px;
$pic__alert_width = 30px;
$pic__alert_height = 30px;
$pic__alert_total_width = 158px;
$pic__alert_total_height = 151px;
$pic__alert_image = '../images/sprite.png';
$pic__alert = 0px 38px 0px -38px 30px 30px 158px 151px '../images/sprite.png';
$pic__done_x = 38px;
$pic__done_y = 0px;
$pic__done_offset_x = -38px;
$pic__done_offset_y = 0px;
$pic__done_width = 30px;
$pic__done_height = 30px;
$pic__done_total_width = 158px;
$pic__done_total_height = 151px;
$pic__done_image = '../images/sprite.png';
$pic__done = 38px 0px -38px 0px 30px 30px 158px 151px '../images/sprite.png';
$pic__fail_x = 0px;
$pic__fail_y = 0px;
$pic__fail_offset_x = 0px;
$pic__fail_offset_y = 0px;
$pic__fail_width = 30px;
$pic__fail_height = 30px;
$pic__fail_total_width = 158px;
$pic__fail_total_height = 151px;
$pic__fail_image = '../images/sprite.png';
$pic__fail = 0px 0px 0px 0px 30px 30px 158px 151px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
