/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$action_bitcoin_x = 67px;
$action_bitcoin_y = 252px;
$action_bitcoin_offset_x = -67px;
$action_bitcoin_offset_y = -252px;
$action_bitcoin_width = 23px;
$action_bitcoin_height = 17px;
$action_bitcoin_total_width = 358px;
$action_bitcoin_total_height = 325px;
$action_bitcoin_image = '../images/sprite.png';
$action_bitcoin = 67px 252px -67px -252px 23px 17px 358px 325px '../images/sprite.png';
$action_delete_x = 277px;
$action_delete_y = 93px;
$action_delete_offset_x = -277px;
$action_delete_offset_y = -93px;
$action_delete_width = 15px;
$action_delete_height = 17px;
$action_delete_total_width = 358px;
$action_delete_total_height = 325px;
$action_delete_image = '../images/sprite.png';
$action_delete = 277px 93px -277px -93px 15px 17px 358px 325px '../images/sprite.png';
$action_dollar_x = 33px;
$action_dollar_y = 252px;
$action_dollar_offset_x = -33px;
$action_dollar_offset_y = -252px;
$action_dollar_width = 21px;
$action_dollar_height = 17px;
$action_dollar_total_width = 358px;
$action_dollar_total_height = 325px;
$action_dollar_image = '../images/sprite.png';
$action_dollar = 33px 252px -33px -252px 21px 17px 358px 325px '../images/sprite.png';
$action_euro_x = 0px;
$action_euro_y = 311px;
$action_euro_offset_x = 0px;
$action_euro_offset_y = -311px;
$action_euro_width = 22px;
$action_euro_height = 14px;
$action_euro_total_width = 358px;
$action_euro_total_height = 325px;
$action_euro_image = '../images/sprite.png';
$action_euro = 0px 311px 0px -311px 22px 14px 358px 325px '../images/sprite.png';
$action_list_x = 165px;
$action_list_y = 252px;
$action_list_offset_x = -165px;
$action_list_offset_y = -252px;
$action_list_width = 19px;
$action_list_height = 16px;
$action_list_total_width = 358px;
$action_list_total_height = 325px;
$action_list_image = '../images/sprite.png';
$action_list = 165px 252px -165px -252px 19px 16px 358px 325px '../images/sprite.png';
$action_list_green_x = 309px;
$action_list_green_y = 29px;
$action_list_green_offset_x = -309px;
$action_list_green_offset_y = -29px;
$action_list_green_width = 16px;
$action_list_green_height = 16px;
$action_list_green_total_width = 358px;
$action_list_green_total_height = 325px;
$action_list_green_image = '../images/sprite.png';
$action_list_green = 309px 29px -309px -29px 16px 16px 358px 325px '../images/sprite.png';
$action_list_green_hover_x = 309px;
$action_list_green_hover_y = 116px;
$action_list_green_hover_offset_x = -309px;
$action_list_green_hover_offset_y = -116px;
$action_list_green_hover_width = 16px;
$action_list_green_hover_height = 16px;
$action_list_green_hover_total_width = 358px;
$action_list_green_hover_total_height = 325px;
$action_list_green_hover_image = '../images/sprite.png';
$action_list_green_hover = 309px 116px -309px -116px 16px 16px 358px 325px '../images/sprite.png';
$action_load_x = 172px;
$action_load_y = 142px;
$action_load_offset_x = -172px;
$action_load_offset_y = -142px;
$action_load_width = 18px;
$action_load_height = 21px;
$action_load_total_width = 358px;
$action_load_total_height = 325px;
$action_load_image = '../images/sprite.png';
$action_load = 172px 142px -172px -142px 18px 21px 358px 325px '../images/sprite.png';
$action_plus-minus_x = 231px;
$action_plus-minus_y = 282px;
$action_plus-minus_offset_x = -231px;
$action_plus-minus_offset_y = -282px;
$action_plus-minus_width = 18px;
$action_plus-minus_height = 15px;
$action_plus-minus_total_width = 358px;
$action_plus-minus_total_height = 325px;
$action_plus-minus_image = '../images/sprite.png';
$action_plus-minus = 231px 282px -231px -282px 18px 15px 358px 325px '../images/sprite.png';
$action_remove_x = 76px;
$action_remove_y = 219px;
$action_remove_offset_x = -76px;
$action_remove_offset_y = -219px;
$action_remove_width = 20px;
$action_remove_height = 20px;
$action_remove_total_width = 358px;
$action_remove_total_height = 325px;
$action_remove_image = '../images/sprite.png';
$action_remove = 76px 219px -76px -219px 20px 20px 358px 325px '../images/sprite.png';
$action_rub_x = 35px;
$action_rub_y = 311px;
$action_rub_offset_x = -35px;
$action_rub_offset_y = -311px;
$action_rub_width = 24px;
$action_rub_height = 13px;
$action_rub_total_width = 358px;
$action_rub_total_height = 325px;
$action_rub_image = '../images/sprite.png';
$action_rub = 35px 311px -35px -311px 24px 13px 358px 325px '../images/sprite.png';
$action_success_x = 244px;
$action_success_y = 165px;
$action_success_offset_x = -244px;
$action_success_offset_y = -165px;
$action_success_width = 20px;
$action_success_height = 20px;
$action_success_total_width = 358px;
$action_success_total_height = 325px;
$action_success_image = '../images/sprite.png';
$action_success = 244px 165px -244px -165px 20px 20px 358px 325px '../images/sprite.png';
$activity-btn_bid_small_x = 244px;
$activity-btn_bid_small_y = 0px;
$activity-btn_bid_small_offset_x = -244px;
$activity-btn_bid_small_offset_y = 0px;
$activity-btn_bid_small_width = 20px;
$activity-btn_bid_small_height = 20px;
$activity-btn_bid_small_total_width = 358px;
$activity-btn_bid_small_total_height = 325px;
$activity-btn_bid_small_image = '../images/sprite.png';
$activity-btn_bid_small = 244px 0px -244px 0px 20px 20px 358px 325px '../images/sprite.png';
$activity-btn_done_x = 0px;
$activity-btn_done_y = 282px;
$activity-btn_done_offset_x = 0px;
$activity-btn_done_offset_y = -282px;
$activity-btn_done_width = 20px;
$activity-btn_done_height = 16px;
$activity-btn_done_total_width = 358px;
$activity-btn_done_total_height = 325px;
$activity-btn_done_image = '../images/sprite.png';
$activity-btn_done = 0px 282px 0px -282px 20px 16px 358px 325px '../images/sprite.png';
$activity-btn_done_hover_x = 33px;
$activity-btn_done_hover_y = 282px;
$activity-btn_done_hover_offset_x = -33px;
$activity-btn_done_hover_offset_y = -282px;
$activity-btn_done_hover_width = 20px;
$activity-btn_done_hover_height = 16px;
$activity-btn_done_hover_total_width = 358px;
$activity-btn_done_hover_total_height = 325px;
$activity-btn_done_hover_image = '../images/sprite.png';
$activity-btn_done_hover = 33px 282px -33px -282px 20px 16px 358px 325px '../images/sprite.png';
$activity-btn_edit_x = 277px;
$activity-btn_edit_y = 0px;
$activity-btn_edit_offset_x = -277px;
$activity-btn_edit_offset_y = 0px;
$activity-btn_edit_width = 19px;
$activity-btn_edit_height = 18px;
$activity-btn_edit_total_width = 358px;
$activity-btn_edit_total_height = 325px;
$activity-btn_edit_image = '../images/sprite.png';
$activity-btn_edit = 277px 0px -277px 0px 19px 18px 358px 325px '../images/sprite.png';
$activity-btn_edit_hover_x = 277px;
$activity-btn_edit_hover_y = 31px;
$activity-btn_edit_hover_offset_x = -277px;
$activity-btn_edit_hover_offset_y = -31px;
$activity-btn_edit_hover_width = 19px;
$activity-btn_edit_hover_height = 18px;
$activity-btn_edit_hover_total_width = 358px;
$activity-btn_edit_hover_total_height = 325px;
$activity-btn_edit_hover_image = '../images/sprite.png';
$activity-btn_edit_hover = 277px 31px -277px -31px 19px 18px 358px 325px '../images/sprite.png';
$activity-btn_edit_small_x = 96px;
$activity-btn_edit_small_y = 311px;
$activity-btn_edit_small_offset_x = -96px;
$activity-btn_edit_small_offset_y = -311px;
$activity-btn_edit_small_width = 11px;
$activity-btn_edit_small_height = 10px;
$activity-btn_edit_small_total_width = 358px;
$activity-btn_edit_small_total_height = 325px;
$activity-btn_edit_small_image = '../images/sprite.png';
$activity-btn_edit_small = 96px 311px -96px -311px 11px 10px 358px 325px '../images/sprite.png';
$activity-btn_edit_small_hover_x = 72px;
$activity-btn_edit_small_hover_y = 311px;
$activity-btn_edit_small_hover_offset_x = -72px;
$activity-btn_edit_small_hover_offset_y = -311px;
$activity-btn_edit_small_hover_width = 11px;
$activity-btn_edit_small_hover_height = 10px;
$activity-btn_edit_small_hover_total_width = 358px;
$activity-btn_edit_small_hover_total_height = 325px;
$activity-btn_edit_small_hover_image = '../images/sprite.png';
$activity-btn_edit_small_hover = 72px 311px -72px -311px 11px 10px 358px 325px '../images/sprite.png';
$activity-btn_favorite_x = 272px;
$activity-btn_favorite_y = 252px;
$activity-btn_favorite_offset_x = -272px;
$activity-btn_favorite_offset_y = -252px;
$activity-btn_favorite_width = 16px;
$activity-btn_favorite_height = 16px;
$activity-btn_favorite_total_width = 358px;
$activity-btn_favorite_total_height = 325px;
$activity-btn_favorite_image = '../images/sprite.png';
$activity-btn_favorite = 272px 252px -272px -252px 16px 16px 358px 325px '../images/sprite.png';
$activity-btn_favorite_hover_x = 309px;
$activity-btn_favorite_hover_y = 0px;
$activity-btn_favorite_hover_offset_x = -309px;
$activity-btn_favorite_hover_offset_y = 0px;
$activity-btn_favorite_hover_width = 16px;
$activity-btn_favorite_hover_height = 16px;
$activity-btn_favorite_hover_total_width = 358px;
$activity-btn_favorite_hover_total_height = 325px;
$activity-btn_favorite_hover_image = '../images/sprite.png';
$activity-btn_favorite_hover = 309px 0px -309px 0px 16px 16px 358px 325px '../images/sprite.png';
$activity-btn_load_x = 287px;
$activity-btn_load_y = 282px;
$activity-btn_load_offset_x = -287px;
$activity-btn_load_offset_y = -282px;
$activity-btn_load_width = 16px;
$activity-btn_load_height = 15px;
$activity-btn_load_total_width = 358px;
$activity-btn_load_total_height = 325px;
$activity-btn_load_image = '../images/sprite.png';
$activity-btn_load = 287px 282px -287px -282px 16px 15px 358px 325px '../images/sprite.png';
$activity-btn_load_hover_x = 309px;
$activity-btn_load_hover_y = 230px;
$activity-btn_load_hover_offset_x = -309px;
$activity-btn_load_hover_offset_y = -230px;
$activity-btn_load_hover_width = 16px;
$activity-btn_load_hover_height = 15px;
$activity-btn_load_hover_total_width = 358px;
$activity-btn_load_hover_total_height = 325px;
$activity-btn_load_hover_image = '../images/sprite.png';
$activity-btn_load_hover = 309px 230px -309px -230px 16px 15px 358px 325px '../images/sprite.png';
$activity-btn_message_x = 338px;
$activity-btn_message_y = 107px;
$activity-btn_message_offset_x = -338px;
$activity-btn_message_offset_y = -107px;
$activity-btn_message_width = 18px;
$activity-btn_message_height = 13px;
$activity-btn_message_total_width = 358px;
$activity-btn_message_total_height = 325px;
$activity-btn_message_image = '../images/sprite.png';
$activity-btn_message = 338px 107px -338px -107px 18px 13px 358px 325px '../images/sprite.png';
$activity-btn_message_hover_x = 338px;
$activity-btn_message_hover_y = 81px;
$activity-btn_message_hover_offset_x = -338px;
$activity-btn_message_hover_offset_y = -81px;
$activity-btn_message_hover_width = 18px;
$activity-btn_message_hover_height = 13px;
$activity-btn_message_hover_total_width = 358px;
$activity-btn_message_hover_total_height = 325px;
$activity-btn_message_hover_image = '../images/sprite.png';
$activity-btn_message_hover = 338px 81px -338px -81px 18px 13px 358px 325px '../images/sprite.png';
$activity-btn_remove_x = 277px;
$activity-btn_remove_y = 183px;
$activity-btn_remove_offset_x = -277px;
$activity-btn_remove_offset_y = -183px;
$activity-btn_remove_width = 15px;
$activity-btn_remove_height = 17px;
$activity-btn_remove_total_width = 358px;
$activity-btn_remove_total_height = 325px;
$activity-btn_remove_image = '../images/sprite.png';
$activity-btn_remove = 277px 183px -277px -183px 15px 17px 358px 325px '../images/sprite.png';
$activity-btn_remove_hover_x = 277px;
$activity-btn_remove_hover_y = 153px;
$activity-btn_remove_hover_offset_x = -277px;
$activity-btn_remove_hover_offset_y = -153px;
$activity-btn_remove_hover_width = 15px;
$activity-btn_remove_hover_height = 17px;
$activity-btn_remove_hover_total_width = 358px;
$activity-btn_remove_hover_total_height = 325px;
$activity-btn_remove_hover_image = '../images/sprite.png';
$activity-btn_remove_hover = 277px 153px -277px -153px 15px 17px 358px 325px '../images/sprite.png';
$arrow-down_x = 236px;
$arrow-down_y = 311px;
$arrow-down_offset_x = -236px;
$arrow-down_offset_y = -311px;
$arrow-down_width = 16px;
$arrow-down_height = 9px;
$arrow-down_total_width = 358px;
$arrow-down_total_height = 325px;
$arrow-down_image = '../images/sprite.png';
$arrow-down = 236px 311px -236px -311px 16px 9px 358px 325px '../images/sprite.png';
$arrow-down2_x = 338px;
$arrow-down2_y = 256px;
$arrow-down2_offset_x = -338px;
$arrow-down2_offset_y = -256px;
$arrow-down2_width = 16px;
$arrow-down2_height = 10px;
$arrow-down2_total_width = 358px;
$arrow-down2_total_height = 325px;
$arrow-down2_image = '../images/sprite.png';
$arrow-down2 = 338px 256px -338px -256px 16px 10px 358px 325px '../images/sprite.png';
$arrow-left_x = 197px;
$arrow-left_y = 252px;
$arrow-left_offset_x = -197px;
$arrow-left_offset_y = -252px;
$arrow-left_width = 10px;
$arrow-left_height = 16px;
$arrow-left_total_width = 358px;
$arrow-left_total_height = 325px;
$arrow-left_image = '../images/sprite.png';
$arrow-left = 197px 252px -197px -252px 10px 16px 358px 325px '../images/sprite.png';
$arrow-right_x = 220px;
$arrow-right_y = 252px;
$arrow-right_offset_x = -220px;
$arrow-right_offset_y = -252px;
$arrow-right_width = 10px;
$arrow-right_height = 16px;
$arrow-right_total_width = 358px;
$arrow-right_total_height = 325px;
$arrow-right_image = '../images/sprite.png';
$arrow-right = 220px 252px -220px -252px 10px 16px 358px 325px '../images/sprite.png';
$arrow-sort-down_x = 316px;
$arrow-sort-down_y = 282px;
$arrow-sort-down_offset_x = -316px;
$arrow-sort-down_offset_y = -282px;
$arrow-sort-down_width = 6px;
$arrow-sort-down_height = 9px;
$arrow-sort-down_total_width = 358px;
$arrow-sort-down_total_height = 325px;
$arrow-sort-down_image = '../images/sprite.png';
$arrow-sort-down = 316px 282px -316px -282px 6px 9px 358px 325px '../images/sprite.png';
$arrow-sort-top_x = 217px;
$arrow-sort-top_y = 311px;
$arrow-sort-top_offset_x = -217px;
$arrow-sort-top_offset_y = -311px;
$arrow-sort-top_width = 6px;
$arrow-sort-top_height = 9px;
$arrow-sort-top_total_width = 358px;
$arrow-sort-top_total_height = 325px;
$arrow-sort-top_image = '../images/sprite.png';
$arrow-sort-top = 217px 311px -217px -311px 6px 9px 358px 325px '../images/sprite.png';
$arrow-top_x = 309px;
$arrow-top_y = 258px;
$arrow-top_offset_x = -309px;
$arrow-top_offset_y = -258px;
$arrow-top_width = 16px;
$arrow-top_height = 10px;
$arrow-top_total_width = 358px;
$arrow-top_total_height = 325px;
$arrow-top_image = '../images/sprite.png';
$arrow-top = 309px 258px -309px -258px 16px 10px 358px 325px '../images/sprite.png';
$avatar_x = 244px;
$avatar_y = 33px;
$avatar_offset_x = -244px;
$avatar_offset_y = -33px;
$avatar_width = 16px;
$avatar_height = 20px;
$avatar_total_width = 358px;
$avatar_total_height = 325px;
$avatar_image = '../images/sprite.png';
$avatar = 244px 33px -244px -33px 16px 20px 358px 325px '../images/sprite.png';
$avatar_hover_x = 109px;
$avatar_hover_y = 219px;
$avatar_hover_offset_x = -109px;
$avatar_hover_offset_y = -219px;
$avatar_hover_width = 16px;
$avatar_hover_height = 20px;
$avatar_hover_total_width = 358px;
$avatar_hover_total_height = 325px;
$avatar_hover_image = '../images/sprite.png';
$avatar_hover = 109px 219px -109px -219px 16px 20px 358px 325px '../images/sprite.png';
$calendar_icon_x = 138px;
$calendar_icon_y = 219px;
$calendar_icon_offset_x = -138px;
$calendar_icon_offset_y = -219px;
$calendar_icon_width = 19px;
$calendar_icon_height = 20px;
$calendar_icon_total_width = 358px;
$calendar_icon_total_height = 325px;
$calendar_icon_image = '../images/sprite.png';
$calendar_icon = 138px 219px -138px -219px 19px 20px 358px 325px '../images/sprite.png';
$catalog_hot_x = 338px;
$catalog_hot_y = 0px;
$catalog_hot_offset_x = -338px;
$catalog_hot_offset_y = 0px;
$catalog_hot_width = 20px;
$catalog_hot_height = 15px;
$catalog_hot_total_width = 358px;
$catalog_hot_total_height = 325px;
$catalog_hot_image = '../images/sprite.png';
$catalog_hot = 338px 0px -338px 0px 20px 15px 358px 325px '../images/sprite.png';
$catalog_hot_small_x = 143px;
$catalog_hot_small_y = 311px;
$catalog_hot_small_offset_x = -143px;
$catalog_hot_small_offset_y = -311px;
$catalog_hot_small_width = 11px;
$catalog_hot_small_height = 9px;
$catalog_hot_small_total_width = 358px;
$catalog_hot_small_total_height = 325px;
$catalog_hot_small_image = '../images/sprite.png';
$catalog_hot_small = 143px 311px -143px -311px 11px 9px 358px 325px '../images/sprite.png';
$catalog_novelty_x = 99px;
$catalog_novelty_y = 282px;
$catalog_novelty_offset_x = -99px;
$catalog_novelty_offset_y = -282px;
$catalog_novelty_width = 17px;
$catalog_novelty_height = 15px;
$catalog_novelty_total_width = 358px;
$catalog_novelty_total_height = 325px;
$catalog_novelty_image = '../images/sprite.png';
$catalog_novelty = 99px 282px -99px -282px 17px 15px 358px 325px '../images/sprite.png';
$catalog_novelty_small_x = 167px;
$catalog_novelty_small_y = 311px;
$catalog_novelty_small_offset_x = -167px;
$catalog_novelty_small_offset_y = -311px;
$catalog_novelty_small_width = 9px;
$catalog_novelty_small_height = 9px;
$catalog_novelty_small_total_width = 358px;
$catalog_novelty_small_total_height = 325px;
$catalog_novelty_small_image = '../images/sprite.png';
$catalog_novelty_small = 167px 311px -167px -311px 9px 9px 358px 325px '../images/sprite.png';
$catalog_recommended_x = 192px;
$catalog_recommended_y = 282px;
$catalog_recommended_offset_x = -192px;
$catalog_recommended_offset_y = -282px;
$catalog_recommended_width = 26px;
$catalog_recommended_height = 15px;
$catalog_recommended_total_width = 358px;
$catalog_recommended_total_height = 325px;
$catalog_recommended_image = '../images/sprite.png';
$catalog_recommended = 192px 282px -192px -282px 26px 15px 358px 325px '../images/sprite.png';
$catalog_recommended_small_x = 189px;
$catalog_recommended_small_y = 311px;
$catalog_recommended_small_offset_x = -189px;
$catalog_recommended_small_offset_y = -311px;
$catalog_recommended_small_width = 15px;
$catalog_recommended_small_height = 9px;
$catalog_recommended_small_total_width = 358px;
$catalog_recommended_small_total_height = 325px;
$catalog_recommended_small_image = '../images/sprite.png';
$catalog_recommended_small = 189px 311px -189px -311px 15px 9px 358px 325px '../images/sprite.png';
$checkbox_x = 0px;
$checkbox_y = 219px;
$checkbox_offset_x = 0px;
$checkbox_offset_y = -219px;
$checkbox_width = 25px;
$checkbox_height = 20px;
$checkbox_total_width = 358px;
$checkbox_total_height = 325px;
$checkbox_image = '../images/sprite.png';
$checkbox = 0px 219px 0px -219px 25px 20px 358px 325px '../images/sprite.png';
$checkbox_general_x = 183px;
$checkbox_general_y = 182px;
$checkbox_general_offset_x = -183px;
$checkbox_general_offset_y = -182px;
$checkbox_general_width = 21px;
$checkbox_general_height = 21px;
$checkbox_general_total_width = 358px;
$checkbox_general_total_height = 325px;
$checkbox_general_image = '../images/sprite.png';
$checkbox_general = 183px 182px -183px -182px 21px 21px 358px 325px '../images/sprite.png';
$checkbox_general_big_x = 59px;
$checkbox_general_big_y = 0px;
$checkbox_general_big_offset_x = -59px;
$checkbox_general_big_offset_y = 0px;
$checkbox_general_big_width = 36px;
$checkbox_general_big_height = 36px;
$checkbox_general_big_total_width = 358px;
$checkbox_general_big_total_height = 325px;
$checkbox_general_big_image = '../images/sprite.png';
$checkbox_general_big = 59px 0px -59px 0px 36px 36px 358px 325px '../images/sprite.png';
$checkbox_general_big_checked_x = 0px;
$checkbox_general_big_checked_y = 0px;
$checkbox_general_big_checked_offset_x = 0px;
$checkbox_general_big_checked_offset_y = 0px;
$checkbox_general_big_checked_width = 46px;
$checkbox_general_big_checked_height = 41px;
$checkbox_general_big_checked_total_width = 358px;
$checkbox_general_big_checked_total_height = 325px;
$checkbox_general_big_checked_image = '../images/sprite.png';
$checkbox_general_big_checked = 0px 0px 0px 0px 46px 41px 358px 325px '../images/sprite.png';
$checkbox_general_checked_x = 203px;
$checkbox_general_checked_y = 37px;
$checkbox_general_checked_offset_x = -203px;
$checkbox_general_checked_offset_y = -37px;
$checkbox_general_checked_width = 27px;
$checkbox_general_checked_height = 24px;
$checkbox_general_checked_total_width = 358px;
$checkbox_general_checked_total_height = 325px;
$checkbox_general_checked_image = '../images/sprite.png';
$checkbox_general_checked = 203px 37px -203px -37px 27px 24px 358px 325px '../images/sprite.png';
$checkbox_general_checked_minus_x = 149px;
$checkbox_general_checked_minus_y = 182px;
$checkbox_general_checked_minus_offset_x = -149px;
$checkbox_general_checked_minus_offset_y = -182px;
$checkbox_general_checked_minus_width = 21px;
$checkbox_general_checked_minus_height = 21px;
$checkbox_general_checked_minus_total_width = 358px;
$checkbox_general_checked_minus_total_height = 325px;
$checkbox_general_checked_minus_image = '../images/sprite.png';
$checkbox_general_checked_minus = 149px 182px -149px -182px 21px 21px 358px 325px '../images/sprite.png';
$checkbox_general_small_x = 309px;
$checkbox_general_small_y = 87px;
$checkbox_general_small_offset_x = -309px;
$checkbox_general_small_offset_y = -87px;
$checkbox_general_small_width = 16px;
$checkbox_general_small_height = 16px;
$checkbox_general_small_total_width = 358px;
$checkbox_general_small_total_height = 325px;
$checkbox_general_small_image = '../images/sprite.png';
$checkbox_general_small = 309px 87px -309px -87px 16px 16px 358px 325px '../images/sprite.png';
$checkbox_general_small_checked_x = 277px;
$checkbox_general_small_checked_y = 123px;
$checkbox_general_small_checked_offset_x = -277px;
$checkbox_general_small_checked_offset_y = -123px;
$checkbox_general_small_checked_width = 19px;
$checkbox_general_small_checked_height = 17px;
$checkbox_general_small_checked_total_width = 358px;
$checkbox_general_small_checked_total_height = 325px;
$checkbox_general_small_checked_image = '../images/sprite.png';
$checkbox_general_small_checked = 277px 123px -277px -123px 19px 17px 358px 325px '../images/sprite.png';
$checkbox_unchecked_x = 38px;
$checkbox_unchecked_y = 219px;
$checkbox_unchecked_offset_x = -38px;
$checkbox_unchecked_offset_y = -219px;
$checkbox_unchecked_width = 25px;
$checkbox_unchecked_height = 20px;
$checkbox_unchecked_total_width = 358px;
$checkbox_unchecked_total_height = 325px;
$checkbox_unchecked_image = '../images/sprite.png';
$checkbox_unchecked = 38px 219px -38px -219px 25px 20px 358px 325px '../images/sprite.png';
$copy--code_x = 309px;
$copy--code_y = 145px;
$copy--code_offset_x = -309px;
$copy--code_offset_y = -145px;
$copy--code_width = 16px;
$copy--code_height = 16px;
$copy--code_total_width = 358px;
$copy--code_total_height = 325px;
$copy--code_image = '../images/sprite.png';
$copy--code = 309px 145px -309px -145px 16px 16px 358px 325px '../images/sprite.png';
$download-icon_x = 309px;
$download-icon_y = 174px;
$download-icon_offset_x = -309px;
$download-icon_offset_y = -174px;
$download-icon_width = 16px;
$download-icon_height = 15px;
$download-icon_total_width = 358px;
$download-icon_total_height = 325px;
$download-icon_image = '../images/sprite.png';
$download-icon = 309px 174px -309px -174px 16px 15px 358px 325px '../images/sprite.png';
$dropdown__active_x = 338px;
$dropdown__active_y = 279px;
$dropdown__active_offset_x = -338px;
$dropdown__active_offset_y = -279px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 358px;
$dropdown__active_total_height = 325px;
$dropdown__active_image = '../images/sprite.png';
$dropdown__active = 338px 279px -338px -279px 11px 10px 358px 325px '../images/sprite.png';
$folder_x = 131px;
$folder_y = 142px;
$folder_offset_x = -131px;
$folder_offset_y = -142px;
$folder_width = 28px;
$folder_height = 25px;
$folder_total_width = 358px;
$folder_total_height = 325px;
$folder_image = '../images/sprite.png';
$folder = 131px 142px -131px -142px 28px 25px 358px 325px '../images/sprite.png';
$folder_opened_x = 83px;
$folder_opened_y = 142px;
$folder_opened_offset_x = -83px;
$folder_opened_offset_y = -142px;
$folder_opened_width = 35px;
$folder_opened_height = 25px;
$folder_opened_total_width = 358px;
$folder_opened_total_height = 325px;
$folder_opened_image = '../images/sprite.png';
$folder_opened = 83px 142px -83px -142px 35px 25px 358px 325px '../images/sprite.png';
$icon--cart_x = 41px;
$icon--cart_y = 182px;
$icon--cart_offset_x = -41px;
$icon--cart_offset_y = -182px;
$icon--cart_width = 29px;
$icon--cart_height = 24px;
$icon--cart_total_width = 358px;
$icon--cart_total_height = 325px;
$icon--cart_image = '../images/sprite.png';
$icon--cart = 41px 182px -41px -182px 29px 24px 358px 325px '../images/sprite.png';
$icon--close--xs_x = 244px;
$icon--close--xs_y = 198px;
$icon--close--xs_offset_x = -244px;
$icon--close--xs_offset_y = -198px;
$icon--close--xs_width = 7px;
$icon--close--xs_height = 7px;
$icon--close--xs_total_width = 358px;
$icon--close--xs_total_height = 325px;
$icon--close--xs_image = '../images/sprite.png';
$icon--close--xs = 244px 198px -244px -198px 7px 7px 358px 325px '../images/sprite.png';
$icon--confirm_x = 170px;
$icon--confirm_y = 219px;
$icon--confirm_offset_x = -170px;
$icon--confirm_offset_y = -219px;
$icon--confirm_width = 20px;
$icon--confirm_height = 20px;
$icon--confirm_total_width = 358px;
$icon--confirm_total_height = 325px;
$icon--confirm_image = '../images/sprite.png';
$icon--confirm = 170px 219px -170px -219px 20px 20px 358px 325px '../images/sprite.png';
$icon--docs_x = 203px;
$icon--docs_y = 219px;
$icon--docs_offset_x = -203px;
$icon--docs_offset_y = -219px;
$icon--docs_width = 16px;
$icon--docs_height = 20px;
$icon--docs_total_width = 358px;
$icon--docs_total_height = 325px;
$icon--docs_image = '../images/sprite.png';
$icon--docs = 203px 219px -203px -219px 16px 20px 358px 325px '../images/sprite.png';
$icon--goods_x = 277px;
$icon--goods_y = 62px;
$icon--goods_offset_x = -277px;
$icon--goods_offset_y = -62px;
$icon--goods_width = 19px;
$icon--goods_height = 18px;
$icon--goods_total_width = 358px;
$icon--goods_total_height = 325px;
$icon--goods_image = '../images/sprite.png';
$icon--goods = 277px 62px -277px -62px 19px 18px 358px 325px '../images/sprite.png';
$icon--help_x = 129px;
$icon--help_y = 99px;
$icon--help_offset_x = -129px;
$icon--help_offset_y = -99px;
$icon--help_width = 15px;
$icon--help_height = 26px;
$icon--help_total_width = 358px;
$icon--help_total_height = 325px;
$icon--help_image = '../images/sprite.png';
$icon--help = 129px 99px -129px -99px 15px 26px 358px 325px '../images/sprite.png';
$icon--home_x = 244px;
$icon--home_y = 99px;
$icon--home_offset_x = -244px;
$icon--home_offset_y = -99px;
$icon--home_width = 20px;
$icon--home_height = 20px;
$icon--home_total_width = 358px;
$icon--home_total_height = 325px;
$icon--home_image = '../images/sprite.png';
$icon--home = 244px 99px -244px -99px 20px 20px 358px 325px '../images/sprite.png';
$icon--logout_x = 338px;
$icon--logout_y = 28px;
$icon--logout_offset_x = -338px;
$icon--logout_offset_y = -28px;
$icon--logout_width = 12px;
$icon--logout_height = 14px;
$icon--logout_total_width = 358px;
$icon--logout_total_height = 325px;
$icon--logout_image = '../images/sprite.png';
$icon--logout = 338px 28px -338px -28px 12px 14px 358px 325px '../images/sprite.png';
$icon--menu-trigger-active_x = 338px;
$icon--menu-trigger-active_y = 133px;
$icon--menu-trigger-active_offset_x = -338px;
$icon--menu-trigger-active_offset_y = -133px;
$icon--menu-trigger-active_width = 13px;
$icon--menu-trigger-active_height = 12px;
$icon--menu-trigger-active_total_width = 358px;
$icon--menu-trigger-active_total_height = 325px;
$icon--menu-trigger-active_image = '../images/sprite.png';
$icon--menu-trigger-active = 338px 133px -338px -133px 13px 12px 358px 325px '../images/sprite.png';
$icon--menu-trigger_x = 338px;
$icon--menu-trigger_y = 183px;
$icon--menu-trigger_offset_x = -338px;
$icon--menu-trigger_offset_y = -183px;
$icon--menu-trigger_width = 13px;
$icon--menu-trigger_height = 12px;
$icon--menu-trigger_total_width = 358px;
$icon--menu-trigger_total_height = 325px;
$icon--menu-trigger_image = '../images/sprite.png';
$icon--menu-trigger = 338px 183px -338px -183px 13px 12px 358px 325px '../images/sprite.png';
$icon--reject_x = 244px;
$icon--reject_y = 66px;
$icon--reject_offset_x = -244px;
$icon--reject_offset_y = -66px;
$icon--reject_width = 20px;
$icon--reject_height = 20px;
$icon--reject_total_width = 358px;
$icon--reject_total_height = 325px;
$icon--reject_image = '../images/sprite.png';
$icon--reject = 244px 66px -244px -66px 20px 20px 358px 325px '../images/sprite.png';
$icon--root_x = 0px;
$icon--root_y = 99px;
$icon--root_offset_x = 0px;
$icon--root_offset_y = -99px;
$icon--root_width = 30px;
$icon--root_height = 30px;
$icon--root_total_width = 358px;
$icon--root_total_height = 325px;
$icon--root_image = '../images/sprite.png';
$icon--root = 0px 99px 0px -99px 30px 30px 358px 325px '../images/sprite.png';
$icon--root_goods_x = 160px;
$icon--root_goods_y = 43px;
$icon--root_goods_offset_x = -160px;
$icon--root_goods_offset_y = -43px;
$icon--root_goods_width = 30px;
$icon--root_goods_height = 29px;
$icon--root_goods_total_width = 358px;
$icon--root_goods_total_height = 325px;
$icon--root_goods_image = '../images/sprite.png';
$icon--root_goods = 160px 43px -160px -43px 30px 29px 358px 325px '../images/sprite.png';
$icon--sales_x = 66px;
$icon--sales_y = 282px;
$icon--sales_offset_x = -66px;
$icon--sales_offset_y = -282px;
$icon--sales_width = 20px;
$icon--sales_height = 16px;
$icon--sales_total_width = 358px;
$icon--sales_total_height = 325px;
$icon--sales_image = '../images/sprite.png';
$icon--sales = 66px 282px -66px -282px 20px 16px 358px 325px '../images/sprite.png';
$icon--search_x = 244px;
$icon--search_y = 132px;
$icon--search_offset_x = -244px;
$icon--search_offset_y = -132px;
$icon--search_width = 20px;
$icon--search_height = 20px;
$icon--search_total_width = 358px;
$icon--search_total_height = 325px;
$icon--search_image = '../images/sprite.png';
$icon--search = 244px 132px -244px -132px 20px 20px 358px 325px '../images/sprite.png';
$icon--settings_x = 40px;
$icon--settings_y = 142px;
$icon--settings_offset_x = -40px;
$icon--settings_offset_y = -142px;
$icon--settings_width = 30px;
$icon--settings_height = 27px;
$icon--settings_total_width = 358px;
$icon--settings_total_height = 325px;
$icon--settings_image = '../images/sprite.png';
$icon--settings = 40px 142px -40px -142px 30px 27px 358px 325px '../images/sprite.png';
$icon--shop_x = 0px;
$icon--shop_y = 252px;
$icon--shop_offset_x = 0px;
$icon--shop_offset_y = -252px;
$icon--shop_width = 20px;
$icon--shop_height = 17px;
$icon--shop_total_width = 358px;
$icon--shop_total_height = 325px;
$icon--shop_image = '../images/sprite.png';
$icon--shop = 0px 252px 0px -252px 20px 17px 358px 325px '../images/sprite.png';
$icon--support_x = 203px;
$icon--support_y = 148px;
$icon--support_offset_x = -203px;
$icon--support_offset_y = -148px;
$icon--support_width = 24px;
$icon--support_height = 21px;
$icon--support_total_width = 358px;
$icon--support_total_height = 325px;
$icon--support_image = '../images/sprite.png';
$icon--support = 203px 148px -203px -148px 24px 21px 358px 325px '../images/sprite.png';
$icon--users_x = 103px;
$icon--users_y = 252px;
$icon--users_offset_x = -103px;
$icon--users_offset_y = -252px;
$icon--users_width = 20px;
$icon--users_height = 16px;
$icon--users_total_width = 358px;
$icon--users_total_height = 325px;
$icon--users_image = '../images/sprite.png';
$icon--users = 103px 252px -103px -252px 20px 16px 358px 325px '../images/sprite.png';
$icon--video-close_x = 309px;
$icon--video-close_y = 202px;
$icon--video-close_offset_x = -309px;
$icon--video-close_offset_y = -202px;
$icon--video-close_width = 15px;
$icon--video-close_height = 15px;
$icon--video-close_total_width = 358px;
$icon--video-close_total_height = 325px;
$icon--video-close_image = '../images/sprite.png';
$icon--video-close = 309px 202px -309px -202px 15px 15px 358px 325px '../images/sprite.png';
$icon--video-next_x = 203px;
$icon--video-next_y = 74px;
$icon--video-next_offset_x = -203px;
$icon--video-next_offset_y = -74px;
$icon--video-next_width = 14px;
$icon--video-next_height = 24px;
$icon--video-next_total_width = 358px;
$icon--video-next_total_height = 325px;
$icon--video-next_image = '../images/sprite.png';
$icon--video-next = 203px 74px -203px -74px 14px 24px 358px 325px '../images/sprite.png';
$icon--video-playlist_x = 162px;
$icon--video-playlist_y = 282px;
$icon--video-playlist_offset_x = -162px;
$icon--video-playlist_offset_y = -282px;
$icon--video-playlist_width = 17px;
$icon--video-playlist_height = 15px;
$icon--video-playlist_total_width = 358px;
$icon--video-playlist_total_height = 325px;
$icon--video-playlist_image = '../images/sprite.png';
$icon--video-playlist = 162px 282px -162px -282px 17px 15px 358px 325px '../images/sprite.png';
$icon--video-prev_x = 203px;
$icon--video-prev_y = 111px;
$icon--video-prev_offset_x = -203px;
$icon--video-prev_offset_y = -111px;
$icon--video-prev_width = 14px;
$icon--video-prev_height = 24px;
$icon--video-prev_total_width = 358px;
$icon--video-prev_total_height = 325px;
$icon--video-prev_image = '../images/sprite.png';
$icon--video-prev = 203px 111px -203px -111px 14px 24px 358px 325px '../images/sprite.png';
$icon--video_x = 232px;
$icon--video_y = 219px;
$icon--video_offset_x = -232px;
$icon--video_offset_y = -219px;
$icon--video_width = 24px;
$icon--video_height = 18px;
$icon--video_total_width = 358px;
$icon--video_total_height = 325px;
$icon--video_image = '../images/sprite.png';
$icon--video = 232px 219px -232px -219px 24px 18px 358px 325px '../images/sprite.png';
$images_favorite_x = 338px;
$images_favorite_y = 208px;
$images_favorite_offset_x = -338px;
$images_favorite_offset_y = -208px;
$images_favorite_width = 12px;
$images_favorite_height = 12px;
$images_favorite_total_width = 358px;
$images_favorite_total_height = 325px;
$images_favorite_image = '../images/sprite.png';
$images_favorite = 338px 208px -338px -208px 12px 12px 358px 325px '../images/sprite.png';
$import-goods_x = 83px;
$import-goods_y = 182px;
$import-goods_offset_x = -83px;
$import-goods_offset_y = -182px;
$import-goods_width = 20px;
$import-goods_height = 23px;
$import-goods_total_width = 358px;
$import-goods_total_height = 325px;
$import-goods_image = '../images/sprite.png';
$import-goods = 83px 182px -83px -182px 20px 23px 358px 325px '../images/sprite.png';
$import-goods_hover_x = 116px;
$import-goods_hover_y = 182px;
$import-goods_hover_offset_x = -116px;
$import-goods_hover_offset_y = -182px;
$import-goods_hover_width = 20px;
$import-goods_hover_height = 23px;
$import-goods_hover_total_width = 358px;
$import-goods_hover_total_height = 325px;
$import-goods_hover_image = '../images/sprite.png';
$import-goods_hover = 116px 182px -116px -182px 20px 23px 358px 325px '../images/sprite.png';
$input-digital_x = 0px;
$input-digital_y = 182px;
$input-digital_offset_x = 0px;
$input-digital_offset_y = -182px;
$input-digital_width = 28px;
$input-digital_height = 24px;
$input-digital_total_width = 358px;
$input-digital_total_height = 325px;
$input-digital_image = '../images/sprite.png';
$input-digital = 0px 182px 0px -182px 28px 24px 358px 325px '../images/sprite.png';
$input-digital_checked_x = 203px;
$input-digital_checked_y = 0px;
$input-digital_checked_offset_x = -203px;
$input-digital_checked_offset_y = 0px;
$input-digital_checked_width = 28px;
$input-digital_checked_height = 24px;
$input-digital_checked_total_width = 358px;
$input-digital_checked_total_height = 325px;
$input-digital_checked_image = '../images/sprite.png';
$input-digital_checked = 203px 0px -203px 0px 28px 24px 358px 325px '../images/sprite.png';
$input-physical_x = 0px;
$input-physical_y = 142px;
$input-physical_offset_x = 0px;
$input-physical_offset_y = -142px;
$input-physical_width = 27px;
$input-physical_height = 27px;
$input-physical_total_width = 358px;
$input-physical_total_height = 325px;
$input-physical_image = '../images/sprite.png';
$input-physical = 0px 142px 0px -142px 27px 27px 358px 325px '../images/sprite.png';
$input-physical_checked_x = 160px;
$input-physical_checked_y = 85px;
$input-physical_checked_offset_x = -160px;
$input-physical_checked_offset_y = -85px;
$input-physical_checked_width = 27px;
$input-physical_checked_height = 27px;
$input-physical_checked_total_width = 358px;
$input-physical_checked_total_height = 325px;
$input-physical_checked_image = '../images/sprite.png';
$input-physical_checked = 160px 85px -160px -85px 27px 27px 358px 325px '../images/sprite.png';
$load-digital-goods_x = 0px;
$load-digital-goods_y = 54px;
$load-digital-goods_offset_x = 0px;
$load-digital-goods_offset_y = -54px;
$load-digital-goods_width = 39px;
$load-digital-goods_height = 32px;
$load-digital-goods_total_width = 358px;
$load-digital-goods_total_height = 325px;
$load-digital-goods_image = '../images/sprite.png';
$load-digital-goods = 0px 54px 0px -54px 39px 32px 358px 325px '../images/sprite.png';
$load-digital-goods_hover_x = 52px;
$load-digital-goods_hover_y = 54px;
$load-digital-goods_hover_offset_x = -52px;
$load-digital-goods_hover_offset_y = -54px;
$load-digital-goods_hover_width = 39px;
$load-digital-goods_hover_height = 32px;
$load-digital-goods_hover_total_width = 358px;
$load-digital-goods_hover_total_height = 325px;
$load-digital-goods_hover_image = '../images/sprite.png';
$load-digital-goods_hover = 52px 54px -52px -54px 39px 32px 358px 325px '../images/sprite.png';
$load-real-goods_x = 108px;
$load-real-goods_y = 0px;
$load-real-goods_offset_x = -108px;
$load-real-goods_offset_y = 0px;
$load-real-goods_width = 39px;
$load-real-goods_height = 31px;
$load-real-goods_total_width = 358px;
$load-real-goods_total_height = 325px;
$load-real-goods_image = '../images/sprite.png';
$load-real-goods = 108px 0px -108px 0px 39px 31px 358px 325px '../images/sprite.png';
$load-real-goods_hover_x = 108px;
$load-real-goods_hover_y = 44px;
$load-real-goods_hover_offset_x = -108px;
$load-real-goods_hover_offset_y = -44px;
$load-real-goods_hover_width = 39px;
$load-real-goods_hover_height = 31px;
$load-real-goods_hover_total_width = 358px;
$load-real-goods_hover_total_height = 325px;
$load-real-goods_hover_image = '../images/sprite.png';
$load-real-goods_hover = 108px 44px -108px -44px 39px 31px 358px 325px '../images/sprite.png';
$mute_x = 309px;
$mute_y = 58px;
$mute_offset_x = -309px;
$mute_offset_y = -58px;
$mute_width = 10px;
$mute_height = 16px;
$mute_total_width = 358px;
$mute_total_height = 325px;
$mute_image = '../images/sprite.png';
$mute = 309px 58px -309px -58px 10px 16px 358px 325px '../images/sprite.png';
$notification_bell_x = 262px;
$notification_bell_y = 282px;
$notification_bell_offset_x = -262px;
$notification_bell_offset_y = -282px;
$notification_bell_width = 12px;
$notification_bell_height = 15px;
$notification_bell_total_width = 358px;
$notification_bell_total_height = 325px;
$notification_bell_image = '../images/sprite.png';
$notification_bell = 262px 282px -262px -282px 12px 15px 358px 325px '../images/sprite.png';
$notification_message_x = 338px;
$notification_message_y = 55px;
$notification_message_offset_x = -338px;
$notification_message_offset_y = -55px;
$notification_message_width = 18px;
$notification_message_height = 13px;
$notification_message_total_width = 358px;
$notification_message_total_height = 325px;
$notification_message_image = '../images/sprite.png';
$notification_message = 338px 55px -338px -55px 18px 13px 358px 325px '../images/sprite.png';
$pic__alert_x = 160px;
$pic__alert_y = 0px;
$pic__alert_offset_x = -160px;
$pic__alert_offset_y = 0px;
$pic__alert_width = 30px;
$pic__alert_height = 30px;
$pic__alert_total_width = 358px;
$pic__alert_total_height = 325px;
$pic__alert_image = '../images/sprite.png';
$pic__alert = 160px 0px -160px 0px 30px 30px 358px 325px '../images/sprite.png';
$pic__done_x = 86px;
$pic__done_y = 99px;
$pic__done_offset_x = -86px;
$pic__done_offset_y = -99px;
$pic__done_width = 30px;
$pic__done_height = 30px;
$pic__done_total_width = 358px;
$pic__done_total_height = 325px;
$pic__done_image = '../images/sprite.png';
$pic__done = 86px 99px -86px -99px 30px 30px 358px 325px '../images/sprite.png';
$pic__fail_x = 43px;
$pic__fail_y = 99px;
$pic__fail_offset_x = -43px;
$pic__fail_offset_y = -99px;
$pic__fail_width = 30px;
$pic__fail_height = 30px;
$pic__fail_total_width = 358px;
$pic__fail_total_height = 325px;
$pic__fail_image = '../images/sprite.png';
$pic__fail = 43px 99px -43px -99px 30px 30px 358px 325px '../images/sprite.png';
$remove_big_x = 243px;
$remove_big_y = 252px;
$remove_big_offset_x = -243px;
$remove_big_offset_y = -252px;
$remove_big_width = 16px;
$remove_big_height = 16px;
$remove_big_total_width = 358px;
$remove_big_total_height = 325px;
$remove_big_image = '../images/sprite.png';
$remove_big = 243px 252px -243px -252px 16px 16px 358px 325px '../images/sprite.png';
$remove_small_x = 338px;
$remove_small_y = 233px;
$remove_small_offset_x = -338px;
$remove_small_offset_y = -233px;
$remove_small_width = 10px;
$remove_small_height = 10px;
$remove_small_total_width = 358px;
$remove_small_total_height = 325px;
$remove_small_image = '../images/sprite.png';
$remove_small = 338px 233px -338px -233px 10px 10px 358px 325px '../images/sprite.png';
$remove_small_hover_x = 120px;
$remove_small_hover_y = 311px;
$remove_small_hover_offset_x = -120px;
$remove_small_hover_offset_y = -311px;
$remove_small_hover_width = 10px;
$remove_small_hover_height = 10px;
$remove_small_hover_total_width = 358px;
$remove_small_hover_total_height = 325px;
$remove_small_hover_image = '../images/sprite.png';
$remove_small_hover = 120px 311px -120px -311px 10px 10px 358px 325px '../images/sprite.png';
$rubric-icon_x = 136px;
$rubric-icon_y = 252px;
$rubric-icon_offset_x = -136px;
$rubric-icon_offset_y = -252px;
$rubric-icon_width = 16px;
$rubric-icon_height = 16px;
$rubric-icon_total_width = 358px;
$rubric-icon_total_height = 325px;
$rubric-icon_image = '../images/sprite.png';
$rubric-icon = 136px 252px -136px -252px 16px 16px 358px 325px '../images/sprite.png';
$search_x = 277px;
$search_y = 213px;
$search_offset_x = -277px;
$search_offset_y = -213px;
$search_width = 17px;
$search_height = 17px;
$search_total_width = 358px;
$search_total_height = 325px;
$search_image = '../images/sprite.png';
$search = 277px 213px -277px -213px 17px 17px 358px 325px '../images/sprite.png';
$selected_select_x = 338px;
$selected_select_y = 158px;
$selected_select_offset_x = -338px;
$selected_select_offset_y = -158px;
$selected_select_width = 13px;
$selected_select_height = 12px;
$selected_select_total_width = 358px;
$selected_select_total_height = 325px;
$selected_select_image = '../images/sprite.png';
$selected_select = 338px 158px -338px -158px 13px 12px 358px 325px '../images/sprite.png';
$upload-icon_x = 129px;
$upload-icon_y = 282px;
$upload-icon_offset_x = -129px;
$upload-icon_offset_y = -282px;
$upload-icon_width = 20px;
$upload-icon_height = 15px;
$upload-icon_total_width = 358px;
$upload-icon_total_height = 325px;
$upload-icon_image = '../images/sprite.png';
$upload-icon = 129px 282px -129px -282px 20px 15px 358px 325px '../images/sprite.png';
$waiting_x = 217px;
$waiting_y = 182px;
$waiting_offset_x = -217px;
$waiting_offset_y = -182px;
$waiting_width = 12px;
$waiting_height = 16px;
$waiting_total_width = 358px;
$waiting_total_height = 325px;
$waiting_image = '../images/sprite.png';
$waiting = 217px 182px -217px -182px 12px 16px 358px 325px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
