/* основные цвета*/
$orange  	= #ffa800
$green   	= #02903d
$grey    	= #efece7

$btngreen   = #97ce68

/* цвета ссылок и текста*/
$a__link    = #177a93
$a__hover   = $orange
$a__active  = darken($a__hover, 24%)

/* фоны для элементов */
$red     	= #ed1c24 
$blue    	= #177a93
$white   	= #f7f5f3
$dark    	= #666
$darkgrey 	= #bfbdb9


/* цвета соц.сетей */
$vk_color 	= #577da2
$gp_color 	= #d03f2c
$lj_color 	= #004359
$tw_color 	= #55acee
$zp_color   = #00a650


/* Ещё какие-то цвета */
$orange1 	= #f38a1f
$red1 		= #e23f3f // цвет рамки на крестике в корзине

/* Шрифты */
$rubl 	= 'ALSRubl-Tahoma'
$font = 'Open Sans',sans-serif